/*----------------------
Glossary Archive Styles
----------------------*/

.glossary-archive {

    main.content {
        columns: 2 20px;
    }

    .glossary-letter-heading {
        font-size: 1.4rem;
        color: $primary-dark;
        font-weight: bold;
        margin-top: 15px;
        display: block;

        &:nth-of-type(1){
            margin-top: 0;
        }
    }

    .glossary-list-terms {

        margin-left: 1.8rem;
        list-style-position: outside;

        li {
            list-style-type: disc;
        }   
    }

} //End .glossary-archive



/*----------------------
Single Glossary Post Styles
----------------------*/

.single-hc_glossary {

    .entry-header {
        display: none;
    }

} //End .single-hc_glossary 