/*------------------------------------
Maintenance Flyer Styles
- Used in [hc-maintenance-flyer]
-------------------------------------*/

$ambient-purple:    $primary;
$ambient-red:       $secondary;

.maintenance-flyer {

    &__inner {
      max-width: 800px;
      margin: 0 auto;
    }

    &__row {

        width: 100%;
        margin-bottom: 10px;

        @media (min-width: 800px){
            display: flex;
        }
    }

    &__row-left {
       width: 100%;
       position: relative;

       @media (min-width: 800px){
           width: calc(100% - 360px);
           margin-right: 20px;           
       }
       @media (max-width: 800px){
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__row-right {
        width: 100%;
        position: relative;    
        text-align: center; 
    

        @media (min-width: 800px){
            width: 350px;
            margin-left: 20px;
        }
        @media (min-width: 768px){
            padding-bottom: 150px;
        }
    }

    //Interior Content Styles

    &__heading {

        margin: 0;
        line-height: 1.4;
        font-weight: bold;
        text-align: right;
        color: #fff;
        display: block;
        padding: 10px;
        margin-top: 60px;
        position: relative;
        z-index: 10;
        border-radius: 10px 10px 0 10px;

        &:before, &:after {
            display: none;
        }   
        
        @media (max-width: 619px){
            text-align: center;
            border-radius: 10px 10px 0 0;
        }

        &--a {
          background: $ambient-red;
          color: #fff !important;

          @media (min-width: 620px) {
            &:before {
                content: '';
                background: url(../images/flyer/ambient-pbj-box-a.png) no-repeat center center;
                background-size: 100% auto;
                height: 200px;
                width: 200px;
                position: absolute;
                left: 15px;
                top: -80px;
                display: block;
            }
          } //End @media

        }

        &--b {
            background: $ambient-purple;
            color: #fff !important;

            @media (min-width: 620px) {
                &:before {
                    content: '';
                    background: url(../images/flyer/ambient-pbj-box-b.png) no-repeat center center;
                    background-size: 100% auto;
                    height: 200px;
                    width: 200px;
                    position: absolute;
                    left: 15px;
                    top: -80px;
                    display: block;
                }
              } //End @media
        }
        
    } //End heading

    &__subheading {
        display: block;
        padding-top: 10px;
        color: #222 !important;
        @media (max-width: 800px){
            text-align: center;
        }
    } //End subheading


    //General Content Styles
    &__content {
        padding: 10px;
        border: 1px solid #ccc;
        width: calc(100% - 20px);
        margin-right: 0;
        border-radius: 10px;
        margin-top: -28px;
        margin-left: auto;

        ul {
            li {
                padding-bottom: 0;
            }
        }

        @media (max-width: 800px){
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }


    //Member (discount) Pricing
    &__discount {
        font-size: 1.7em;
        text-align: center;
        line-height: 1.2;
    }

    //Red Corner Styles

    &__corner-rate {
        display: block;        
        background: $ambient-red;
        width: auto;
        padding: 10px;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: -10px;
        border-radius: 0 0 10px 10px;
        margin-top: 15px;

        @media (min-width: 768px){
            position: absolute;
            box-shadow: -2px -2px 4px rgba(0,0,0,0.4);
            bottom: -10px;
            right: -10px;
            border-radius: 10px 0 10px 0;
            width: 300px;
            margin-right: 0;
            margin-left: auto;
            margin-bottom: 0;
        }
    }

    &__corner-rate-monthly {
        display: block;
        text-align: center;
        font-weight: bold;
        color: #fff;
        line-height: 1.1;
        font-size: 2em;
    }

    &__corner-rate-yearly {
        display: block;
        text-align: center;
        font-weight: bold;
        color: #fff;
        line-height: 1.1;
        font-size: 1.5em;
    }

    &__content--eap {
        .maintenance-flyer__interior-photo {
            @media (min-width: 800px){
                padding-top: 30px;
            }
        }
    }


    &__content--tpp {

        background: lighten(#c1d9f2, 12%);
        position: relative;

        @media (min-width: 800px){ 
            &:after {
                content: '';
                display: block;
                background: url(../images/flyer/best-choice-hand.png) no-repeat center center;;
                height: 261px;
                width: 240px;
                background-size: 100% auto;
                position: absolute;
                left: -50px;
                bottom: -30px;
            }
        }

        .maintenance-flyer__interior-photo {
            margin-top: 20px;
            padding-bottom: 20px;

            img {
                width: 180px;
                height: auto;
                margin-bottom: 20px;
                display: block;
                margin-left: auto;
                margin-right: auto;

                &:nth-last-of-type(1){
                    margin-bottom: 0;
                }
            }
        }
    }

    //Disclaimer
    &__disclaimer {
        padding-left: 20px;
        margin-bottom: 60px;
        font-family: $sans-serif; 
        margin-top: 20px;

        p {
            margin-bottom: 0;
            line-height: 1.2;
            font-size: 0.9em;
        }
    }

   

} //End .maintenance-flyer