/*-------------------------------------------
Scholarship Banner Shortcode Styles
--------------------------------------------*/

.scholarship-banner {

    margin: 20px auto;

    &__inner {
        border: 1px solid #d0d0d0;
        border-radius: 4px;
        padding: 15px;
        background: #fff;        
        display: block;
        text-decoration: none;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);

        &:hover {
            background: #f0f0f0;
            
            h3, span {
                color: $primary;
            }
        }
    }

    img {
        border-radius: 4px;
    }

    &__content {
        
        h3 {
            margin-bottom: 3px;
        }

        span {

        }

    }

} //End .scholarship-banner
