/*
Testimonial Shortcode Styles
*/

.interior-testimonial-slider-wrapper {
    max-width: 700px;
    margin: 40px auto;
    background: $primary;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.interior-testimonial-slider {

	position: relative;
	

	&__slide {
		text-align: center;
		color: #fff;
		font-size: 1.3rem;
		display: block;
	} 

	&__slide-content {
		font-size: 1.3rem;
		line-height: 1.3;
		padding:  0 30px;
		display: block;

		@media (max-width: 767px){
			font-size: 1.1rem;
		}
	}

	&__slide-author {
		margin-top: 20px;
		display: block;
		font-weight: bold;
		font-size: 1.3rem;
		padding: 0 30px;
	}

	//Slick Slider Styles
	.slick-next, .slick-prev {
		top: 40%;
		z-index: 100;
	}
	.slick-next {
		right: 0;
	}
	.slick-prev {
		left: 0;
	}

} //End .homepage-testimonials-slider