/*-------------------------------------------
Global Theme Styles & General Overrides
--------------------------------------------*/

//General Wrapper Styles

body {
    background: #f6fbfd;
    color: #222;
    font-family: $sans-serif;
    font-size: 16px;

    @media (min-width: 768px){
        font-size: 16px;
    }

    @media (min-width: 1400px){
        font-size: 18px;
    }
}

.site-inner {
    max-width: 1400px;
    background: #fff;
    //box-shadow: 0 2px 12px rgba(179, 179, 179, 0.3);
    //box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

//Fix for resize splitting Mobile -> Desktop
.site-container {
    @media (min-width: 768px){
        transform: translateX(0) !important;
    }
}


//General Text Styles
.content {

    h1, h2, h3, h4, h5, h6 {
        font-family: $sans-serif-condensed;
        color: darken($primary, 15%);
        font-weight: bold;
        margin: 20px 0;

        b, strong {
            font-weight: 900;
        }

    }
    
    .light {
        font-weight: 300;
    }

    hr {
        border-top: 1px solid #d2d2d2;
    }

    .with-border {
        position: relative;
        background: #fff;
        

        span {
            padding-left: 15px;
            padding-right: 15px;
            background: #fff;
            position: relative;
            z-index: 5;
        }

        &:before {
            height: 1px;
            z-index: 3;
            width: 100%;
            top: 50%;
            background: #ccc;
            content: '';
            position: absolute;
            display: block;
        }
    }

    h3 {
        color: $secondary;
        font-weight: normal;
    }

    .alt-color {
        color: $secondary;
    }

    a { 
        transition: 0.2s;
        color: darken($primary, 20%);

        img {
            opacity: 1;
            transition: 0.2s;
        }
        
        &:hover {
            color: $secondary;

            img {
                opacity: 0.85;
            }
        }
        
    }

    //Button styles
    .button, button {
        display: block;
        background: $secondary;
        color: #fff;
        text-align: center;
        padding: 15px 10px;
        transition: 0.2s;
        text-decoration: none;

        &:hover {
            background: $primary;
            color: #fff;
        }
    }

    //Image Float Styles
    .alignright, .alignleft {
        @media (max-width: 767px) {
            float: none;
            margin: 20px auto;
            display: block;
        }
    }

} //End .content


//Apex Chat Mobile Modifications
@media (max-width: 767px) {

    .livechat {
        display: none !important;
    }

    #apexchat_static_tab_text {
        //transform: translateX(46%) translateY(-50%) rotate(-90deg) scale(0.8) !important;
        //Disabled for visual issue
        top: 56% !important;
    }

    //Responsitioning Userway on Mobile to Avoid Apex
    .userway_mobile {
        bottom: 70px !important;
    }
}
 

//Archive Page Modifications
.archive {
    &.tag, &.category, &.tax-news_category {
        .content-sidebar-wrap > h2.entry-title {
            display: none;
        }
    }
}  

//Remove Gravity Form Labels
.gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_above div[class*=gfield_date_].ginput_container label, .gform_wrapper .field_sublabel_above div[class*=gfield_time_].ginput_container label, .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_date_].ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    display: none;
}

//Better Gravity Forms Spacing (Now that labels are hidden)
.gform_wrapper .ginput_complex .ginput_left input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), .gform_wrapper .ginput_complex .ginput_right input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), .gform_wrapper .ginput_complex .ginput_right select, .gform_wrapper .ginput_complex input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), .gform_wrapper .ginput_complex select {
    margin-bottom: 8px;
}


//X Theme CSS Overrides

//General Wrapper Styles
.x-container, .x-section {
    padding: 0 !important;
}

//Slick Slider Appearance Fixes
.slick-slider {
    .button, button {
        background: transparent !important;
    }
}