/*-------------------------------------------
Setting Up Global SCSS Variables
-------------------------------------------*/


//Theme Colors
$ambient-blue: #0399d7;
$ambient-red: #bd3c42;

//Typgraphy

$sans-serif:            'Montserrat', Arial, sans-serif;
$sans-serif-condensed:  'Montserrat', Arial, sans-serif;
$serif:        'Times New Roman', serif;

//Colors
$primary-alt:   #da6009;
$primary:       $ambient-blue;
$primary-dark:  #2a2a40;
$primary-light:   #646484;
$secondary:     $ambient-red; 
 