/*

Theme Name: X – Child Theme
Theme URI: http://theme.co/x/
Author: Themeco
Author URI: http://theme.co/
Description: Make all of your modifications to X in this child theme.
Version: 1.0.0
Template: x

*/




#plumbing-by-jake {
    display: inline-block;
    float: left;
    height: 90px;
    margin-top: 5px;
    width: 100px;
}
@media (max-width: 454px) {
	.x-brand.img { width: 72% !important; }
	.x-brand img { width: 100% !important; }
	#plumbing-by-jake {
		width: 21%;
	}
}
@media (max-width: 1119px) {
	.x-navbar-inner {
		min-height: inherit;
		overflow: visible;
		padding-bottom: 10px;
	}
}

ul.aiwp_nav_menu>li {
	border: none;
	margin: 0;
	padding: 0;
}
.aiwp_nav_menu a {
	display: block;
	width: 100%;
}
.aiwp_nav_menu a .red, .aiwp_nav_menu a .blue {
	display: inline-block;
	font-weight: bold;
	position: relative;
}
.aiwp_nav_menu a .red, .aiwp_nav_menu a .blue { float: left; }
.aiwp_nav_menu a .red, .aiwp_nav_menu a .red:before { background-color: #c0c0c0; }
.aiwp_nav_menu a .red {
	color: #ed2024;
	padding: 5px 10px;
	width: 75%;
}
.aiwp_nav_menu a .red:before {
	border-right: 2px solid #fff;
	z-index: -1;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: -5px;
	display: block;
	width: 35px;
	-webkit-transform: skew(-15deg);
	-ms-transform: skew(-15deg);
	transform: skew(-15deg);
	z-index: 1;
}
.aiwp_nav_menu a .blue {
	background-color: #e7e7e7;
	color: #3A53A4;
	padding: 5px 10px 5px 15px;
	z-index: 0;
}
.aiwp_nav_menu a:hover .red, .aiwp_nav_menu a:hover .blue,
.aiwp_nav_menu .current-menu-item>a .red, .aiwp_nav_menu .current-menu-item>a .blue { color: #fff; }
.aiwp_nav_menu a:hover .red, .aiwp_nav_menu a:hover .red:before,
.aiwp_nav_menu .current-menu-item>a .red, .aiwp_nav_menu .current-menu-item>a .red:before { background-color: #ed2024; }
.aiwp_nav_menu a:hover .blue,
.aiwp_nav_menu .current-menu-item>a .blue { background-color: #3A53A4; }
.aiwp_nav_menu .current-menu-item>a:after { content: ''; }

.aiwp_button {
	display: block;
	margin: 10px 0;
	overflow: hidden;
	width: 100%;
}
.aiwp_button .red, .aiwp_button .blue {
	border: 2px solid #fff;
	display: inline-block;
	font-weight: bold;
	position: relative;
}
.aiwp_button .red, .aiwp_button .blue { float: left; }
.aiwp_button .red, .aiwp_button .red:before { background-color: #c0c0c0; }
.aiwp_button .red {
	color: #ed2024;
	padding: 10px 5px 10px 20px;
	white-space: nowrap;
	width: 65%;
}
.aiwp_button .red:before {
	border-right: 2px solid #fff;
	z-index: -1;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: -12px;
	display: block;
	width: 20px;
	-webkit-transform: skew(-15deg);
	-ms-transform: skew(-15deg);
	transform: skew(-15deg);
	z-index: 1;
}
.aiwp_button .blue {
	background-color: #e7e7e7;
	color: #3A53A4;
	padding: 10px 20px 10px 25px;
	z-index: 0;
}
.aiwp_button:hover .red, .aiwp_button:hover .blue,
.aiwp_button.current .red, .aiwp_button.current .blue { color: #fff; }
.aiwp_button:hover .red, .aiwp_button:hover .red:before,
.aiwp_button.current .red, .aiwp_button.current .red:before { background-color: #ed2024; }
.aiwp_button:hover .blue,
.aiwp_button.current .blue { background-color: #3A53A4; }
.aiwp_button.current:after { content: ''; }

h1.location { margin-bottom: 10px !important; }
h1.location span { line-height: 1.75em; }

.locations-header { padding: 30px 10px; }
.locations-header h1, .locations-header h2 { color: #fff; }
.locations-header h2 {
	font-size: 20px;
	margin-bottom: 30px;
}
.locations-header .aiwp_button {
	font-size: 1.5em;
	max-width: 350px;
}
.locations-header .aiwp_button .red:before {
	border-right: 3px solid #fff;
}

.sidebar-clear { overflow:hidden; }
@media (max-width: 767px) {
.x-sidebar .x-1-2 {
    width: 50%;
    float: left;
}
.x-sidebar .x-1-3 {
    width: 33%;
    float: left;
}
}

@media (max-width: 979px) {
	div.gform_body { margin: 0; }
}
@media (min-width: 980px) {
	.gform_wrapper ul.gform_fields li.gfield { padding-right: 0; }
}

.x-icon-facebook-square:before {
	content: "\f09a" !important;
}
.x-icon-twitter-square:before {
	content: "\f099" !important;
}
.x-icon-google-plus-square:before {
	content: "\f0d5" !important;
}
.x-icon-linkedin-square:before {
	content: "\f0e1" !important;
}

.widget {
    overflow: hidden;
}
h4.h-widget {
    margin-left: 0;
    margin-top: 15px;
}

@media (max-width: 767px) {
	.footer-desktop { display: none; }
}
@media (min-width: 768px) {
	.footer-mobile { display: none; }
}

.x-recent-posts .x-recent-posts-img:after {
    background-color: #ccc !important;
}

[role="main"] select, [role="main"] textarea, [role="main"] input[type], [role="main"] .uneditable-input { border: 1px solid #aaa !important; }



.page:not(.page-id-4201) aside.x-sidebar {
/*     margin-top: -80px; */
}


h2.featured-on-logos__title,
.featured-on-logos__image-list{
    display: inline-flex!important;
    vertical-align: baseline;
	margin: 0 20px;
}
.featured-on-logos__inner {
	text-align: center;
}
body .featured-on-logos {
	padding-top: 15px;
		padding-bottom: 15px;
}

.x-header-landmark + .x-container .x-sidebar {
    margin-top: -101px;
}

.page:not(.page-id-4201) header.x-header-landmark.test2 {
    max-width: 78%;
}



.rs-left-block {
	background: #fff;
	color: #fff;
    padding: 10px;
    position: fixed;
    z-index: 9999;
    left: 0;
    bottom: 0;
    text-align: center;
/*     border: 1px solid #000; */
    border-radius: 50% 50% 0 0;
    width: 160px;
    height: 160px;
}
.rs-left-block:hover {
	color: #fff;
	text-decoration: underline;
}
.rs-left-block .rs-close-button {
	position: absolute;
    left: 85%;
    bottom: 80%;
    color: #fff;
    background: #4e4e4e;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
    border: 0;
    padding: 0;
}
.rs-left-block img {
	max-width: 250px;
    max-height: 120px;
    display: block;
    margin: 0 auto;
}
.rs-left-heading {
	display: block;
	font-size: 14px;
}


@media screen and (max-width: 767px) {
	.rs-left-block {
		display: none;
	}
}

.nap-listing {width: 100%; max-width: 500px; float: right; margin-left: 15px; font-size: 16px;}
@media screen and (max-width: 767px){ .nap-listing { float: none; margin: 0 auto 20px auto; } }








#bzOpeningsContainer ul {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
}
h1.bzCategory {
float: left;
	font-size: 20px;
	margin-top: 20px;
}
h1.bzCategory:after {
	display: none;
}

button.bzButtonApply {
    margin-left: 20px;
    font-size: 11px;
}
.bzOpening h2 {
    margin-top: 0;
    font-size: 17px;
    color: #333;
	clear: both;
	margin-top: 5px;
	float: left;
}
.bzOpening h2:after {
	display: none;
}

ul.bzMeta {
    float: left;
    width: 100%;
}

#bzOpeningsContainer .bzMeta li {
    display: inline-block;
    font-size: 12px;
	color: #333;
}
li.bzOpening {
	clear: both;
}







@media screen and (max-width: 767px) {
  html {
    width: 100%;
    overflow-x: hidden;
  }
  body.page-id-5221 .small-5.columns.raised {
    width: 100%;
      display: block;
      margin: 0 auto 50px;
  }
body.page-id-5221 .entry-wrap #nv-gps, body .page-id-5221 .entry-wrap #nv-phone1 {
    width: 12px !important;
    margin-left: 20px;
}
	body.page-id-5221 .entry-wrap #nv-phone1 {
		margin-right: 20px!important;
	}
	body.page-id-5221 .x-sidebar.right {
		margin-top: 20px!important;
	}
	body.page-id-5221 .x-brand.img {
		width: 72% !important;
		margin: 0 auto;
		display: block;
		float: none;
	}

.fancybox-container p {
	margin-right: 0!important;
	margin-left: 0!important;
}
	#online-application .commercial-form-header {
		font-size: 19px;
	}
}


@media screen and (max-width: 768px) {
	#x-section-10 .flex-control-nav.flex-control-paging {
		display:none!important;
	}
	.page-id-1149 .rs-faq-header-wrp,
	.page-id-1149 ul.random-faq-loop-text {
		display: none;
	}

	body .featured-on-logos {
		margin-top: 50px;
	}
	.featured-on-logos__image {
		max-width: 40%!important;
	}
	div #contact-nv {
		margin-top: 7px!important;
	}

	#cs-content + .h-custom-headline.cs-ta-center.h5.accent,
	#cs-content + .h-custom-headline.cs-ta-center.h5.accent + div{
		display: none;
	}
	.x-header-landmark+.x-container .x-sidebar {
		margin-top: 0!important;
	}
	.page-id-4279 header.x-header-landmark.test2 {
		display: none;
	}
	.page-id-4279 .x-navbar {
		margin-top: 70px !important;
	}
	#slide-98-layer-11 {
		white-space: normal!important;
		width: 237px!important;
		text-align: center!important;
		margin-top: -15px!important;
		line-height: 1.4!important;
		margin-left: -10px!important;
	}
	.page-id-5221 p span.contact-text {
		margin-left: 0!important;
	}
	.page-id-5221 .x-slider-container.below {
		display: none;
	}
	.rs-addresses-wrapper .rs-addresses {
		margin: 0 auto;
		text-align: center;
	}
	.page-id-5221 .x-navbar {
		margin-top: 100px !important;
	}
	.page-id-5221 header.x-header-landmark.test2 {
		max-width: 100%!important;
	}
	.page-id-5221 .h-landmark span, .entry-title.h-landmark span {
		text-align: center!important;
	}
	.page-id-5221 h1:after {
		display: none;
	}
	.page-id-5221 .x-header-landmark .x-container.max.width {
		padding: 0 30px 0 15px!important;
	}
}
.page-id-5221 header.x-header-landmark.test2 {
    margin-top: -61px !important;
}

.rs-addresses-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rs-addresses-wrapper .rs-addresses {
	min-width: 290px;
}
.rs-addresses-wrapper .rs-addresses h6 {
    font-size: 17px!important;
}
.page-id-5221 .entry-wrap address {
	font-size: 15px;
}
.page-id-4279 header.x-header-landmark.test2 {
	margin-top: 61px;
}
.rs-form-caption {
	font-size: 12px;
	margin: 20px 0;
}

/* .page-id-5238 .x-sidebar.right {
	display: none!important;
} */
.page-id-5238 .rs-faq-header-wrp,
.page-id-5238 .random-faq-loop-text,
.page-id-4279 .rs-faq-header-wrp,
.page-id-4279 .random-faq-loop-text{
	display: none;
}


.rs-sidebar-faq a + div{
	display: none;
}
.rs-sidebar-faq a {
	display: block;
	margin: 10px 0;
}
.rs-sidebar-faq {
	padding-right: 20px;
}

.rs-book-online span {
	display: none;
}

.page-id-4081 #custom_html-3 .rs-book-online + p {
	display: none;
}
div#apexchat_tab_bar_parent {
    display: none;
}

@media screen and (min-width: 768px) {
	.page-id-4081 div#x-section-4 {
    width: 50%;
    float: left;
}
.page-id-4081 div#x-section-5 {
    width: 50%;
    float: left;
}

.page-id-4081 .rs-faq-header-wrp {
    clear: both;
}
}
.rs-book-online-header {
	display: none;
}
@media screen and (max-width: 768px) {
	.rs-book-online-header {
		display: block;
	}
	a.rs-book-online {
		max-width: 80%;
	}
	.vegas-header__telephone-button {
		width: 140px;
	}

	a.rs-book-online-header.button:before {
		display: none;
	}
	a.rs-book-online-header.button {
		width: 50%;
		min-width: unset !important;
		margin-right: 10px;
		height: 45px;
		align-self: center;
		border-radius: 15px;
		line-height: 27px;
	}
}

.wp-image-5275 {
    max-width: 325px;
	width: 100%;
}

.rs-sidebar-faq div p a {
    display: inline-block;
}


.page-id-4093 .x-recent-posts a.x-recent-post2 {
    width: 100%;
}
.rs-current-events-header {
	display: none;
}
.rs-book-online + p img {
    width: 80%;
}




/*  combine icons into sprite according GTmetrix   */

#social-media-footer a {
    background-image: url(hennessey/images/amb_spr.png);
    background-repeat: no-repeat;
    transform: scale(.75);
}
.rs-social-facebook {
	background-position: -15px -15px;
	display: inline-block;
	width: 40px;
    height: 39px;
}
.rs-social-twitter {
	width: 40px;
    height: 39px;
    background-position: -15px -222px;
    display: inline-block;
}
.rs-social-linkedin {
	width: 40px;
    height: 39px;
    background-position: -15px -153px;
    display: inline-block;
    
}
.rs-social-google {
	width: 40px;
    height: 39px;
    background-position: -15px -84px;
    display: inline-block;
    
}

.spr-contact-footer-icon {
    width: 24px;
    height: 24px;
    background-position: -15px -291px;
}

.spr-location-icon {
    width: 24px;
    height: 33px;
    background-position: -15px -345px;
}
.page-id-4094 div#x-section-4 .x-column.x-sm.x-1-3:last-child{
    display:none;
}
.page-id-4094 div#x-section-4 .x-column.x-sm.x-1-3{
    display:inline-block;
    width: 45%;
}

.page-id-4094 div#x-section-4 .x-column.x-sm.x-1-3 img {
    width: 68%;
}

.page-id-4094 div#x-section-4 .x-column.x-sm.x-1-3:nth-child(2) img{
position : relative;
left:-90%
}
.page-id-5892 span#input_15_1_3_container label {
    display: none;
}