
/******************************************************
General Homepage Template Styles
******************************************************/

.homepage-template { //Page Wrapper

	.site-inner {
		max-width: none;
		padding: 0;
	}

	.content {
		width: 100%;
	}

	.homepage-section {
		padding: 30px 15px;
	}

	article.entry {
		margin-bottom: 0;
	}

} //End .homepage-template


/**************************************
* Homepage Hero Section
*****/


.homepage-hero-section {

	background: $primary;
	background: radial-gradient(circle, rgba(0,192,224,1) 0%, rgba(0,115,162,1) 100%);
	padding-top: 50px;	

	@media (min-width: 768px){
		padding-top: 0;
	}

	&__inner {
		@media (min-width: 768px){
			display: flex;
			justify-content: space-between;
		}
	}

	&__content {
		width: 100%;
		text-align: center;
		padding-bottom: 50px;

		@media (min-width: 768px){
			width: calc(100% - 360px);
			padding-right: 30px;
			margin-bottom: none;
			padding-top: 100px;
			padding-bottom: 20px;
		}

		@media (min-width: 768px) and (max-width: 1099px){
			width: 100%;
		}

		@media (min-width: 1400px){
			width: calc(100% - 500px);
		}
		
	}

	&__heading {
		display: block;
		font-size: 2.0rem;
		text-align: center;
		font-weight: 900;
		text-shadow: 0 2px 1rem rgba(0,0,0,1);
		margin-bottom: 30px;
		line-height: 1.1;
		text-transform: uppercase;
		color: #fff;
		

		@media (min-width: 768px){
			font-size: 3.6rem;
		}

		@media (min-width: 1400px){
			max-width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__subheading {
		display: block;
		font-size: 1.5rem;
		text-align: center;
		font-weight: normal;
		text-shadow: 0 2px 1rem rgba(0,0,0,1);
		margin-bottom: 30px;
		color: #fff;

		@media (min-width: 768px){
			font-size: 1.9rem;
		}
	}

	&__cta {
		border-radius: 50px;
		background: #fff;
		padding: 15px;
		position: relative;
		box-shadow: 0 2px 4px rgba(0,0,0,0.5);
		padding-left: 130px;
		font-size: 1.7rem;
		max-width: 600px;
		line-height: 1.2;
		margin: 30px auto;

		@media (max-width: 479px){
			padding-left: 15px;
		}

		@media (max-width: 767px){
			font-size: 1.2rem;
			line-height: 1.3;
		}

		span {
			display: block;
			text-align: left;
			font-weight: bold;
			text-transform: uppercase;
			color: #222;
			@media (max-width: 479px){
				text-align: center;
			}
		}

		a {
			font-weight: 900;
			color: $secondary;
			text-decoration: none;
			font-size: 1.9rem;

			&:hover {
				color: $primary;
			}

			@media (max-width: 767px){
				font-size: 1.2rem;
				line-height: 1.3;
			}
	
		}

		&:before {
			height: 100%;
			width: 100px;
			position: absolute;
			left: 15px;
			top: 0;
			content: '';
			background: url(../images/ambient-logo-standalone.png) no-repeat center center;

			@media (max-width: 479px){
				display: none;
			}
		}
	}

	&__girl {
		width: 360px;
		background: url(../images/homepage-girl-standalone.png) no-repeat bottom center;
		background-size: 100% auto;
		display: block;

		@media (min-width: 768px) and (max-width: 1099px){
			display: none;
		}

		@media (min-width: 1400px){
			width: 500px;
		}
	}

} //End .homepage-hero-section


/**************************************
* Homepage Trust Logos
*****/ 

.homepage-trust-logos {

	padding: 30px 0;
	background: #ebebeb;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	img {
		filter: grayscale(1);
		display: block;
		padding: 10px;
		//max-height: 110px;
		max-width: 110px;
		width: auto;
		opacity: 0.8;
		align-self: center;

		@media (max-width: 599px){
			&:nth-of-type(n + 4){
				display: none;
			}
		}
	}	

} //End .homepage-trust-logos


/**************************************
* Homepage Primary Content Section
*****/

.homepage-primary-content {
	
	@include clearfix();
	padding: 30px 0;
	background: #f6fbfd;
	
	@media (min-width: 768px) {
		padding: 60px 0;
	}

	&__inner {
		border-radius: 30px;
		box-shadow: 0 2px 12px rgba(179, 179, 179, 0.3);
		padding: 15px;
		background: #fff;

		@media (min-width: 768px){
			padding: 30px;
		}
	}

	&__subtitle {
		display: block;
		text-align: center;
		margin-bottom: 10px;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-weight: bold;
	}

	&__title {
		margin: 10px auto 20px auto;
		line-height: 1.2;
		color: #7f7f7f;
		font-size: 2.0rem;
		text-align: center;
		font-weight: bold;

		br {display: none;}

		@media (min-width: 768px){
			br{display: block;}
			font-size: 2.7rem;
		}
	}

	&__coupon {
		width: auto;
		display: block;
		margin: 20px auto;
		max-width: 317px;
		width: 100%;

		@media (min-width: 768px){
			float: right;
			margin-top: 10px;
			margin-left: 30px;
		}
	} 

} //End .homepage-primary-content

//Icon Content Section
.homepage-icon-section {
	clear: both;
	margin: 50px auto 0 auto;
	padding-top: 50px;
	border-top: 1px solid #d0d0d0;


	@media (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1000px;
		width: 100%;
	}

	&__single {
		width: 100%;
		margin-bottom: 30px;
		max-width: 480px;
		text-align: center;
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;

		@media (min-width: 768px){
			width: 50%;
			padding: 20px;
		}
		
		img {
			display: inline-block;
			vertical-align: center;
			margin-bottom: 15px;
		}

		strong {
			display: block;
			width: 100%;
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
			margin: 15px auto;
			font-size: 1.2rem;
		}

		p {
			font-size: 16px;
			text-align: left;
		}

		span {
			font-weight: bold;
			color: $secondary;
		}

		ul {
			text-align: left;
			margin-left: 1.5rem;
			font-size: 16px;

			li {
				list-style-type: disc;
			}
		}


	}

} //End .hompage-icon-section


/**************************************
* Testimonials Row
*****/

.homepage-testimonials-row {

	background: url(../images/testimonials-background.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	padding: 80px 0 40px 0;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		opacity: 0.6;
		background: $primary;
		background: #3c99d7;
		//background: radial-gradient(circle, rgba(0,192,224,1) 0%, rgba(0,115,162,1) 100%);
	}

	@media (min-width: 768px){
		padding: 80px 0 40px 0;
	}

	&__quote {
		position: relative;
		display: block;
		text-align: center;
		color: $secondary;
		font-family: $serif;
		line-height: 50px;
		max-width: 650px;
		margin: 0 auto;
		height: 40px;

		span {
			position: relative;
			top: 20px;
			font-size: 200px;
			
			@media (max-width: 767px) {
				font-size: 160px;
			}
		}

		&:before {
			width: 36%;
			position: absolute;
			left: 0;
			top: 10%;
			height: 1px;
			background: #fff;
			display: block;
			content: '';
		}

		&:after {
			width: 36%;
			position: absolute;
			right: 0;
			top: 10%;
			height: 1px;
			background: #fff;
			display: block;
			content: '';
		}
	}

} //End .homepage-testimonials-row

//Slider
.homepage-testimonial-slider {

	position: relative;
	max-width: 700px;
	margin: 40px auto;
	

	&__slide {
		text-align: center;
		color: #fff;
		font-size: 1.3rem;
		display: block;
	} 

	&__slide-content {
		font-size: 1.3rem;
		line-height: 1.3;
		padding:  0 30px;
		display: block;

		@media (max-width: 767px){
			font-size: 1.1rem;
		}
	}

	&__slide-author {
		margin-top: 20px;
		display: block;
		font-weight: bold;
		font-size: 1.3rem;
		padding: 0 30px;
	}

	//Slick Slider Styles
	.slick-next, .slick-prev {
		top: 40%;
		z-index: 100;
	}
	.slick-next {
		right: 0;
	}
	.slick-prev {
		left: 0;
	}

} //End .homepage-testimonials-slider



/**************************************
* Service Section
*****/

.homepage-service-section {

	background: #e8edef;
	padding: 30px 0;

	@media (min-width: 768px){
		padding: 80px 0 40px 0;
	}

	&__inner {

	}

	&__subtitle {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		display: block;
	}

	&__title {
		display: block;
		margin-top: 0;
		text-align: center;
		font-weight: bold;
		color: #7f7f7f;
		font-size: 2.0rem;
		margin-bottom: 40px;

		@media (min-width: 768px) {
			font-size: 3.0rem;
		}
	}

	&__row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

} //End .homepage-service-section

//Single Service Section
.homepage-single-service-section {

	width: 100%;
	max-width: 640px;
	padding: 10px 25px;
	position: relative;
	padding-left: 150px;
	margin-bottom: 40px;

	@media (max-width: 599px) {
		padding-left: 80px;
	}

	&:before {
		position: absolute;
		content: '';
		bottom: 0;
		top: 0;
		left: 0;
		background-position: left top;
		background-repeat: no-repeat;
		background-size: 100% auto;
		width: 126px;

		@media (max-width: 599px) {
			width: 63px;
		}
	}

	&.all-hours:before {
		background-image: url(../images/service-icon-phone.png);
	}

	&.satisfaction-guarantee:before {
		background-image: url(../images/service-icon-check.png);
	}

	&.flat-rate:before {
		background-image: url(../images/service-icon-dollar.png);
	}

	&.free-estimate:before {
		background-image: url(../images/service-icon-pencil.png);
	}

	&__title {
		display: block;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 15px;
		color: #ed2024;
	}

	&__content {
		line-height: 1.4;

		a {
			color: $secondary;
			text-decoration: none;
			transition: 0.2s;

			&:hover {
				color: $primary;

			}
		}
	}

} //End .homepage-single-service-section

/**************************************
* Blog Section
*****/

.homepage-blog-section {

	padding: 30px 0;

	@media (min-width: 768px){
		padding: 80px 0 60px 0;
	}

	&__inner {

	}

	&__title {
		display: block;
		margin-top: 0;
		text-align: center;
		font-weight: bold;
		color: #7f7f7f;
		font-size: 2.0rem;

		@media (min-width: 768px) {
			font-size: 3.0rem;
		}
	}

	&__loop {
		margin-top: 40px;
		display: flex; 
		justify-content: center;
		flex-wrap: wrap;
	}

} //End .homepage-blog-section

//Single Post
.homepage-single-blog-post {

	max-width: 320px;
	width: 100%;
	margin: 10px;
	padding: 10px;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	display: block;
	text-decoration: none;
	color: $primary;
	background: #fff;
	opacity: 1;
	line-height: 1.3;
	margin-bottom: 20px;

	&:hover {
		background: #f0f0f4;
		opacity: 0.9;
		color: $secondary;
	}

	img {
		border-radius: 4px 4px 0 0;
	}

	&__title {
		display: block;
		text-align: center;
		
		margin-top: 15px;
	}

} //End .homepage-single-blog-post


/**************************************
* FAQ Section
*****/

.homepage-faq-section {

	padding: 30px 0;
	background: #e8edef;

	@media (min-width: 768px){
		padding: 80px 0;
	}

	&__inner {

	}

	&__title {
		display: block;
		margin-top: 0;
		text-align: center;
		font-weight: bold;
		color: #7f7f7f;
		font-size: 2.0rem;

		@media (min-width: 768px) {
			font-size: 3.0rem;
		}
	}

	&__loop {

		margin-top: 40px;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			@media (min-width: 768px){
				columns: 2 20px;
			}
		}

		li {
			position: relative;
			padding-left: 1.5rem;
			margin-bottom: 4px;

			&:before {
				font-family: fontawesome;
				position: absolute;
				left: 0;
				transition: 0.2s;
				top: 2px;
				font-size: 1rem;
				color: $primary;
				content: '\f00c';
				line-height: 1;
				display: block;
			}

			&:hover {
				&:before {
					left: 3px;
				}
			}
		}

		a {
			color: #222;
			text-decoration: none;
			transition: 0.2s;
			font-size: 16px;

			&:hover {
				color: $secondary;
				text-decoration: none;
			}
		}

	}

} //End .homepage-faq-section