/*
Media Page Template Styles
*/

//General Page Styles
.page-template-page-media {

} //End .page-template-page-media



.media-top-section {

    &.content {
        width: 100%;
        float: none;
    }

    &__inner {
        @media (min-width: 768px) {
            display: flex;
        }
    }


    &__image {
        max-width: 100%;
        margin: 20px auto;
    
        @media (min-width: 768px) {
            max-width: 450px;
            width: 100%;
            margin: 0;
        }
    }

    &__information {

        ul {
            margin-left: 1.5rem;
            list-style-position: outside;

            li {
                list-style-type: disc;
            }
        }

        @media (min-width: 768px) {
            padding-left: 30px;
        }

    }

} //End .media-top-section

//Press Release Section
.media-press-release {
    
    margin: 30px 0;

    .content {
        width: 100%;
        float: none;
    }

    &__inner {

    }

    &__single {
        display: block;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        padding: 15px;
        border: 1px solid #d0d0d0;
        border-radius: 4px;
        text-decoration: none;
        margin-bottom: 20px;
        transition: 0.2s;
        background: #fff;

        &:hover {
            background: #f0f0f0;
        }
    }

    &__single-title {
        color: $primary;
        font-sze: 1.1rem;
        display: block;
    }

    &__single-date {
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 300;
        color: #666;
        display: block;
    }

} //End .media-press-release

//Media Social
.media-social {

    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #d0d0d0;

    &.content {
        width: 100%;
        float: none;
    }

    &__inner {
        display: flex;
        justify-content: center;
    }

    h2 {
        text-align: center;
    }

    a {
        text-decoration: none;
        padding: 15px;
        display: block; 
        

        img {
            display: inline-block;
            vertical-align: top;
            max-width: 110px;
            transition: 0.2s;
            opacity: 1;
        }

        &:hover img {
            opacity: 0.9
        }
    }

} //End .media-social


//Media Community
.media-community {

    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #d0d0d0;

    &.content {
        width: 100%;
        float: none;
    }

    &__inner {
      @media (min-width: 768px) {
        display: flex;
        justify-content: center;
      }
    }

    h2 {
        text-align: center;
    }

    &__we-care, &__sponsorships, &__home-depot {
        max-width: 300px;
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }

        h3 {
            text-align: center;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            vertical-align: top;
            margin-bottom: 15px;
            max-height: 100px;

        }

        p {
            text-align: center;
            margin-bottom: 0;
            font-size: 0.9rem;
        }
    }

} //End .media-community


//Media INquiry
.media-inquiry {

    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #d0d0d0;

    &.content {
        width: 100%;
        float: none;
    }

    &__inner {
      @media (min-width: 768px) {
        display: flex;
        justify-content: center;
      }
    }

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }

} //End .media-inquiry