/*-------------------------------------
General Single Page & Post Styles
--------------------------------------*/

//Adjust site content padding on single pages
/* .page, .single, .post, .blog, .archive {

    @media (min-width: 960px) {
        .sidebar {
            margin-top: -280px;
            position: relative;
            z-index: 30;
        }
    }

}
 */

//Header & Breadcrumb Styles

.interior-header {

    width: auto;
    margin-bottom: 30px;
    margin-top: -60px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    &__top {
        position: relative;
        padding: 30px;
        background: url(../images/page-hero-background.jpg) no-repeat center center;
        background-size: cover;
        

        //Overlay
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: darken($primary, 15%);
            opacity: 0.8;
        }

        @media (min-width: 768px){
            padding: 50px 30px;
        }

        @media (min-width: 1399px){
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    &__meta {
        position: relative;
        z-index: 100;
        color: #fff;
        font-size: 1.1rem;
        margin-top: 20px;
        margin-bottom: 0;
        display: block;

        @media (min-width: 768px){
            font-size: 1.4rem;
        }
    }

    &__title {

        position: relative;
        color: #fff;
        font-size: 2.0rem;
        display: block;
        text-align: center;
        font-weight: bold;
        font-family: $sans-serif-condensed;
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);

        @media (min-width: 960px){
            width: 65%;
            font-size: 2.9rem;
            text-align: left;
        }

        @media (min-width: 1399px){
            width: 65%;
        }

    }

    &__breadcrumbs { 
        padding: 10px 30px;
        text-transform: none;
        //background: linear-gradient(to bottom, #eaeaea, #fff);
        background: #eaeaea;
        color: #444;
        font-size: 0.9rem;
        display: block;

        .wrapper {
            margin-left: auto;
            margin-right: auto;
        }

        @media (min-width: 960px){
            //width: 65%;
        }

        @media (min-width: 1399px){
            //width: 65%;
        }

        p { 
            margin-bottom: 0; 
            border-bottom: 1px #aaa;
            display: block;
        }

        a {
            color: $primary;
            text-decoration: none;
            transition: 0.2s;

            &:hover {
                color: $secondary;
            }
        }
    }

    //CTA styles
    &__cta {
        position: relative;
        z-index: 10;
        color: #fff;
         
        p {
            margin-bottom: 5px;
            font-size: 1.3rem;
            text-transform: uppercase;
            font-weight: 300;
        }
    }

    &__cta-button {
        background: #fff;
        border-radius: 50px;
        color: $secondary;
        text-decoration: none;
        transition: 0.2s;
        display: block;
        padding: 10px 15px;
        max-width: 300px;
        text-align: center;
        margin-top: 15px;
        font-size: 1.5rem;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        font-weight: bold;

        &:hover {
            background: $secondary;
            color: #fff;
            text-decoration: none;
        }
    }

} //End .-interior-header


//Fullwidth Page Header Adjustments
.fullwidth-template {
    .interior-header {
        &__title {
            width: 100%;
            margin: 0;
            text-align: center;
        }
    }
} //End .fullwidth-template
