/*-------------------------------------
Scholarship Page and Form Styles
--------------------------------------*/

.scholarship-application {

}


//Layout Styles
.scholarship-content {

    @media (min-width: 960px){
        display: flex;
    }

    &__left {
        width: 100%;
        margin-bottom: 30px;

        @media (min-width: 960px){
            width: 60%;
            padding-right: 30px;
            margin-bottom: 0;
        }
    }

    &__right {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;

        @media (min-width: 960px){
            width: 40%;
        }
    }

} //End .scholarship-content


//Application Form Styles
.scholarship-application-form{
    //background: $berger-green;
    color: white;
    padding: 20px;
    font-size: 14px;
    clear: both;
    max-width: 600px;
    background: $primary-dark;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);


    //Layout

    .scholarship-row {
        clear: both;
        display: flex;
        justify-content: space-between;
    }

    .one-half{
        &:nth-of-type(1){
            margin-left: 0;
        }
    }

    
    .one-third{
        &:nth-of-type(1){
            margin-left: 0;
        }
    }

    //Content & Input

    .form-section-title {
        margin-top: 20px;
        display: block;
        clear: both;
        font-weight: bold;
    }

    input{
        max-width: none;
    }

    h3{
      position: relative;
      color: #fff !important;
      font-size: 22px;
      font-weight: normal;
      line-height: 45px !important;
      height: 45px;
      margin-top: 15px;
      margin-bottom: 20px;
      margin-right: -15px;
      text-align: left;
      padding-left: 50px;
      background: #f37b24;
      left: 5px;

      &:before{
        height: 65px;
        width: 65px;
        border-radius: 65px;
        display: block;
        content: '\f19d';
        border: 2px solid #f37b24;
        background: $primary-dark;
        text-align: center;
        color: #fff;
        font-size: 30px;
        line-height: 60px;
        font-family: fontawesome;
        position: absolute;
        left: -30px;
        top: -10px;
      }
    }

    p {
        color: #fff !important;
        margin-bottom: 5px !important;
    }

    input[type="text"], input[type="tel"], input[type="email"], textarea {
        width: 100%;
        padding: 10px 5px;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-shadow: 0 2px 3px rgba(0,0,0,0.4) inset;
        margin-bottom: 5px;
    }

    input[type="checkbox"]{
        -webkit-appearance: checkbox !important;
    }

    input[type="Submit"]{
        padding: 8px 10px;
        background: #f37b24;
        text-transform: uppercase;
        color: #0F1C4D;
        border: none;
        border: 2px solid #0F1C4D;
        cursor: pointer;
        transition: all 0.2s;

        &:hover{
            background: #fff;
            color: #0F1C4D;
        }
    }

    .transcript-upload, .essay-upload{
        margin-top: 10px;
        display: block;
    }

    .wpcf7-not-valid{
        border: 1px solid red;
        margin-bottom: 2px;
    }

    span.wpcf7-not-valid-tip{
        margin-bottom: 14px;
    }

    .form-section-title{
        font-size: 18px;
    }

    input[type="submit"]{
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        color: white;
        border: none;
        transition: all 0.2s;
        font-size: 22px;
        padding: 10px 15px;
        border-radius: 5px;
        text-transform: none;

        @media screen and (max-width: 500px){
            font-size: 22px;
            padding-top: 3px;
            padding-bottom: 3px;
        }


    }

    .ajax-loader{
        display: none;
    }

    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
        background: #0a2a3b !important;
    }


} // End .scholarship-application-form