/*--------------------------
- R22 Page Styles
----------------------------*/

@import "../general/mixins";
@import "../general/variables";


//Page Wrapper
.page-template-page-leadpage-r22 {

    .content {
        width: 100%;
        max-width: none;
    }

    .site-inner {
        padding-left: 0;
        padding-right: 0;
    }

    .interior-header {
        margin-bottom: 0;
    }

    .hero-list {
        li {
            position: relative;
            padding-left: 2.5rem;

            &:before {
                background: url(../../images/r22/check-mark.gif) no-repeat center center;
                background-size: 100% auto;
                height: 2.0rem;
                width: 2.0rem;
                content: '';
                position: absolute;
                left: 2px;
                top: 2px;
            }
        }
    }

    .gform_wrapper {
        border: 0;

        input[type="submit"] {
            width: 100% !important;
            text-align: center;
            margin-left: auto !important;
            display: block !important;
            margin-right: auto !important;
        }
    }

} //End .page-template-page-leadpage-r22


//General Global Section Styles

.r22-page-section {
    padding: 30px 10px;
    width: 100%;
    box-sizing: border-box;
    display: block;


    &__inner {
        position: relative;
        z-index: 10;
    }
} //End .r22-page-section

.r22-schedule-button {

    background-color: $secondary;
    color: #ffffff !important;
    max-width: 280px;
    width: 100%;
    display: block;
    margin: 20px auto;
    transition: all 0.2s;
    text-align: center;
    line-height: 20px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;

    &:hover {
        color: #fff;
        background: $primary;
    }

} //End .r22-schedule-button

//Section 1 - Top Section Styles
.r22-section-one {

    background: url(../../images/r22/r22-top-bg.gif) no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 0;

    &:before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        display: block;
        background: rgba(255,255,255,0.85);
        content: '';
    }

    &__attention-text {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2.3em;
        display: block;
        width: 100%;
        color: #000;
        margin-top: 40px;
    }

    p, li {
        font-weight: 300;
        color: #000;
    }

} //End .r22-section-1

//Section 2 - "What You Need to Know"
.r22-section-two {

    &__inner {

        color: #333;

        @media screen and (min-width: 768px){
            display: flex;
            justify-content: space-between;
        }
    }

    &__left {
        width: 100%;
        margin: 0 auto 20px auto;
        max-width: 500px;
        background: #faecec;

        @media screen and (min-width: 768px){
            max-width: 367px;
            margin-bottom: 20px;
        }
    }

    &__right {
        width: 100%;
        position: relative;

        @media screen and (min-width: 768px){
            width: calc(100% - 380px);
            padding-left: 20px;
        }
    }

    ul {
        list-style-image: none;
    }

    p, li {
        font-weight: 300;
        color: #000;
    }

    &__title {
        font-size: 2.0em;
        font-weight: 300;
        @media screen and (min-width: 768px) {
            position: relative;
            left: -80px;
        }
    }

    //Checkbox Content Styles
    &__checkbox-content {
        position: relative;
        padding-left: 50px;

        &:before {
            height: 32px;
            width: 28px;
            content: '';
            position: absolute;
            left: 5px;
            top: 10px;
            background: url(../../images/r22/check-mark.gif) no-repeat top left;
            display: block;
            background-size: 100% auto;
        }
    }

    &__checkbox-content-title {
        font-weight: 300;
        margin-bottom: 10px;
        display: block;
        font-size: 1.5em;
    }


} //End .r22-section-two

//Section 3 - "What You Need to Know"
.r22-section-three {

    background: #f8f8f8;

    &__inner {
        max-width: 800px;
        margin: 0 auto;
    }


    &__title {
        text-align: center;
        font-weight: 300;
        font-size: 2.1em;
        margin-bottom: 20px;
        display: block;
    }

    p, li {
        font-weight: 300;
        color: #000;
    }

    &__call-us-box {
        background-color: #ed2024;
        display: block;
        padding: 0.8em 1em;
        font-size: 2.1em;
        text-align: center;
        margin: 20px auto 0 auto;
        color: #fff;
        font-weight: 300;
        line-height: 1;
        border: 1px solid #055cb3;

        img {
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;
            top: -3px;
        }
    }

} //End .r22-section-three

//Section 3 - Sets Apart Box
.r22-sets-apart-box {

    padding: 12px;
    border: 1px dotted #333;
    margin: 20px auto;
    text-align: center;

    @media screen and (min-width: 650px) {
        max-width: 650px;
        width: 100%;
    }

    &__title {
        text-align: center;
        color: #3a53a4;
        font-size: 2.1em;
        display: inline-block;
        margin: 0 auto 20px auto;
        font-weight: 300;
        padding-bottom: 10px;
        border-bottom: 1px solid $secondary;
    }

    &__icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img {
            width: 130px;
            padding: 10px;
            height: auto;
            align-self: center;

            &:nth-of-type(2){
                height: 217px;
                width: 161px;
            }
        }
    }
} //End .sets-apart-box


//Section 4 - Schedule Now (Form + CTA)
.r22-section-four {
    position: relative;
    background: url(../../images/r22/r22-top-bg.gif) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

    &:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: rgba(60,116,255, 0.9);
    }

    &__inner {
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }

        p, li {
            color: #fff;
            font-weight: 300;
        }
    }

    &__right {
        width: 100%;
        display: block;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            width: 50%;
            padding-left: 20px;
        }
    }

    &__left {
        width: 100%;
        display: block;
        margin: 0 auto 20px auto;

        @media screen and (min-width: 768px) {
            width: 50%;
            margin-bottom: 0;
            padding-right: 20px;
        }

    }

    &__title {
        display: block;
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: 300;
        color: #fff;
    }

    &__form {
        max-width: 480px;
        margin: 0 auto;

        //General Form Styles

        label {
            display: none !important;
            color: #fff !important;
        }

        #frm_field_71_container label {
            display: block !important;
        }

        button[type="submit"] {
            background-color: $secondary;
            color: #ffffff;
            max-width: 280px;
            width: 100%;
            display: block;
            margin: 20px auto;
            transition: all 0.2s;
            text-align: center;
            line-height: 20px;
            font-size: 20px;
            font-weight: bold;
            padding: 12px 23px;
            border: none;
            box-shadow: 0 1px 1px #4c4c4c;

            &:hover {
                color: #fff;
                background: #1c262d;
            }
        }

        .frm_style_formidable-style.with_frm_style .frm_blank_field label, .frm_style_formidable-style.with_frm_style .frm_error {
            color: #ffffff !important;
            background: #f00 !important;
            border-radius: 2px !important;
            margin-top: 7px !important;
            padding: 3px !important;
        }

        .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
            padding: 6px 12px;
        }

        textarea {
            font-size: 16px;
            padding: 10px 12px 6px 12px;
            border-radius: 4px;
            line-height: 1.3;
            height: 120px !important;
        }

        .validation_error {
            display: none !important;
        }

        .gform_wrapper .field_description_below .gfield_description {
            padding-top: 5px;
            font-size: 13px;
        }

        .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
            //max-width: 100% !important;
        }

    } //End __form


} //End .r22-section-four

//Gravity Forms Alignment Fix
.gform_validation_error {
    li.gfield {
        padding-right: 0 !important;
    }

    li.gfield:not(.gfield_error){
        padding-right: 16px !important;
    }
}
        

//Section 5 - Testimonials
.r22-section-five {

    position: relative;
    background: url(../../images/r22/testimonials-bg.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

    &:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: rgba(248,248,248, 0.4);
    }

    &__inner {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        display: block;
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: 300;
    }

    &__read-more {
        color: #ec2024;
        text-decoration: none;
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 2em;
        transition: 0.2s;
        font-weight: 300;

        &:hover {
            color: darken(#ec2024, 10%);
            text-decoration: underline;
        }

    }

    p, li {
        font-weight: 300;
    }

} //End .r22-section-five

//Section 5 - Single Review Styles
.r22-single-testimonial {

    position: relative;
    margin-bottom: 30px;

    @media screen and (min-width: 560px){
        padding-left: 140px;

        &:before {
            position: absolute;
            top: 10px;
            left: 5px;
            display: block;
            content: '';
            background: url(../../images/r22/testimonial-quote.png) no-repeat center center;
            background-size: 100% auto;
            height: 93px;
            width: 97px;
        }
    }

    &__title {
        display: block;
        text-align: left;
        font-size: 1.5em;
        margin-bottom: 20px;
        font-weight: 300;
    }

    &__content {
        font-style: italic;
        font-weight: 300;
    }

} //End .r22-single-testimonial

//Section 6 - Testimonials
.r22-section-six {

    &__inner {
        text-align: center;
        margin-bottom: 20px;

        @media screen and (min-width: 768px){
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            text-align: left;
            justify-content: space-between;
        }
    }

    &__right {
        width: 100%;
        display: block;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            width: 60%;
            padding-left: 20px;
        }
    }

    &__left {
        width: 100%;
        display: block;
        margin: 0 auto 20px auto;

        @media screen and (min-width: 768px) {
            width: 40%;
            margin-bottom: 0;
            padding-right: 20px;
        }

    }

    &__title {
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: 300;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }


    p, li {
        font-weight: 300;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    img {
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        max-width: 300px;
        height: auto;
    }

} //End .r22-section-six