/*-------------------------------------------------*/
/* THEME COLOR                                     */
/*-------------------------------------------------*/
 
.topbar,
#subheader,
.hover_type a:hover,
.progress_bar,
table.fancy_table th,
.post_list:hover .content {
	background-color: #58bf20
}


a,
a:focus {
	color: #58bf20
	}

#footer,
#featured_slider,
.sf-menu ul.sub-menu,
.tabs li.current,
.widget-title span {
	border-color: #58bf20
}

/*-------------------------------------------------*/
/* B O D Y                                         */
/*-------------------------------------------------*/
body {
	background-color: #e6e6e6;
	}

.bodyoverlay {
	
}
/*-------------------------------------------------*/
/* B O D Y                                         */
/*-------------------------------------------------*/

#header {
	background-color: #ffffff;
	
}


/*-------------------------------------------------*/
/* TEASER BG                                       */
/*-------------------------------------------------*/
.frontpage_teaser {
	background-color: #594f4f;
	color: #ffffff;
}
/*-------------------------------------------------*/
/* S U B H E A D E R                               */
/*-------------------------------------------------*/
#subheader {
	background-color: #594f4f;
	
	
}

#subheader {
	color: #6ac402;
}

/*-------------------------------------------------*/
/* L O G O                                         */
/*-------------------------------------------------*/
h1#site-title a{
	     
}

h2#site-description {
	     
}
.logo {
	
	
}

/*-------------------------------------------------*/
/* S T I C K Y                                     */
/*-------------------------------------------------*/
#sticky { 
	background: #bfe58d;
}

/* ===================================================
	Menu
===================================================== */
.primarymenu {
	background-color: #6eac1e;
}
.sf-menu a {
	font-family: "Helvetica Neue", Helvetica, sans-serif; font-size:16px; color:#fcfcfc;  font-style:bold; 
}
/* Link Hover Color   */
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, 
.sf-menu a:active {
	background-color: #2e2e2e;
	
}
/* Dropdown Bg Color   */
.sf-menu ul {
	background: #fafafa;
}
/* Dropdown Link Color   */
.sf-menu ul a {
	color: #5c5c5c;
}
/* Dropdown Link Hover Color   */
.sf-menu li li:hover, .sf-menu li li.sfHover,
.sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active {
	color: #46ba02;
	background: #e8e8e8;
}

.sf-menu li li a {
	border-color: #d9d9d9;
}

.sf-menu li.current-cat a, 
.sf-menu li.current_page_item a,
.sf-menu li.current-page-ancestor > a {
	background-color: #5baa00;
	color: #ffffff;
}

/*-------------------------------------------------*/
h1 { } 
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

/* --- Post Entry Title --- */
h2.entry-title a { }

h2.entry-title a:hover { }

/* --- Widget Title --- */
.widget-title { }

#footer .widget-title { }

/*------------------------------*/

.pagemid { background-color: #ffffff; }

a,
.entry-title a { color: #73a82f; }

a:hover,
.entry-title a:hover { }

/*------------------------------*/

#subheader a { }
#subheader a:hover { }

#footer { 
	background-color: #594f4f;
	color: #ffffff;
}
.copyright { 
	color:#ffffff;   
	background-color: #3f3737;
}

#footer .widget-title { 
	color: #ffffff;
}
#footer {
	border-color:#3f3737;
}

/*----------------------------*/

.breadcrumbs {
	background-color: #ffffff;
}
.breadcrumb .breadcrumbs-plus {
	color: #5c5c5c;
}

.breadcrumbs a {
	color: #5c5c5c;
}
.breadcrumbs a:hover{
	color: #5c5c5c;
}
