/*-------------------------------------------------*/
/* THEME COLOR                                     */
/*-------------------------------------------------*/
 
.topbar,
#featured_slider,
#subheader,
.hover_type a:hover,
.progress_bar,
table.fancy_table th,
.post_list:hover .content {
	background-color:#F8C100
}


a,
a:focus {
	color:#F8C100
	}

#footer,
#featured_slider,
.sf-menu ul.sub-menu,
.tabs li.current,
.widget-title span {
	border-color:#F8C100
}

/*-------------------------------------------------*/
/* B O D Y                                         */
/*-------------------------------------------------*/
body {
	background-image:url(http://www.aivahthemes.com/stream/files/2013/01/cyan_coffeegrass.jpg);
		background-repeat:repeat;
		background-position:left top;
		background-attachment:fixed;background-color:#ffffff;
	}

.bodyoverlay {
	
}
/*-------------------------------------------------*/
/* B O D Y                                         */
/*-------------------------------------------------*/
body {
	     
}

#header {
	background-color:#ffffff;
	color:#000000;
}

/*-------------------------------------------------*/
/* TEASER BG                                       */
/*-------------------------------------------------*/
.frontpage_teaser {
	background-color:#414141;
	color:#ffffff;
}
/*-------------------------------------------------*/
/* S U B H E A D E R                               */
/*-------------------------------------------------*/
#subheader {
	background-color:#2C2C2C;
	
	
}

#subheader {
	color:#ffffff;
}

/*-------------------------------------------------*/
/* L O G O                                         */
/*-------------------------------------------------*/
h1#site-title a{
	     
}

h2#site-description {
	     
}
.logo {
	
	
}

/*-------------------------------------------------*/
/* S T I C K Y                                     */
/*-------------------------------------------------*/
#sticky { 
	
}

/* ===================================================
	Menu
===================================================== */
.primarymenu {
	background-color:#ffffff;
}
.sf-menu a {
	font-family:Arial; font-size:16px; color:#000000;  font-style:bold; 
}
/* Link Hover Color   */
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, 
.sf-menu a:active {
	background-color:#F8C100;
	color:#000000;
}
/* Dropdown Bg Color   */
.sf-menu ul {
	background:#2c2c2c;
}
/* Dropdown Link Color   */
.sf-menu ul a {
	color:#ffffff;
}
/* Dropdown Link Hover Color   */
.sf-menu li li:hover, .sf-menu li li.sfHover,
.sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active {
	color:#ffffff;
	background:#444444;
}

.sf-menu li li a {
	
}

.sf-menu li.current-cat a, 
.sf-menu li.current_page_item a,
.sf-menu li.current-page-ancestor > a {
	background-color:#F8C100;
	color:#222222;
}

/*-------------------------------------------------*/

/* --- H1 --- */
h1 {
	font-family:Crete Round;     
}
/* --- H2 --- */
h2 {
	font-family:Crete Round;     
}
/* --- H3 --- */
h3 {
	font-family:Crete Round;     
}
/* --- H4 --- */
h4 {
	font-family:Crete Round;     
}
/* --- H5 --- */
h5 {
	font-family:Crete Round;     
}
/* --- H6 --- */
h6 {
	font-family:Crete Round;     
}
/* --- Post Entry Title --- */
h2.entry-title a { 
	     
}
h2.entry-title a:hover { 
	
}
/* --- Widget Title --- */
.widget-title { 
	     
}

#footer .widget-title { 
	     
}

/*------------------------------*/
.pagemid { 
	background-color:#ffffff;
}
a,
.entry-title a { 
	
}

a:hover,
.entry-title a:hover { 
	
}
/*------------------------------*/
#subheader a { 
	
}
#subheader a:hover { 
	
}

#footer { 
	background-color:#2C2C2C;
	color:#999999;
}
.copyright { 
	     
	background-color:#141414;
}

#footer .widget-title { 
	color:#FFFFFF;
}

/*----------------------------*/

.breadcrumbs {
	background-color:#000000;
}
.breadcrumb .breadcrumbs-plus {
	color:#ffffff;
}

.breadcrumbs a {
	color:#F8C100;
}
.breadcrumbs a:hover{
	color:#ffffff;
}

#footer a {
	
}

#footer a:hover {
	
}
