/*-------------------------------------------------*/
/* THEME COLOR                                     */
/*-------------------------------------------------*/
 
.topbar,
#featured_slider,
#subheader,
.hover_type a:hover,
.progress_bar,
table.fancy_table th,
.post_list:hover .content {
	background-color: #f6b400
}


a,
a:focus {
	color: #f6b400
	}

#footer,
#featured_slider,
.sf-menu ul.sub-menu,
.tabs li.current,
.widget-title span {
	border-color: #f6b400
}

/*-------------------------------------------------*/
/* B O D Y                                         */
/*-------------------------------------------------*/
body {
	background-color: #f1f1f1;
	}

.bodyoverlay {
	
}
/*-------------------------------------------------*/
/* B O D Y                                         */
/*-------------------------------------------------*/
body {
	font-family: Open Sans;     
}

#header {
	background-color: #ffffff;
	color: #000000;
}

/*-------------------------------------------------*/
/* TEASER BG                                       */
/*-------------------------------------------------*/
.frontpage_teaser {
	background-color: #393939;
	color: #ffffff;
}
/*-------------------------------------------------*/
/* S U B H E A D E R                               */
/*-------------------------------------------------*/
#subheader {
	background-color: #393939;
	
	
}

#subheader {
	color: #ffffff;
}

/*-------------------------------------------------*/
/* L O G O                                         */
/*-------------------------------------------------*/
h1#site-title a{
	     
}

h2#site-description {
	     
}
.logo {
	
	
}

/*-------------------------------------------------*/
/* S T I C K Y                                     */
/*-------------------------------------------------*/
#sticky { 
	
}

/* ===================================================
	Menu
===================================================== */
.primarymenu {
	background-color: #f6b400;
}
.sf-menu a {
	font-family: Open Sans; font-size:16px;   font-style:bold; 
	color: #242424;
}
/* Link Hover Color   */
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, 
.sf-menu a:active {
	background-color: #ffcd1d;
	color: #000000;
}

/* Dropdown Bg Color   */
.sf-menu ul {
	background: #f7f7f7;
}
/* Dropdown Link Color   */
.sf-menu ul a {
	color: #525252;
}
/* Dropdown Link Hover Color   */
.sf-menu li li:hover, .sf-menu li li.sfHover,
.sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active {
	color: #878787 ;
	background: #ede8e8;
}

.sf-menu li li a {
	border-color: #e1e1e1;
}

.sf-menu li.current-cat a, 
.sf-menu li.current_page_item a,
.sf-menu li.current-page-ancestor > a {
	background-color: #7f7f7f;
	color: #ffffff;
}

/*-------------------------------------------------*/
/* --- H1 --- */
h1 {
	font-family: Open Sans;     
}
/* --- H2 --- */
h2 {
	font-family: Open Sans;     
}
/* --- H3 --- */
h3 {
	font-family: Open Sans;     
}
/* --- H4 --- */
h4 {
	font-family: Open Sans;     
}
/* --- H5 --- */
h5 {
	font-family: Open Sans;     
}
/* --- H6 --- */
h6 {
	font-family: Open Sans;     
}
/* --- Post Entry Title --- */
h2.entry-title a { 
	font-family: Open Sans;     
}
h2.entry-title a:hover { 
	
}
/* --- Widget Title --- */
.widget-title { 
	font-family: Open Sans;     
}

#footer .widget-title { 
	     
}

/*------------------------------*/
.pagemid { 
	background-color: #ffffff;
}
a,
.entry-title a { 
	
}

a:hover,
.entry-title a:hover { 
	
}
/*------------------------------*/
#subheader a { 
	
}
#subheader a:hover { 
	
}

#footer { 
	background-color: #2C2C2C;
	color: #999999;
}
.copyright { 
	     
	background-color:#141414;
}

#footer .widget-title { 
	color: #ffffff;
}

/*----------------------------*/

.breadcrumbs {
	background-color: #ffffff;
}
.breadcrumb .breadcrumbs-plus {
	color: #444444;
}

.breadcrumbs a {
	color: #f6b400;
}
.breadcrumbs a:hover{
	color: #444444;
}

#footer a {
	
}

#footer a:hover {
	
}
