/*-------------------------------------------
Lennox Promotion Styles
(popup, widget, & slider)
--------------------------------------------*/

//Popup Styles

.lennox-promo-popup {

    background: #fff;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,0.4);
    margin-left: auto;
    margin-right: auto;
    max-width: 900px !important;
    width: 100% !important;
    height: auto;
    padding: 12px !important;
    
    &__inner {
 
    }
    .fancybox-close-small svg {
        stroke: #fff !important;
    }

    .row {
        @include clearfix();
        @media (min-width: 700px){
            display: flex;
            justify-content: space-between;
        }
        .lennox-left {
            width: 100%;
            text-align: center;
            @media (min-width: 700px){
                width: 50%;
                padding-right: 15px;
                border-right: 1px solid #f0f0f0;
            }
        }
        .lennox-right {
            width: 100%;
            text-align: center;
            @media (min-width: 700px){
                width: 50%;
                padding-left: 15px;
            }
        }
    }

    p {
        line-height: 1.3;
    }

    &__title {
        display: block;
        text-align: center;
        width: auto;
        display: block;
        border-radius: 4px 4px 0 0;
        margin-top: -12px;
        margin-left: -12px;
        margin-right: -12px;
        border-bottom: 30px;
        background: #3a53a4;
        color: #fff;
        font-weight: bold;
        padding: 15px;

        &:after {
            display: none;
        }
    }

    &__cta-wrapper {
        display: block;
        text-align: center;
        width: auto;
        display: block;
        border-radius: 0 0 4px 4px;  
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: -12px;
        background: #3a53a4;
        color: #fff;
        font-weight: bold;
        padding: 15px;
        margin-top: 20px;
    }    

    &__img {
        display: block;
        width: auto;
        max-width: 300px;
        margin: 10px auto;

        @media (max-width: 400px){
            width: 100%;
            max-width: 300px;
        }
    }

    &__intro {
        text-align: center;
        &:after {
            display: none;
        }
    }

    &__cta {
        text-align: center;
        color: #fff;
        margin-top: 0;

        a {
            color: #fff !important;
            font-weight: bold;
            text-decoration: none !important;
        }

        .aiwp_button {
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            vertical-align: top;
            max-width: 260px;

            span {
                min-width: 200px;
                font-size: 18px;
                letter-spacing: -1px;
                line-height: 24px;

                &:nth-of-type(2){
                    min-width: 0;
                }
            }

        }
        &:after {
            display: none;
        }
    }

    &__cta-divider {
        text-align: center;
        color: #fff;
        font-weight: normal;
        font-style: italic;
        display: block;
        margin: 10px auto;
        font-size: 30px;
        text-transform: uppercase;
    }

    &__info-link {
        color: #fff !important;
        font-weight: normal !important;
        margin-bottom: 20px !important;
        text-align: center !important;
        text-decoration: underline !important;
    }


    &__disclaimer {
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        line-height: 1.2;
        max-width: 660px;
        margin-left: auto;
        margin-right: auto;
        font-weight: normal;

        p {
            margin-bottom: 10px;
            font-size: 12px;
        }

        a {
            color: #fff !important;
            text-decoration: underline !important;
        }
    }

} //End .lennox-promo-popup


//Widget Styles
.lennox-promo-widget {

    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 25px;

    &:hover {
        text-decoration: none;

        img {
            transform: scale(1);
        }
    }

    img {
        display: block;
        width: auto;
        //margin-left: auto;
        //margin-right: auto;
        max-width: 100%;
        height: auto;
        transform: scale(0.95);
        transition: 0.2s;
    }

} //End .lennox-promo-widget

.home .lennox-promo-widget__img {
    margin-left: auto;
    margin-right: auto;
}