/* 
Theme Name: Stream
Theme URI: http://themeforest.net/
Description: Designed by <a href="http://themeforest.net/user/aivahthemes">AivahThemes</a>. Follow me on Twitter <a href="http://twitter.com/system32store">@system32store</a>. This Theme for WordPress is lightweight and adaptable. Theme comes with ease in usability which makes your site ready in minutes. 
Version: 1.9
Author: <a href="http://themeforest.net/user/aivahthemes">AivahThemes</a>
Author URI: http://themeforest.net/user/aivahthemes
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: dark, red, two-columns, custom-background, translation-ready, custom-menu
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	outline:none;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
	
/* remember to define focus styles! */	
:focus {
	outline: 0;
}

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td { font-weight: normal; text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {	content: "";}
blockquote, q {quotes: "" "";}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Text elements */
p {	margin-bottom: 1.625em;}
ul, ol { margin: 0 0 1.625em 0;}
ul { list-style: square;}
ol { list-style-type:none; }
ol ol { list-style: upper-alpha;}
ol ol ol { list-style: lower-roman;}
ol ol ol ol { list-style: lower-alpha;}
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0;}


dl { margin: 3em 0; border-color:rgba(0,0,0,0.1); border-width:0 0 1px 0;}
dt { float: left; clear: left; width: 100%; font-weight: bold;} 
dd { margin: 0 0 0 30%; padding: 5px 0;}
dd, dt {  border-color:rgba(0,0,0,0.1); border-width:1px 0 0 0;}

strong { font-weight: bold; }
cite, em, i { font-style: italic;}

pre {
	background: url("images/code_bg.png") repeat scroll left top #fefefe;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 21px;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 21px 26px;
	border: 1px solid #d5d5d6;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	color: #686a6b;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
code, kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
code {
	background: url("images/code_bg.png") repeat scroll left top #fefefe;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	color: #686a6b;
	display: block;
	font: 12px/21px Consolas,"Courier New",Courier,monospace;
	border: 1px solid #d5d5d6;
	overflow: auto;
	padding: 21px 26px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


abbr, acronym, dfn { border-bottom: 1px dotted #666; cursor: help; }
address { display: block; margin: 0 0 1.625em; }
ins { background: #fff9c0; text-decoration: none; }
sup, sub { font-size: 10px; height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 1ex; }
sub { top: .5ex; }

hr {
	position: relative; 
	display: block;
	clear: both;
	border:none;
	margin:10px 0;
	background:#ddd;
	height:1px;
	}

/* Clearfix -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.clear	{ 
	clear: both;
	display: block;
	width: 0; 
	height: 0;
	visibility: hidden;
	}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	General
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
body, input, select, textarea  { 
	font: normal 12px/1.6 Helvetica, Arial, Sans-serif;
}

body  { 
	background-color: #F7F9FA;
	color:#444444; 
	}
a {
	text-decoration: none;
	color:#00aeff;
	-webkit-transition: all 300ms ease-in;
	-moz-transition:    all 300ms ease-in;
	-o-transition:      all 300ms ease-in;
	transition:         all 300ms ease-in;
}

a:hover,
a:active {
	outline: 0;
	text-decoration: none;
	color:#222222;

}

hr  { 
	border:0; 
	height:1px;
	background:rgba(0,0,0,0.1);
	clear: both;
}

.ribbon { position:absolute; top:0; right:0; z-index:2; }

.preloader {
	display:block;
	background:url('ajax-loader.gif') center center no-repeat #ffffff;
}
.sticky,
.gallery-caption
{
}
figure img {
    max-width: 100%;
}

.atpimage {
	position:relative;
	display:inline-block;
}

.image_caption {
	padding:2px 5px;
	text-align:center;
	}

.imageborder {
	position:relative;
	margin:0;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:		   3px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);	
	-moz-box-shadow:    0 0 8px rgba(0, 0, 0, 0.2);
	box-shadow:         0 0 8px rgba(0, 0, 0, 0.2);	
}

.atpmap img {
	width: auto !important;
	max-width: auto !important;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Headings
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px 0;
	font-family: "Open Sans", Helvetica, Arial, Sans-serif;
	font-weight: 300;
	line-height: normal;
	
}

h1 { font-size: 26px; line-height: 28px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; line-height: 20px; }
h4 { font-size: 16px; line-height: 18px; }
h5 { font-size: 14px; line-height: 16px; }
h6 { font-size: 12px; line-height: 14px; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight: normal;
	line-height: 1;
	
}

h1 small { font-size: 20px; }
h2 small { font-size: 16px; }
h3 small { font-size: 14px; }
h4 small { font-size: 12px; }

.title-large {
	font-size:200%;
	line-height:100%;
	}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Layout
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
#pagebg {
	position:fixed;
	top:0; 
	z-index:-1;
	min-width:100%;
	min-height:100%;
	}
	
.bodyoverlay {
	position:fixed;
	top:0;
	background-repeat:repeat;
	background-position:top left;
	background-attachment:scroll;
	z-index:0;
	width:100%;
	height:100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#boxed #wrapper {
	position: relative;
	width: 1020px;
	margin: 0 auto;
}

#stretched #wrapper {
	position:relative;
	width:100%;
	margin: 0 auto;
}
	
.inner 	{ width:960px; margin:0 auto; }

.one_half       { width:48.5%; }
.one_third      { width:31.33%; }
.one_fourth     { width:22.75%; }
.one_fifth      { width:17.6%; }
.one_sixth      { width:14.16%; }
.two_third      { width:65.6%; }
.three_fourth   { width:74.1%; }
.four_fifth     { width:79.4%; }
.two_fifth      { width:38.2%; }
.three_fifth    { width:58.8%;   }

.one_half, .half_width, 
.one_third, .two_third,
.one_fourth, .one_fifth,
.four_fifth, .one_sixth,
.two_fifth, .three_fifth,
.three_fourth   {
	position:relative;
	display:inline-block;
	*display:inline;
	float:left;
	margin-right:3%;
	margin-bottom:15px;
	}

.last { margin-right: 0 !important; }
.pagemid { 
	position: relative;	
	margin: 0 auto;
	padding: 30px 0;
	overflow: hidden;
	z-index: 3;
}
	
.pagemid .inner { 
	width: 920px;
	}
.galleria {
	margin-bottom:20px;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Layout Wrapper
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
#layout_wrapper {
	position: relative;
	width: 980px;
	margin: -50px auto;
	z-index: 4;
	background-color: #FFFFFF;
	-webkit-border-radius:	0 0 5px 5px;
	-moz-border-radius:     0 0 5px 5px;
	border-radius:          0 0 5px 5px;	
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0 0 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow:         0 0 2px 1px rgba(0, 0, 0, 0.2);
}
#stretched #layout_wrapper {
	width:100%;
	-webkit-border-radius:	0;
	-moz-border-radius:     0;
	border-radius:          0;
	-webkit-box-shadow: 0;
	-moz-box-shadow:    0;
	box-shadow:         0;
	}

#boxed .frontpage_teaser,
#boxed #subheader {
	-webkit-border-radius:	0 0 10px 10px;
	-moz-border-radius:     0 0 10px 10px;
	border-radius:          0 0 10px 10px;	
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0 0 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow:         0 0 2px 1px rgba(0, 0, 0, 0.2);
}
#boxed #footer {
	-webkit-border-radius:	10px 10px 0 0;
	-moz-border-radius:     10px 10px 0 0;
	border-radius:          10px 10px 0 0;	
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0 0 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow:         0 0 2px 1px rgba(0, 0, 0, 0.2);
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Topbar
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.topbar {
	height: 5px;
	margin: 0;
	padding: 0;
	background-color: #00aeff;
}

.sociables {
	margin:0;
	padding:0;
	}

.atpsocials { 
	list-style: none;
	margin: 0; 
	padding: 0; 
}

.atpsocials ul { margin: 0; padding: 0;}	
.atpsocials li{ 
	display: inline-block; 
	*display: inline;
	padding: 0 !important;
	margin: 0 3px; 
	line-height: 20px; 
	background:none !important;
}
				
.atpsocials li img{
	position: relative; 
	vertical-align: middle;
}

	
.atpsocials li a{ display: block }
.atpsocials li { 
	text-align: center;
	vertical-align: bottom;

}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Header, Logo
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#header {
	background-color: #ffffff;
	position: relative;
	margin: 0 auto;
	padding: 20px 0;
	background-image:url(images/opacs/dark10.png);
	background-position: left bottom;
	background-repeat:repeat-x;	
	z-index: 6;
}
#header:after {
	clear:both;
	display:block;
	content:'';
}
	
.header_right {
	display: inline-block;
	float: right;
}

.header_right h4 { margin-bottom:5px;}


.header_right p { margin-bottom: 0; }	
.header_right ul { list-style-position:inside;}
.header_right ul li { list-style:none; list-style-position:inside;}

/* LOGO -----------------------*/
.logo {
	display: inline-block;
	float:left;
	position: relative;
}


/* Logo if selected as text*/
h1#site-title       { margin-bottom: 0;}
h1#site-title a { 
	color:#444444; 
	font-size: 30px; 
	line-height: 28px; 
	font-weight: bold; 
	text-decoration: none; 
	margin-bottom: 5px; 
	letter-spacing: -1px;
	}
h2#site-description {
	color:#999999; 
	font-size: 12px; 
	line-height: 14px; 
	text-decoration: none; 
	margin-bottom: 0;
	}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Header Teaser
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.frontpage_teaser {
	background-color: #EDEFF0;
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0 40px 0;
	color: #000000;
	z-index:3;
}
.frontpage_teaser:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.frontpage_teasercontent {
	width: 960px;
	margin: 0 auto;
	padding: 0 0 40px 0;
	text-align: center;
}

.frontpage_teaser h1 {
	font-size: 32px;
	line-height: 40px;
	}

/* ---------- Menu ---------- */
	
.primarymenu {
	clear:both;
	position: relative;
	margin: 0 auto;
	padding: 0;
	z-index:5;
	background-color:#354249;
}

.primarymenu:after { clear: both; display: block; content: "";}
.primarymenu nav { margin: 0 auto; width:980px; }
	
.sf-menu, 
.sf-menu *						{ margin: 0; padding: 0; list-style: none; }
.sf-menu                      	{ margin: 0 auto; line-height: 1.0; position: relative; z-index: 99; }
.sf-menu ul                   	{ position: absolute; top: -999em; width: 14em; z-index: 100; /* left offset of submenus need to match (see below) */}
.sf-menu ul li                	{ width: 100%; position: relative;z-index: 101;}
.sf-menu li:hover             	{ visibility: inherit; /* fixes IE7 'sticky bug' */}
.sf-menu li                   	{ position: relative; float: left; list-style-position: inside; }
.sf-menu a                    	{ display: block; position: relative; }
.sf-menu li:hover ul,
.sf-menu li.sfHover ul        	{ left: 0; top: auto; /* match top ul list item height */ }
.sf-menu li:hover li ul,
.sf-menu li.sfHover li ul     	{ top: -999em; }
.sf-menu li li:hover ul,
.sf-menu li li.sfHover ul     	{ left: 14em; top: 0; /* match ul width */ }
.sf-menu li li:hover li ul,
.sf-menu li li.sfHover li ul  	{ top: -999em; }
.sf-menu li li li:hover ul,
.sf-menu li li li.sfHover ul  	{ left: 14em; top: 0;/* match ul width */ }

/* Menu Settings */

.sf-menu a         { color:#ffffff; padding: 1.3em 20px; text-decoration: none;}
.sf-menu a, 
.sf-menu a:visited { text-decoration: none; }
.sf-menu li a      { font-size: 14px; font-weight: normal;  }
.sf-menu li > a    { font-weight: normal; }
.sf-menu li li a   { font-weight: normal; font-size: 13px !important; padding: 1em 1.4em; border-bottom: 1px solid #505b61; }
.sf-menu li li:last-child a  { border-bottom: 0 solid #eee; }
.sf-menu ul {
	background-color: #354249;
}
/*--------------------------------------------------------*/
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, 
.sf-menu a:active { 
	background-color:#00aeff;
	color:#ffffff;
	outline: 0; 
	text-decoration: none; 
}

/*--------------------------------------------------------*/
.sf-menu li li:hover, .sf-menu li li.sfHover,
.sf-menu li li a:focus, .sf-menu li li a:hover, 
.sf-menu li li a:active {
	background-color:#00aeff;
	color:#ffffff;
	text-decoration: none; 
	outline: 0; 
}
/*--------------------------------------------------------*/
/* Active Page Status CSS for all the browsers*/	
.sf-menu li.current-cat a, 
.sf-menu li.current_page_item > a,
.sf-menu li.current-page-ancestor > a { margin: 0; background-color:#00aeff; color:#ffffff; }

/*--------------------------------------------------------*/

.sf-sub-indicator {
	position: absolute;
	right: 0.60em;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Featured slider
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#featured_slider {
	position: relative;
	margin: 0 auto;
	padding:0;
	background-color:#222222;
	overflow: hidden;
	z-index: 3;
}

.slider_wrapper {
	position: relative;
	width: auto;
	margin: 0 auto;
	padding: 0;
	text-align:center;
}
.planbox_slider { width:920px; margin:0 auto; padding:20px 0}
.planbox_slider .one_third { margin-bottom:0; }

.slider_wrapper.video   { text-align: center; }
.slider_wrapper .staticslider { margin: 0 auto; text-align: center; }
.slider_wrapper .staticslider img { display:table; margin:0 auto}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Subheader
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#subheader { 
	background-color: #e5e5e5;
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0 70px 0;
	}

#subheader .inner {	
	width: 960px;
	margin: 0 auto;
	text-align: center;
	}

.subheader {
	display: block;
	margin: 0 auto;
	text-align: center;
	}

#subheader .subtitle h1 {
	font-size: 250%;
	line-height: 100%;
	}

#subheader .subtitle h1 span {	
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	}
	
#subheader .subdesc {
	width: 80%;
	min-width: 400px;
	margin: 0 auto;
	padding: 0;
	}

#subheader .subdesc p {
	margin-bottom: 0;
	font-size: 14px;
	line-height: normal;
	}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Sidebars & Main Content
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.fullwidth #main { padding:40px 0; }

/* Left Sidebar*/
.leftsidebar #main { 
	float: right; 
	padding: 40px 0; 
	width: 650px; 
}

.leftsidebar #main .entry-content { 
	padding-left: 20px;	
}

.leftsidebar #sidebar { 
	position:relative;
	float:left; 
	width:270px; 
	padding:30px 0;
}

.leftsidebar #sidebar .content{ 
	padding:0 30px 0 0; 
} 

/* Right Sidebar*/
.rightsidebar #main { 
	float: left; 
	padding: 40px 0 40px 0;
	width: 650px;
}

.rightsidebar #main .entry-content {
	padding-right: 20px; 
}

.rightsidebar #sidebar {
	position: relative;
	float: left;
	width: 270px;
	padding: 40px 0;
}

.rightsidebar #sidebar .content{ 
	padding: 0 0 0 30px; 
} 

		
/* Page middle content area */

.pagemid { 
	position: relative; 
	display: block;
	width: 100%;	
	margin: 0 auto;
	padding: 0;
	z-index: 2;
}


/* Sub Navigation =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.sub_nav {
	position:relative;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
}

.sub_nav li ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.sub_nav li ul li a{
	background: #f5f5f5;
	color: #999999;
	padding: 11px 15px 11px 30px;
}

.sub_nav li a {
	display: block;
	margin: 0 0 -1px 0;
	padding: 11px 15px;
	border: 1px solid #dddddd;
	border-bottom-color: #eeeeee;
	border-top-color: #eeeeee;
	color: #666666;
}

.rightsidebar .sub_nav li.current_page_item > a,
.rightsidebar .sub_nav li.current_page_item > a:hover {
	background-image: url(images/sub_arrowleft.png);
	background-position:10px center;
	background-repeat:no-repeat;
}

.leftsidebar .sub_nav li.current_page_item > a,
.leftsidebar .sub_nav li.current_page_item > a:hover {
	background-image: url(images/sub_arrowright.png);
	background-position:95% center;
	background-repeat:no-repeat;
}


.sub_nav li.current_page_item > a,
.sub_nav li.current_page_item > a:hover {
	position: relative;
	margin:0;
	padding: 11px 25px;
	zoom: 1;
	background-color: #aaaaaa;
	color: #ffffff !important;
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,0.1), inset -1px 0 0 rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 0 0 rgba(0,0,0,0.1), inset -1px 0 0 rgba(0,0,0,0.1);
	box-shadow: inset 1px 0 0 rgba(0,0,0,0.1), inset -1px 0 0 rgba(0,0,0,0.1);
}

.sub_nav li a:hover { background-color: #e5e5e5;}

.sub_nav li:first-child a { border-top-color: #dddddd; }
.sub_nav li:last-child a { border-bottom-color: #dddddd; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	WIDGET
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.widget-title { font-size:14px; margin-bottom:10px;}
.widget { margin-bottom:40px; }
.widget ul  { margin:0; padding:0; }
.widget ul ul     { margin-bottom:0; }	
.widget ul li   {
	margin:0;
	padding:0 0 0 10px;
	list-style-type:none;
	position:relative;
	background-image:url(images/bullets/lists.png);
	background-position: -388px -100px;
	background-repeat:no-repeat;
}

.widget ul li a {
	padding:1px 0px 1px 0px;
	zoom:1; 
}

.widget_recent_comments ul li {
	padding: 5px 0;
	border-bottom: 1px solid #e1e2e3;
	background: none;
	}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	BREADCRUMB
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.breadcrumbs {
	background-color: #f1f1f1;
}

.breadcrumb {
	border-bottom:1px solid #e1e1e1;
	position:relative;
	display: block;
    padding: 5px 0;
	margin:0 auto;
	}
.breadcrumb .breadcrumbs-plus {
	width:920px;
	margin:0 auto;
	font-size:11px;
	color:#999
}

.breadcrumb span { padding: 0 4px 0 4px;  }
.breadcrumb span.separator { font-size:14px;}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	jCarousel - Events Lists
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.post_list{ 
	margin:0;
	text-align: center;
	border-bottom:1px solid #e1e2e3;
}

.post_list img { vertical-align: top; }
.post_list h5 { margin-bottom: 0; }
.post_list h5 a { color: #222222; }
.post_list 
.list_carousel,
.post_list  .content {
	padding: 15px;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition:    all 0.5s ease 0s;
	-o-transition:      all 0.5s ease 0s;
	transition:         all 0.5s ease 0s;
}

.post_list:hover .content{ background-color: #00aeff; color:#ffffff; }
.post_list:hover .content h5,
.post_list:hover .content a { color: #ffffff;}

.carousel-title {
	margin-bottom: 0;
	font-weight: bold;
	line-height: 100%;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Events & Post Meta Data
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.events  { position:relative; margin:0; }
.event_meta { float:left; }
.postdate,
.event_meta {
	display:block;
	width: 36px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 8px;
	text-align: center;
	border: 1px solid #dddddd;
	-webkit-border-radius: 50px;
	-moz-border-radius:    50px;
	border-radius:         50px;
}

.postdate .month,
.event_meta .month {
	display: block; 
	font-size: 10px; 
	line-height: 14px; 
	text-transform:uppercase;
}
.postdate .day,
.event_meta .day { 
	display: block; 
	font-size: 19px; 
	line-height: 20px;
	}

.event_entry { overflow:hidden; min-width:100px; }
.event_entry ul { margin-bottom:0 }
.event_entry ul li { list-style:none; line-height:22px;}
.events .info {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.events .info .info_date,
.events .info .info_time,
.events .info .info_place {
	margin-right: 45px;
	font-weight: bold;
}
.event_thumb { float: left; margin: 0 30px 20px 0;}
.event_details { float: left; margin: 0; }

.event-single .event_details ul li { display:inline-block; margin-right:15px; }
.event-single .event_thumb { float:none; margin:0 0 30px 0;}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Staff Box
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.bio {
	position:relative;
	overflow:hidden;
	background: url(images/opacs/dark10.png) left bottom scroll repeat-x;
}
.bio .bio_meta {
	display:block;
	overflow:hidden;
}

.bio .head {
	padding-bottom: 10px;
}

.bio h4{
	margin-bottom: 5px;
}

.bio .bio_meta .head h4 span{
	display: block;
	font-size: 11px;
	font-weight: normal;
}

.bio figure img { display: block; margin: 0 auto 20px auto;   }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Progress Bar
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.progress_container {
	position: relative;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 4px;
	width: 98%;
	background: #f1f2f3;
	-moz-border-radius:    3px;
	-webkit-border-radius: 3px;
	border-radius:         3px;
	
}
 
.progress_bar{
	position: relative;
	padding: 3px 5px;
	width: 0;
	background-color:#00aeff;
	-moz-border-radius:    3px;
	-webkit-border-radius: 3px;
	border-radius:         3px;	
}
	
.progress_bar span {
	padding-left: 10px;
	font-size: 12px;
	color: #fff;
}
	
span.percentage {
	position: absolute;
	right: 10px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Non Sortable Portfolio
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.portfoliotype .postimg { margin-bottom:40px;}

.portfolio_items {
	clear: both;
	position: relative;
	padding: 0;
	width: auto;
	overflow: hidden;
}
.portfolio_items .item { overflow:hidden; margin-bottom:30px; }

.portfolio_grid {
	position:relative;
	display:block;	
	margin:0;	
}
.portfoliogrid {
	display:block;
	position:relative;
}
.port_img,
.sort_img {
	position:relative;
}

.port_desc { padding: 10px 0 0 0;	}
.port_desc h4 { margin-bottom: 5px; }
.port_desc h5 { margin-bottom: 5px; }
.port_desc p.date {
	font-size:12px;
	margin-bottom:10px;
	text-transform:uppercase;
	letter-spacing:2px;
}
.port_box {
	display:block; 
	position:relative;
	float:left;
	margin:0 0 10px 0 ;		
}
.port_desc date { margin-bottom:20px; }
.port_desc p.extras { margin-bottom:0; font-style: italic; letter-spacing: 0.8px;}
.port_desc.col1     { padding:0 2px 2px 2px; margin:0; }

.visitsite { margin-left: 10px;}
.portfolio_single .postimg { margin-bottom:20px;}
.post_slider { 
	display:block; 
	position:relative; 
	z-index:2;
}
.post_slider img { display: block; margin-bottom:30px;}
	
/* -------------------------------------------------- */
	.portfoliopage .details { list-style:none}

	.portfoliopage .details li{
	    overflow: hidden;
	    margin-bottom: 15px;
	    padding-bottom: 15px;
	    border-bottom: 1px solid #E7E6E6;
	}
	
	.portfoliopage .details h5{
	    float: left;
	    margin: 0 !important;	
	    width: 120px;	
	}
	
	.portfoliopage .details li span { float:left;}


.layout-half .postimg { width:65%; float:left; display:inline; margin-right:5%; }
.layout-half .portfoliopage { width:30%; float:right; }
.layout-half .two_third,
.layout-half .one_third { width:100%; margin-right:0; float:none; }

/* -------------------------------------------------- */

.singlepostlists { 
	overflow:hidden; 
	margin:0 0 20px;
	padding:20px 0; 
	border:1px solid #ddd; 
	border-width:1px 0 1px 0; 
	}

.singlepostlists ul { margin:0; padding:0; }
.singlepostlists li  { 
	display:inline-block; 
	*display:inline; 
	float:left; 
	width:150px;
	margin:0 5px; 
	font-size:11px;
	line-height:16px; 
	padding:0;
}

.singlepostlists li .thumb { 
	display:block; 
	margin:0 0 5px 0;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Sortable Portfolio
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.sortable { width:100%; }
.sort_img,
.postimg {
	position: relative;
	padding: 0;
}

.image-grid .item {
	position: relative;
	overflow:hidden;
}
.sort_column1 .item {
	width: 100%;
	height: 300px;
	margin: 0 0 40px 0;
}
.sort_column1 .item  .sort_img {
	position:relative;
	float: left;
	width: 620px;
	min-height: 200px; /* .sort_column1 height*/
	height: auto;	
	margin-right: 30px;
}
.sort_column2 .item  {
	position:relative;
	width:47.0%;
	min-height:250px;  /* .sort_column2 height*/
	height: auto;
	margin: 0 10px 20px 10px;
}

.sort_column3 .item {
	width: 31.0%;
	min-height: 210px; /* .sort_column3 height*/
	height: auto;
	margin: 0 5px 20px 5px;
}
.sort_column4 .item {
	width: 22.5%;
	min-height: 175px; /* .sort_column4 height*/
	height: auto;
	margin: 0 10px 20px 10px;
}

/* Isotope Menu Grid */
.splitter  { 	
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0;
	}
	
.splitter ul        { margin-right: 0; margin-top: 0; margin-bottom:15px; }
.splitter > li      { padding-left: 0; }
.splitter > li ul  { margin-left: 5px; }
.splitter ul li a   { border-bottom: 0; position: static; }

.splitter li,
.splitter ul,
.splitter ul li a   { display: inline-block; display: inline;  line-height: 1; }

.splitter ul,
.splitter ul li,
.splitter ul        { background-position: 0 -138px; background-repeat: repeat-x; }
.splitter ul li     {  }
.splitter ul li a:hover { 
	padding: 5px 8px 6px;
	text-decoration:none; 	
	border-bottom:2px solid #00aeff;
}
.splitter li a.selected { border-bottom:2px solid #00aeff; }	
.splitter ul li:first-child { margin-left: 0; }
.splitter ul li a   { 
	padding: 5px 8px 6px; 
	text-decoration: none; 
}	
	
/**** Isotope Filtering ****/

.isotope-item {  z-index: 2; }
.isotope-hidden.isotope-item {  pointer-events: none; z-index: 1; }

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
	-webkit-transition-duration:	0.8s;
	-moz-transition-duration:	0.8s;
	-o-transition-duration:		0.8s;
	transition-duration:		0.8s;
}

.isotope {
	-webkit-transition-property:	height, width;
	-moz-transition-property:	height, width;
	-o-transition-property:		height, width;
	transition-property:		height, width;
}

.isotope .isotope-item {
	-webkit-transition-property:	-webkit-transform, opacity;
	-moz-transition-property:	-moz-transform, opacity;
	-o-transition-property:		top, left, opacity;
	transition-property:		transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration:	0s;
	-moz-transition-duration:	0s;
	-o-transition-duration:		0s;
	transition-duration:		0s;
}

/* End: Recommended Isotope styles */


/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition:	none;
	-moz-transition:	none;
	-o-transition:		none;	
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Pagination
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.pagination {
	margin: 15px auto;
	padding:15px 0 0 0;
	background:url('images/opacs/dark10.png') left top repeat-x;
	text-align:center;
}

.pagination a, 
.pagination a:link, 
.pagination a:visited,
.pagination a:active,
.pagination span.current,
.pagination span.pages,
.pagination span.extend { 
	margin: 0 8px;
	padding:0 3px;
	padding-bottom:5px;
	font-size: 20px;
	font-weight:normal;
}

.pagination span.current { font-weight: bold; border-width:0 0 2px 0; border-style: solid; }
.pagination span.extend	 { background:none; padding-right:10px; font-size:14px; }	
	
	
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Hover Icons
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/


.hover_type   { display: none; position:absolute; z-index:10; left:50%; }
.hover_type a { 
	position: absolute; 
	bottom: 0px; 
	width: 40px; 
	height: 40px; 
	background-repeat: no-repeat;
	background-position:center center;
	-moz-border-radius:    40px;
	-webkit-border-radius: 40px;
	border-radius:         40px;
	
}

.hover_type a.hoverlink        { background-image: url(images/hoverlink.png);   }
.hover_type a.hoverimage       { background-image: url(images/hoverimage.png); right: 1px !important; }
.hover_type a.hovervideo       { background-position: -30px 0; right: 1px !important; }
.hover_type a.hovercustomlink  { background-position: 0 0; right: 1px !important; }

.hover_type a.hoverlink,
.hover_type a.hoverimage,
.hover_type a.hovervideo,
.hover_type a.hovercustomlink {
	background-color: #FFFFFF; 
	}

.hover_type a.hoverlink:hover,
.hover_type a.hoverimage:hover,
.hover_type a.hovervideo:hover,
.hover_type a.hovercustomlink:hover {
	background-color: #222222; 
	}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Blog Post
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.post {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
}
	
.post-meta {
	*display: inline;
	display: inline-block;
	float: left;
	width: 100px;
	margin-right: 20px;
	font-size:11px;
}
.post-right {
	min-width: 200px;
	overflow: hidden;
}
	
.post-meta a { color: #999999;}
.post-meta a:hover { color: #000000;}

.post-meta .postedby,
.post-meta .postedin,
.post-meta .comments {
	margin-bottom:5px;
}

.postimg { 
	position:relative;
	margin-bottom: 15px;
	}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	SEARCH
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.widget.widget_search {
	position:relative;
	width:100%;
	}
* html .search-box               { margin-top: 10px; }
*:first-child+html .search-box 	 { margin-top: 10px !important; }
.search-box input  { 
	width:93%; 
	margin: 0 auto; 
	padding:7px;
	font-size:11px; 
	border:1px solid #ddd; 
	box-shadow:inset 0 0 4px 1px #f0f0f0;
	color: #999999;
	}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	AUTHORBOX
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

 .post  #entry-author-info { 
	margin:0;
	padding:20px 0; 
	border:1px solid #ddd; 
	border-width:0 0 1px 0; 
	overflow: hidden;
	}

.post .author_entry { margin:0 0 0 0; }
.post .author-avatar          { float:left; margin:0 20px 0 0; }
.post .author-description h5  { margin-bottom:5px; }


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	POST PAGINATION
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
#port-nav-below {
	margin:0 auto; 
	margin:0 0 10px 0; 
	overflow:hidden; 
	}

#nav-below {
	margin:30px 0; 
	padding:20px 0; 
	overflow:hidden; 
	}

#port-nav-below .nav-previous,
#nav-below .nav-previous	{
		position: relative;
		display:inline-block;
		line-height:1em;
		width:50%;
		float: left;
		}

#port-nav-below .nav-next,
#nav-below .nav-next  {
		display:inline-block;
		position: relative;
		line-height:1em;
		width:50%;
		float: right;
		text-align:right;
		}

	.nav-previous span { margin-right:10px; }
	.nav-next span     { margin-left:10px; }

	.nav-next span,
	.nav-previous span { 
		line-height:2em; 
		text-transform:uppercase; 
		display: block; 
		color:#aaa;
		}
	
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Footer, Copyright
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/	
	
#footer {
	position: relative;
	padding: 90px 0 0px 0;	
	background-color: #EDEFF0;
	z-index: 1;
}

#footer .inner {
	overflow: hidden;
}


/* copyright */	
.copyright {
	position: relative;
	margin: 0 auto;
	padding: 20px 0;
	background-color:#ffffff; 
	font-size: 11px;
	overflow:hidden;
}
.copyright_left ul,
.copyright_right ul { margin: 0; padding: 0; }
.copyright_left ul li,
.copyright_right ul li { display: inline-block; padding:0 10px 0 0; background:none;  }
.copyright_left ul li a,
.copyright_right ul li a { color: #999999; }
.copyright_left ul li a:hover,
.copyright_right ul li a:hover { color: #000000; }
	
.copyright p {
	margin-bottom: 0;
}
	
.copyright_left {
	float: left;
	width: 50%;
}
	
.copyright_right {
	float: right;
	width: 50%;
	text-align: right;
}
	
.copy_links {
	margin: 0;
}
	
.copy_links li {
	display: inline;
	list-style: none;
	margin: 0 10px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	STAFF > SOCIABLES
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.bio .sociables {
	margin:10px 0 0 0; 
	padding:0;
}

.sociables .atpsocials {
	margin:0; 
	padding:0;
	list-style:none;
}

.sociables  .atpsocials li {
	background:none !important;
	display: inline-block; 
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0 !important;
}

.sociables  .atpsocials li img{
	position:relative; 
	vertical-align:middle; 
}
	
.sociables  .atpsocials li a{ 
	display: inline-block; 
	width: 40px;
	height: 40px;
	background-image:url(images/social_icons.png);
	background-repeat:no-repeat;
	-webkit-transition: 	all 200ms ease-in;
	-moz-transition: 	all 200ms ease-in;	
	-o-transition: 		all 200ms ease-in;
	-ms-transition: 	all 200ms ease-in;	
	transition: 		all 200ms ease-in;
}

.atpsocials li a.application  	 { background-position:0 0; }
.atpsocials li a.blogger		{ background-position:-40px 0; }
.atpsocials li a.delicious		{ background-position:-80px 0; }
.atpsocials li a.deviant		{ background-position:-120px 0; }
.atpsocials li a.digg			{ background-position:-160px 0; }
.atpsocials li a.facebook		{ background-position:-200px 0; }
.atpsocials li a.flickr		{ background-position:-240px 0; }
.atpsocials li a.forrst		{ background-position:-280px 0; }
.atpsocials li a.google		{ background-position:-320px 0; }
.atpsocials li a.html5		{ background-position:-360px 0; }
.atpsocials li a.lastfm		{ background-position:-400px 0; }
.atpsocials li a.linkedin		{ background-position:-440px 0; }
.atpsocials li a.paypal		{ background-position:-480px 0; }
.atpsocials li a.picasa		{ background-position:-520px 0; }
.atpsocials li a.pinterest		{ background-position:-560px 0; }
.atpsocials li a.rss			{ background-position:-600px 0; }
.atpsocials li a.skype		{ background-position:-640px 0; }
.atpsocials li a.stumbleupon		{ background-position:-680px 0; }
.atpsocials li a.technorati		{ background-position:-720px 0; }
.atpsocials li a.twitter		{ background-position:-760px 0; }
.atpsocials li a.dribbble		{ background-position:-800px 0; }
.atpsocials li a.twitter3		{ background-position:-840px 0; }
.atpsocials li a.vimeo		{ background-position:-880px 0; }
.atpsocials li a.windows		{ background-position:-920px 0; }
.atpsocials li a.wordpress		{ background-position:-960px 0; }
.atpsocials li a.yahoo		{ background-position:-1000px 0; }
.atpsocials li a.yelp			{ background-position:-1040px 0; }
.atpsocials li a.youtube		{ background-position:-1080px 0; }
.atpsocials li a.application:hover   	{ background-position:0 -40px; }
.atpsocials li a.blogger:hover	{ background-position:-40px -40px; }
.atpsocials li a.delicious:hover	{ background-position:-80px -40px; }
.atpsocials li a.deviant:hover	{ background-position:-120px -40px; }
.atpsocials li a.digg:hover		{ background-position:-160px -40px; }
.atpsocials li a.facebook:hover	{ background-position:-200px -40px; }
.atpsocials li a.flickr:hover		{ background-position:-240px -40px; }
.atpsocials li a.forrst:hover		{ background-position:-280px -40px; }
.atpsocials li a.google:hover		{ background-position:-320px -40px; }
.atpsocials li a.html5:hover		{ background-position:-360px -40px; }
.atpsocials li a.lastfm:hover		{ background-position:-400px -40px; }
.atpsocials li a.linkedin:hover	{ background-position:-440px -40px; }
.atpsocials li a.paypal:hover		{ background-position:-480px -40px; }
.atpsocials li a.picasa:hover		{ background-position:-520px -40px; }
.atpsocials li a.pinterest:hover	{ background-position:-560px -40px; }
.atpsocials li a.rss:hover		{ background-position:-600px -40px; }
.atpsocials li a.skype:hover		{ background-position:-640px -40px; }
.atpsocials li a.stumbleupon:hover	{ background-position:-680px -40px; }
.atpsocials li a.technorati:hover	{ background-position:-720px -40px; }
.atpsocials li a.twitter:hover	{ background-position:-760px -40px; }
.atpsocials li a.dribbble:hover	{ background-position:-800px -40px; }
.atpsocials li a.twitter3:hover	{ background-position:-840px -40px; }
.atpsocials li a.vimeo:hover		{ background-position:-880px -40px; }
.atpsocials li a.windows:hover	{ background-position:-920px -40px; }
.atpsocials li a.wordpress:hover	{ background-position:-960px -40px; }
.atpsocials li a.yahoo:hover		{ background-position:-1000px -40px; }
.atpsocials li a.yelp:hover		{ background-position:-1040px -40px; }
.atpsocials li a.youtube:hover	{ background-position:-1080px -40px; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Testimonial list
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.testimonial_list {
	min-width:200px;
	min-height:150px;
	overflow: hidden;
	position:relative;
	list-style: none outside none;
	padding:0;
	margin:0;
}

.testimonial_list li {
	position: absolute;
	top: 0px;
	 left: 0px;
	display:none;
	background:none;
	padding:0;
}

.testimonial_list li:first-child {
	display:block;
}

.testimonials .content	 {	
	clear:both;
	margin:0 0 20px 0;
}


.testimonials {
	overflow:hidden;
	height:100%;
	padding-bottom:0;
	margin:0;
}
.testimonial_list ul li {
	padding:0;
	background:none;
}

.testimonials .clientmeta span {
	display:block;	
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Comment form
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.input_small   { width:25% !important; }
.input_medium  { width:50% !important; }
.input_large   { width:90% !important; }


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	STICKY BAR
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#sticky { 
	display:none;
	position:relative; 
	top:0;
	width:100%; 
	padding:11px 0; 
	z-index:1000; 
	background-color:#ffe487;
	color:#333333;
	text-align:center;
	}

#sticky a { color:#999999; }
#sticky a:hover { text-decoration:underline; }

.tarrow { 
	position:absolute;
	top:5px;
	right:10px; 
	width: 29px; 
	height: 34px; 
	background: url(images/toggle_up.png) 0 0 no-repeat; 
	z-index:2000;
	}

.tarrow.active { 
	background: url(images/toggle_down.png) 0 0 no-repeat;
	}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	COMMENTS
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#comments { margin:0; padding:20px 0; }
.comments-title { text-align:center;	}
.comments-title em { 
	display:block; 
	font:italic 12px Georgia, Times, Serif;
}

.comments-area ol { margin:0 0 30px 0; padding: 0; }
.comments-area ol li { margin: 0px;  padding:0px; list-style-type:none;}
.comments-area .comment_wrap {
	position:relative;  
	margin:0 0 30px 0;
	padding:0 0 15px 0; 
	border-bottom:1px solid #ddd;
	}

.comments-area .comment-author         { display:block; }
.comments-area .comment-author .avatar { float:left; margin-right:10px; padding-right:10px; border-right:1px solid #ddd; }
.comments-area .comment-meta { font-size: 11px; }
.comments-area .single_comment  { clear:both; margin-top:10px; }

.comments-area li.bypostauthor cite span {
	margin-left: 5px;
	padding: 2px 5px;
	font-size: 11px;
	background:#666;
	color:#fff;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
	}

.comments-area .comment-meta cite { 
	display:block; 
	font-weight:bold;
	font-style:normal;
	}

.commentlist ul.children { 
	margin:0; 
	padding:0 0 0 50px;  
}
	
.commentlist .children .comment_wrap { padding-top:0px; }
.commentlist .moderation { margin-top: 10px; color: #dd0000;   }
.commentlist .children   { margin-bottom:0px;}
.comment-author-admin .avatar { 
	padding-bottom:1px; 
	border-bottom:0px solid #222;
}

	.comment-edit-link,
	.post-edit-link { 
		background: #ff8800;
		padding:3px 8px; 
		color:#fff;
		border-radius: 4px;
		}
	.post-edit-link:hover,
	.comment-edit-link:hover { color:#fff;}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	COMMENTS FORM
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#respond {
	margin: 20px 0;
	padding: 0;
	position: relative;
	width: 97%;
}
#respond input[type="text"],
#respond textarea {
	background: #fff;
	border: 4px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	position: relative;
	padding: 5px;
	text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	background: #eee;
	-webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	color: #555;
	display: inline-block;
	font-size: 13px;
	left: 4px;
	min-width: 60px;
	padding: 4px 10px;
	position: relative;
	top: 25px;
	z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	resize: vertical;
	width: 97%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	right: 2%;
	position: absolute;
	top: 30px;
	z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 13px;
}
#respond p {
	margin:0;
}
#respond .form-submit {
	margin: 10px 0 10px;
}
#respond input#submit {
	background: #222;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	margin: 20px 0;
	padding: 5px 42px 5px 22px;
	position: relative;
	left: 30px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#respond input#submit:active {
	background: #1982d1;
	color: #bfddf3;
}

#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
}
#reply-title {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

#respond label {
	line-height: 1.1em;
}
#respond input[type=text] {
	display: block;
	height: 24px;
	width: 97%;
}
#respond p {
	font-size: 12px;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	ALIGNMENT
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.left {float:left;}
.right {float:right;}
.center {float:none; text-align:center; margin:inherit auto;}

.alignleft, 
img.alignleft, 
a img.alignleft      { float:left; margin:3px 15px 20px 3px;}

.alignright, 
img.alignright, 
a img.alignright     { float:right; margin:3px 3px 20px 15px;	}

.aligncenter, 
img.aligncenter, 
a img.aligncenter    { clear:both; display:block; margin:10px auto 20px auto; padding:2px; text-align:center;	}

.wp-caption 			      { text-align: center; margin-bottom: 20px; padding: 2px; border:1px solid #ddd; background:#f1f2f3; }
.wp-caption img 		      { margin: 3px;}
.wp-smiley 			          { margin:0; }
.wp-caption p.wp-caption-text { margin: 0 0 4px; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	jcarousel 
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.jcarousel-container {
	margin-top: 15px;
}

.jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-container-horizontal {
	padding: 0px;
}

.jcarousel-clip {
	overflow: hidden;

}

.jcarousel-clip-horizontal {
}

.jcarousel-item {
	margin:0px;
}

.jcarousel-item  .content{
	text-align: center;
}

.jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 14px;
	width: 220px;
}

.jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal {
	position: absolute;
	top: -30px;
	right: 0px;
	width: 11px;
	height: 11px;
	cursor: pointer;
	background: transparent url(images/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(images/next-horizontal.png);
}


.jcarousel-prev-horizontal {
	position: absolute;
	top: -30px;
	right: 20px;
	width: 11px;
	height: 11px;
	cursor: pointer;
	background: transparent url(images/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(images/prev-horizontal.png);
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Testimonial list
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.testimonial_list {
    min-width:200px;
    min-height:340px;
    overflow: hidden;
    position:relative;
    list-style: none outside none;
    padding:0;
    margin:0;
	}

.testimonial_list li {
    position: absolute;
    top: 0px;
    left: 0px;
    display:none;
	background:none;
	padding:0;
	}

.testimonial_list li:first-child {
    display:block;
	}

.testimonials .feedback	 {	
	clear:both;
	margin:0 0 20px 0;
	}

.testimonials .clientimg {
	float:left; 
	width:50px;
	margin-right:10px;
	}

.testimonials .clientmeta {
	float:left;
	display:inline;
	}
.testimonials {
	overflow:hidden;
	height:100%;
	padding-bottom:15px;
	}
.testimonial_list ul li {
	padding:0;
	background:none;
	}

.testimonials .clientmeta span {
	display:block;	
	}

#menu-trigger { display:none}
