/*---------------------------------
Footer Updates
----------------------------------*/


footer .textwidget {
    a {
        color: #fff !important;
        &:hover {
            color: #fff !important;
        }
    }
}

/*---------------------------------
Ambient Footer Popup
----------------------------------*/

.ambient-footer-popup {
    position: fixed;
    display: block;
    bottom: -150px;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
    max-width: 320px;
    width: 100%;

    @media (max-width:767px) {
        display: none !important;
    }

    &.closed {
        display: none !important;
    }

    &.visible {
        display: block;
        visibility: visible;
        bottom: 0px;
        opacity: 1;
        z-index: 100;
    }

    &__inner {
        background: #fff;
        box-shadow: 0px -1px 3px rgba(0,0,0,0.5);
        padding: 5px;
        border: 2px solid #ff2a13;
        //border-bottom: none;
        position: relative;
        top: 0;
        transform: scale(1);
        transition: 0.2s;
        
        &:hover {
            //background: #eaeaea;
            position: relative;
            border: 2px solid #3a53a4;
            //border-bottom: none;
            //transform: scale(1.01);
            top: -3px;         
        } 
    }

    //Close Button
    &__close-button {
        position: absolute;
        top: -15px;
        right: -15px;
        border-radius: 30px;
        height: 30px;
        display: block;
        width: 30px;
        background: #333;
        color: #fff;
        transition: 0.2s;
        border: 1px solid #444;
        transform: rotate(0deg);
        
        &:before {
            font-family: fontawesome;           
            content: '\f00d';
            text-align: center;
            z-index: 10;
            line-height: 27px;
            width: 100%;
            margin-left: 8px;
            margin-top: 1px;
            text-align: center;           
        }

        &:hover {             
            background: #3a53a4;
            transform: rotate(360deg);
        }
    }


    &__title {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 21px;
        line-height: 1.2;
        margin-top: 18px;
        text-transform: uppercase;
        float: left;
        width: 50%;
        margin-right: 10px;
    }

    &__image {
        display: block;
        max-width: 100%;
        margin: 5px auto 0 auto;
    }


} //End .ambient-footer-popup

/*---------------------------------
Ambient Footer Popup
----------------------------------*/

.hc-text-box {
    
    display: none;
    position: fixed;
    right: -35px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    top: 50vh;
    z-index: 9999;
    transform: rotate(-90deg);

    @media (max-width: 767px){
        display: block;
        background: #EC2227;
    }
 
    &__inner {

    }

    &__text-link {
        display: block;
        color: #fff;
        font-weight: bold;
        padding: 15px 20px;
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;
    }

} //End .hc-text-box {