/*---------------------------------
General Style Modifications & Additions
----------------------------------*/

//Footer Icon Layout Fix
@media (max-width: 979px) {
    #contact-nv, #contact-az {
        img#nv-gps1, img#az-gps1, img#nv-phone1, img#az-phone1, img#nv-envelope1, img#az-envelope1, img#nv-gps, img#az-gps, img#nv-phone, img#az-phone, img#nv-envelope, img#az-envelope {
            width: 50% !important;
        }
    }
}

//Homepage Association Layout Fixes

.home #x-section-8{
    display: none !important;
}
.association-logo-row {

    .x-container {
        @media screen and (max-width: 767px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .x-column {
                width: 140px;
                text-align: center !important;

                img {
                    display: inline-block !important;
                    float: none !important;
                    width: auto !important;
                    max-width: 80% !important;
                    vertical-align: top !important;
                }
            }
        }
    }

} //End .association-logo-row

//Updating Lists in Body Copy

.entry-content {
    ul, li, ol {
        font-size: 16px;
    }
}

//Footer UL Formatting Fix

footer {
    li {
        background: transparent !important;
    }
}

//Responsive iFrames
.iframe-wrapper {
    position: relative;
    overflow: hidden;
}


/* 16x9 Aspect Ratio */

.iframe-wrapper-16x9 {
    padding-bottom: 56.25%;
}


/* 4x3 Aspect Ratio */

.iframe-wrapper-4x3 {
    padding-bottom: 75%;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}


//Basic Grid Styles
.row {
    @include clearfix();

    .one-half {
        width: 100%;
        display: block;
        margin-bottom: 20px;

        @media screen and (min-width: 768px){
            width: 50%;
            float: left;

            &:nth-of-type(odd){
                padding-right: 10px;
            }

            &:nth-of-type(even) {
                padding-left: 10px;
            }
        }

    }

} //End .row


//Misc. Contact Page Fixes
.page-id-24 {

    .ico-gplus {
        img {
            padding-right: 10px;
        }
    }

} //End Page Wrapper

/*---------------------------------
Mobile Phone Icon
----------------------------------*/


.x-scroll-top, #trcallbutton {
    display: none !important;
}


.footer-phone-circle {
  display: none;
}

@media screen and (max-width: 767px) {
  .footer-phone-circle.visible {
    display: block;
    position: fixed;
    bottom: 80px;
    right: 10px;
    z-index: 1000;
    height: 65px;
    background: #ef2201;
    width: 65px;
    text-decoration: none !important;
    border-radius: 50px;
    text-align: center;
    font-size: 45px;
    color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    border: 1px solid white;
  }
  .footer-phone-circle.visible:hover {
    color: white;
    background: darken(#ef2201, 10%);
  }
  .footer-phone-circle.visible i {
    position: relative;
    top: -8px;
  }
}

/*--------------------------------------------
Lennox Products Style Updates
---------------------------------------------*/

.page-id-3622 {

  .mg-products-types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .mg-products-type {
    padding: 10px;
    width: 250px;
    text-align: left;
  }

  .readmore {
    text-transform: capitalize;
  }

  .x-raw-content iframe {
    //display: none
    height:  1065px;
   }


    footer.x-colophon.top, footer.x-colophon.bottom {
        background: #002951 !important;
    }

    .x-colophon .widget ul li a {
        color: #b5b9c5 !important;
    }

    .x-colophon .widget ul li, .x-colophon .widget ul {
        list-style-type: none !important;
        line-height: 3 !important;
    }

    h4.h-widget:after {
        width: 100% !important;
        max-width: 150px !important;
        position: relative;
        top: 12px;
    }

} //End page wrapper



/*--------------------------------------------
Emergency Slider Styles
---------------------------------------------*/

.emergency-slider-button {
    display: inline-block;
    vertical-align: top;
    padding: 11px;
    font-size: 18px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    transition: 0.2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #ec2227;
    border-radius: 2px;
    font-weight: bold;
    margin-right: 20px;
    max-width: 200px;

    &:hover {
        color: #fff;
        text-decoration: none;
        background: darken(#ec2227, 10%);
    }
}



.page-id-4519 {
    .arizona-number {
        display: none;
    }
    .nevada-number {
        span {
            display: none;
        }
    }
}

.emergency-desktop-phone {

    display: none;

    @media screen and (min-width: 768px){
        display: block;
        font-weight: normal;
        letter-spacing: 0.1px;
        margin-top: 10px;
        position: relative;

        &:before {
            background-color: #ed2024;
            bottom: -2px;
            content: "";
            display: block;
            height: 2px;
            position: absolute;
            width: 20px;
            margin-left: .25%;
        }
    }
}

.emergency-mobile-button {
    display: block;

    @media screen and (min-width: 768px){
        display: none;
    }
}

.emergency-slider-title {
    @media screen and (max-width: 498px) {
        font-size: 23px !important;
    }
}

.entry-featured.mtn{
  display: inline-block;
  float: right;
  margin-left: 10px;
  margin-top: 30px !important;

  .entry-thumb{
    max-width: 300px;
  }
}

// Hiding FAQ list on these pages
.page-id-4513{
  article#post-4513{
    display: none;
  }
}

.page-id-4558{
  article#post-4558{
    display: none;
  }
}

.page-id-1149, .page-id-4385{

  .random-faq-loop-header, .random-faq-loop-text{
    padding: 0px 25px;
  }
}

.page-id-4513{
  .x-header-landmark.test2{
    display: none;
  }
}

// Making all bolds look bold
strong, b {
    font-weight: bold !important;
}

.entry-content li{
  padding-bottom: 10px;
}


/*---------------------------------
Hiding Form Field w/ Referral Info
----------------------------------*/

.your-info {
    display: none !important;
}

/*---------------------------------
Hiding Form Labels Where Appropriate
----------------------------------*/

#gform_3, #gform_4 {
    label {
        display: none !important;
    }

    textarea {
        font-size: 16px !important;
    }
}

/*---------------------------------
As Featured on Section
----------------------------------*/

.featured-on-logos {

    padding: 30px 10px;
    width: 100%;
    background: #0d4479;

    &__title {
        display: block;
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
        margin-top: 0;

        &:after {
            display: none !important;
        }
    }

    &__inner {

    }

    &__image-list {
        display: flex;
        justify-content: center;

        @media screen and (max-width: 580px) {
            display: block;
            text-align: center;
        }
    }

    &__image {
        max-width: 200px;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        height: auto;
        align-self: center;

        &--huffpo {

        }

        &--inc {
            max-height: 47px;
            max-width: none;
            width: 100px;
        }

        &--today {
            max-width: 79px;
        }

         @media screen and (max-width: 580px) {
            display: inline-block;
            vertical-align: center;
         }
    }

} //End .featured-on-logos

/*---------------------------------
City Sidebar Widget
----------------------------------*/

.city-widget {

    display: block;
    max-width: 400px;
    margin-left: auto;
    clear: both;
    margin-right: auto;
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    margin-top: 20px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);

    &__title {
        display: block;
        text-align: center;
        font-size: 1.2em;
        color: #828282;
        font-weight: bold;
    }

    &__inner {

    }


    &__list {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        background: #fff !important;
        font-size: 1em;

        li {
            background: #fff !important;
        }
    }

} //End .city-widget

/*---------------------------------
Sidebar Form Update
----------------------------------*/

.x-sidebar {
    border-top: 3px solid #ec2227;

    .gform_widget {

        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #505050;

        h4.h-widget {
            display: block;
            margin-top: 0;
            text-align: center;
            font-weight: normal;
        }

        .gform_wrapper {
            margin-bottom: 0;
        }

        .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
            border: 1px solid #b7b7b7 !important;
        }
    }
}

/*---------------------------------
Category Header Fix
----------------------------------*/

.archive.category {
    .x-header-landmark {
        @media screen and (min-width: 980px){
            margin-top: 50px;
        }
    }
}

.single-post .entry-header {
      @media screen and (min-width: 980px){
            margin-top: 30px;
    }
}

/*---------------------------------
Notice Block
----------------------------------*/

.notice-block {
    text-align: center;
    background: #f0f0f0;
    font-size: 1.3em;
    font-style: italic;
    padding: 10px;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/*---------------------------------
Sidebar Form Modifications
----------------------------------*/
#text-34  h4 {
    margin-top: 0 !important;
}
.x-sidebar .gform_widget h4.h-widget {
    margin-top: 20px !important;
}


/*---------------------------------
Homepage Form Modifications
----------------------------------*/

.page-id-1149 {
    #gform_wrapper_7 {
        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), textarea{
            font-size: inherit;
            font-family: inherit;
            padding: 10px 13px;
            letter-spacing: normal;
            border-radius: 5px;
        }
    }
}

/*---------------------------------
Brining in Production Changes
- 7/19
----------------------------------*/

.page-id-1149 .random-faq-loop-header {
    text-align: center;
    font-size: 285.7%;
    margin-bottom: 30px;
    display: inline-block;
}
.page-id-1149 .rs-faq-header-wrp {
    text-align: center;
}
.page-id-1149 .random-faq-loop-header:after,
.page-id-1149 .random-faq-loop-header:before{
    background-color: #e5e5e5;
    bottom: 50%;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
    margin-left: 0;
    left: 100%;
}
.page-id-1149 .random-faq-loop-header:before {
    right: 100%;
    left: auto;
}

.page-id-1149 .random-faq-loop-text li {
    width: 49%;

    float: left;
}
.page-id-1149 .random-faq-loop-text li a {
    color: #3a53a4;
}

ul.random-faq-loop-text:after {
    content: '';
    clear: both;
    display: table;
}
.page-id-1149 ul.random-faq-loop-text {
    margin-bottom: 40px;
    list-style: none;
}
.page-id-1149 .random-faq-loop-text li:before {
    content: '✓ ';
    color: #3a53a4;
}
    .page-id-5221 h1.h-landmark.entry-title {
    margin-top: 60px;
}
.page-id-5221 .small-5.columns.raised {
    width: 30%;
    display: inline-block;
    margin: 0 30px;
    vertical-align: top;
}
.page-id-5221 .row {
    text-align: center;
}
.page-id-5221 .x-sidebar.right {
    margin-top: -100px!important;
}
.page-id-5221 .row .x-btn,
.page-id-5221 .row .button,
.page-id-5221 .row [type="submit"] {
    display: inline-block;
    padding-bottom: 7px;
}

#online-application {
    max-width: 800px;
}
#online-application .commercial-form-header {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}
#online-application .commercial-form-sub-header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 5px;
    margin: 15px 0 20px;
}
#online-application input[type="text"] {
    border: 1px solid #000!important;
    display: block;
}
#online-application input[type="submit"] {
    display: inline-block;
    width: auto;
    margin-top: 15px;
}
#online-application .row {
    display: flex;
    justify-content: space-between;
}
#online-application span {
    padding: 0;
 display: block;

}
#online-application .row span:last-child {
    margin-right: 0;
}
#online-application .row span {
    width: 100%!important;
    margin-right: 10px;

}

.page-id-5221 .rs-faq-header-wrp,
.page-id-5221 .random-faq-loop-text {
    display: none;
}
.page-id-5221 .entry-wrap #nv-gps,
.page-id-5221 .entry-wrap #nv-phone1 {
    filter: brightness(0);
    width: 12px;
    margin-right: 10px;
}
.page-id-5221 .entry-wrap address {
    margin-bottom: 0;
    font-size: 16px;
}

/* wpseo_location post type fix */

.single-wpseo_locations {

        .x-header-landmark {
            padding: 0;
        }

        header.entry-header {
            display: none;
        }

        .x-header-landmark + .x-container .x-sidebar {
            margin-top: 0;
        }


        //Widget Styles
        .wpseo-location {
            h3 {
                font-weight: normal;
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #EC2227;            
            }
        }

        //Store Locator (Form Portion)
        #wpseo-storelocator-form {
            
            background: #fafafa;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #3a53a4;
            box-shadow: 0 2px 3px rgba(0,0,0,0.2);

            p.sl-submit {
                margin-bottom: none;
            }

            input[type="submit"] {
                transition: 0.2s;
                background: #EC2227;

                &:hover {
                    background: #3a53a4;
                }
            }
        
        }

        #wpseo-sl-search {
            width: 100%;
            max-width: 260px;
        }

        .wpseo_use_current_location_image {
            fill: red;
        }

        //Results List (Includes Map Embed)
        #wpseo-storelocator-results {
            background: #fafafa;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #3a53a4;
            box-shadow: 0 2px 3px rgba(0,0,0,0.2);

            .wpseo-result {

                //Single Location Entry
                .wpseo-location{
                    h3 {
                        font-weight: light;
                        font-size: 24px;
                    }
                }
            }
        } //End #wpseo-storelocator-results

      

} //End .single-wpseo_locations

/*---------------------------------
Searchbox Form Styles
----------------------------------*/

.search-form-wrapper {
  width: 100%;
  max-width: 300px;
  position: relative;

  &__inner {
      position: relative;
  }

  .search-form {
        &__input {

            border-radius: 3px;
            box-shadow: 0 1px 2px rgba(0,0,0,0.3);
            text-align: left;
            border: 2px solid #ccc !important; 
            padding: 5px 10px;
            transition: 0.2s;
            max-width: none;
            height: 39px;
            font-size: 18px;
            width: 100%;
            margin-bottom: 0 !important;
            display: block;

            &:focus {
                border: 2px solid #3a53a4 !important; 
            }
        }

        &__submit {
            position: absolute;
            border-radius: 0 3px 3px 0 !important;
            background: #EC2227;
            color: #fff;
            text-align: center;
            top: 2px;
            line-height: 39px;
            margin-top: 0 !important;
            right: 2px;
            height: 35px !important;
            bottom: auto;
            left: auto;
            cursor: pointer;
            min-width: 0 !important;
            width: 50px;
            text-shadow: 0 1px 1px rgba(0,0,0,0.2);
            //box-shadow: -1 0px 2px rgba(0,0,0,0.1);
            height: auto;
            transition: 0.2s;

            &:hover {
                background: #3a53a4 !important;
            }

            i {
                position: relative;
                top: -13px;
            }
        }
    } //End .search-form


} //End .search-form-wrapper


  

/*---------------------------------
Search Permalink Styles
----------------------------------*/

.search-permalink {
    color: #3a53a4;
    transition: 0.2s;
    text-decoration: none;
    display: block;
    margin-bottom: 3px;
    margin-top: 6px;

    @media (max-width:500px) {
        word-wrap: break-all;
    }

    @media (max-width: 991px) {
        margin-left: 4%;
        margin-right: 4%;
        font-size: 1.2rem;
    }
    

    &:hover {
        text-decoration: underline;
        color: #ff2a13;
    }
}

/*---------------------------------
Breadcrumb Styles
----------------------------------*/

.breadcrumb-wrapper {
    background: #f7f7f7;
    padding: 5px 10px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

    @media (min-width: 1068px) {
        margin-top: 62px;
    }
}

.single-wpseo_locations {
    .breadcrumb-wrapper {
        @media (min-width: 1068px) {
            margin-top: 0;
        }
    }
}

.page .x-slider-container.below {
    @media (min-width: 1068px) {
        margin-bottom: -62px;
    } 
}

//Theme Overlay Fix
.x-section-separator-angle-in {
    display: none !important;
}


/*---------------------------------
Search Page Styles
----------------------------------*/


.search {

    .x-slider-container {
        display: none;

        &.search-slider {
            display: block;
        }
    }

    .x-header-landmark.test2 {
        display: none;
    }

    .search-header-wrap {
        padding: 30px 10px;
        max-width: 1100px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }

        .entry-title {
            font-size: 2.3em;
            font-weight: 400;
            margin-bottom: 15px;
            text-align: center;
            height: 100%;

            @media (min-width: 768px){
                margin-bottom: 15px;
                text-align: left;;
            }
        }

        .search-form-wrapper {
            @media (max-width: 767px){
                margin-left: auto;
                margin-right: auto;
            }
        }

        .search-link {
            @media (max-width: 500px) {
                word-break: break-all;
            }
        }
    }

    .search-contents {
        padding: 0 10px 30px 10px;
        max-width: 1100px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        article {
            margin-bottom: 15px; 
            border-bottom: 1px solid #f0f0f0;
            padding-bottom: 15px;
        }

        .search-title {
            margin-top: 0;
        }

        .entry-content {
            margin-top: 10px;
        }

        .search-link {
            font-size: 15px;
        }
    }

    .pagination{
        text-align: center;
        
        ul {
          display: inline-block;
          background-color: #FFF;
          white-space: nowrap;
          padding: 0;
          clear: both;
          border-radius: 3px;
        }
        
        li {
          padding: 0;
          margin: 0;
          float: left;
          display: inline;
          overflow: hidden;
          border-right: 1px solid #cecece;
        
          &:nth-last-of-type(1) {
            border-right: 0;
          }
        }
        
        a, span {
          margin: 0;
          text-decoration: none;
          padding: 0;
          line-height: 1em;
          font-size: 1em;
          font-weight: normal;
          padding: 0.75em;
          min-width: 1em;
          display: block;
          color: #ff2a13;
        
          &:hover, &:focus {
            background-color: #ff2a13;
            color: #FFF;
          }
        }
        
        .current{
            cursor: default;
            color: #333;
        
            &:hover, &:focus {
                background-color: #FFF;
                color: #333;
            }
        }
        
        } 


} //End page wrapper



/*---------------------------------
Careers Page Styles
----------------------------------*/

.page-template-template-careers {
    
    .x-sidebar.right {
        width: 24%;

        @media (max-width: 979px) {
            margin-top: 20px !important;
            clear: both !important;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .bzOpeningsCategory{
        &:after {
            content: "";
            display: table;
            clear: both;
          }
    }

    .bzOpeningsList {
        padding-bottom: 15px;
        margin-bottom: 15px;
       // border-bottom: 1px solid #ccc;
        clear: both;
        display: block;
    }
    
    .x-sidebar {
        .h-custom-headline.h5 {
            margin-top: 15px;
            color: #3a53a4;
            //font-weight: bold;
        }
        .bzOpening a {
           display: block;
           
           button {
            margin-left: 0;
            margin-right: 20px;
            width: 60px;            
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            border-radius: 2px;
            display: block;
            float: left;
            position: relative;
            top: 10px;
            background:  #3a53a4;
            border: 1px solid darken(#3a53a4, 5%);
            transition: 0.2s;

            &:hover {
                background: #fff;
                color: #3a53a4;
            }
           }

           h2 {
               float: right;
               clear: none;
               width: calc(100% - 80px);
           }
        }
       
        .bzMeta{
            margin-left: 80px !important;;
            
            li {
                padding-right: 5px;
            }
        }
        
    }

} //End .page-template-template-careers