/*---------------------------------
Header Modifications for Vegas AC Page
----------------------------------*/
.logged-in .vegas-header {
    top: 46px;
}
.vegas-header {

    padding: 10px 10px 5px 10px;
    text-align: center;
    background: #1f2c39 !important;
    background: #3a53a4 !important;
    position: fixed;
    top: 0;
    z-index: 9999 !important;
    max-width: 1300px;
    margin-left: auto;
    width: 100%;
    margin-right: auto;

    .x-topbar-inner {
        @media screen and (min-width: 1068px) {
            display: flex;
            justify-content: space-between;
        }
    }

    @media screen and (min-width: 1068px) {
    }

    &__left {
        display: none;

        @media screen and (min-width: 1068px) {
            display: block;
            width: 90px;
            text-align: left;
        }
    }

    &__right {
        text-decoration: center;
       @media screen and (min-width: 1068px) {
            text-align: right;
            width: 100%;
        }

        &--desktop {
            display: block;

            .awards-section {
                display: none;

                @media screen and (min-width: 1250px){
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                    padding-right: 30px;
                    position: relative;
                    top: 5px;

                    &__title {
                        color: #fff;
                        display: inline-block;
                        vertical-align: top;
                        text-align: left;
                        font-size: 18px;
                        padding-right: 15px;
                        font-style: italic;
                        font-weight: 300;
                    }

                    &__trust-logo {
                        max-height: 17px;
                        display: inline-block;
                        vertical-align: top;
                        position: relative;
                        top: 7px;
                        padding-right: 13px;

                        &--today-show {
                            max-height: 27px;
                            position: relative;
                            top: 1px;
                        }
                    }



                }
            }

            @media screen and (max-width: 600px) {
                display: none;
            }
        }

        &--mobile {
            display: none;

            @media screen and (max-width: 600px) {
                display: flex;
                justify-content: space-between;
            }

            .vegas-header-menu-toggle.vegas-header-menu-toggle {
                display: inline-block !important;
                vertical-align: top !important;
                float: none !important;
                padding: 11px !important;
                font-size: 19px !important;
                margin-top: 0 !important;
                border-radius: 100%;
                margin-right: 12px;
                border: 1px solid #fff;
                font-size: 24px !important;
                position: relative !important;
                top: -2px !important;
            }
        }


    }

    &__social-icon {
        color: #fff;
        font-size: 30px;
        margin-right: 10px;
        display: inline-block;
        text-decoration: none;
        transition: all 0.2s;
        font-size: 28px;
        vertical-align: top;
        line-height: 40px;

        &:hover {
            color: #e0e0e0;
            text-decoration: none;
        }
    }


    &__contact-button {
        color: #fff;
        color: #3a53a4 ;
        text-align: center;
        font-size: 1.3em;
        line-height: 1;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.2s;
        padding: 10px 12px;
        vertical-align: top;
        display: inline-block;
        border-radius: 32px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.4);
        background: #3c54a4;
        background: #1f2b50;
        background: #fff;
        margin-right: 20px;
        margin-bottom: 5px;

        &:hover {
            color: #fff;
            background: darken(#3c54a4, 10%);
            background: lighten(#1f2b50, 10%);
            background: #e0e0e0;
            color: #1f2b50;

        }


        @media screen and (max-width: 1067px) {
            font-size: 1.1em;
            padding-top: 11px;
            padding-bottom: 11px;
             width: 229px;
        }

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    &__emergency-button {
        color: #fff;
        text-align: center;
        font-size: 1.3em;
        line-height: 1;
        vertical-align: top;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.2s;
        padding: 10px 12px;
        display: inline-block;
        border-radius: 32px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.4);
        background: #ec2227;
        margin-right: 20px;
        margin-bottom: 5px;

        &:hover {
            color: #fff;
            background: darken(#ec2227, 10%);
        }

        @media screen and (max-width: 1067px) {
            margin-right: 20px;
            font-size: 1.1em;
            padding-top: 11px;
            padding-bottom: 11px;
            width: 229px;
        }
        @media screen and (max-width: 600px) {
            margin-right: 0;
        }
        @media screen and (max-width: 560px) {
            display: none;
        }
    }

    &__telephone-button {
        background: #fff;
        text-align: center;
        font-size: 1.3em;
        line-height: 1;
        vertical-align: top;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.2s;
        padding: 10px 12px;
        display: inline-block;
        border-radius: 32px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.4);
        color: #ec2227;
        margin-right: 20px;
        margin-bottom: 5px;

        &:hover {
            background: #e0e0e0;
            color: darken(#ec2227, 10%);
        }

        @media screen and (max-width: 1067px) {
            font-size: 1.1em;
            padding-top: 13px;
            padding-bottom: 11px;
            width: 229px;
        }
        @media screen and (max-width: 600px) {
            margin-right: 0;
        }
    }


    &__telephone {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        vertical-align: top;
        font-size: 28px;
        line-height: 40px;
        text-shadow: 0 1px 1px rgba(0,0,0,0.4);
        font-weight: normal;

        &:hover {
            color: #fff;
            text-decoration: none;
        }

        @media screen and (max-width: 1067px) {
            font-size: 20px;
            line-height: 38px;
        }
    }

} //End .vegas-header


//Page Specific Styles for Nav Button - This should match the page conditional in _topbar.php


.page-id-1149 {
    #x-section-1 {
        @media screen and (min-width: 1068px){
            margin-top: 60px !important;
        }
    }
}

    .x-btn-navbar {

        background: #3c54a4 !important;
        padding: 10px !important;

        @media screen and (min-width: 601px) {
             margin-top: 10px !important;
        }

        @media screen and (max-width: 600px){
            display: none !important;
        }
    }

    .x-slider-container.below {
        @media screen and (min-width: 1068px){
            margin-top: 60px;
        }
    }



    .x-navbar {
        margin-top: 60px !important;
        border-bottom: 1px solid #e0e0e0;

        @media screen and (min-width: 1068px){
            position: fixed;
            width: 100%;
            max-width: 1300px;
        }

        @media screen and (min-width: 601px) and (max-width: 686px) {
            margin-top: 95px !important;
        }

        @media screen and (max-width: 600px) {
            margin-top: 70px !important;
        }
    }

    @media screen and (max-width: 600px){
        #plumbing-by-jake {
            display: none;
        }
    }

//Hide PBJ In Header
.x-navbar-inner {
    #plumbing-by-jake{
        display: none !important;
    }
}