/*--------------------------------------
Homepage Specific Styles
---------------------------------------*/

.homepage-awards-slider {

    max-width: 898px;
    margin-left: auto;
    margin-right: auto;

    .flexslider {
        border: none !important;
        border-radius: none !important;
        background: transparent !important;
        margin-bottom: 0 !important;
    }

    ul.slides {
        display: flex !important;
        @include clearfix();
        margin-bottom: 30px;
        display: block;

          li {
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
    }

    img {
        height: auto;
        width: auto;
        max-height: 120px;
        align-self: center;
        display: block;
        max-width: 120px;

        &.portrait-logo {
            max-height: 150px;
            width: auto;
            max-width: none;
        }
    }

    .flex-control-nav {
       background: transparent !important;
       display: block !important;
       margin-top: 30px !important;
       top: auto !important;
       position: relative !important;
    }

} //End .homepage-awards-slider


/*--------------------------------------
Blog Feed
---------------------------------------*/

.hc-blog-feed {

    margin-bottom: 30px;

    &__inner {

    }

    &__title {
        position: relative;
        text-align: center;
        margin: 30px auto;
        width: 100%;
        overflow: hidden;
        z-index: 5;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            height: 2px;
            width: 9999px;
            z-index: 4;
            display: block;
            margin-top: -1px;
            background-color: #e5e5e5;
        }

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            height: 2px;
            width: 9999px;
            display: block;
            margin-top: -1px;
            background-color: #e5e5e5;
        }

        span {
            display: inline-block;
            background: #fff;
            z-index: 6;
            padding: 10px 30px;
            position: relative;
        }
    }

    &__feed {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__single-post {
        width: 100%;
        max-width: 300px;
        padding: 5px;
        margin: 10px;
        transition: 0.2s;
        position: relative;
        display: block;
        color: #3a53a4;
        text-decoration: none;
        border: 1px solid #e0e0e0;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);

        &:hover {
            .hc-blog-feed__single-post-title {
                color: #ff2a13 !important;
            }

            .hc-blog-feed__single-image {
                &:before {
                    opacity: 0.4;
                }
            }
        }

        

        @media (min-width: 768px){
            width: calc(50% - 21px);
        }

        @media (min-width: 1100px) {
            width: calc(25% - 21px);
        }        
    }

    &__single-image {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            display: block;
            background: #ccc;
            opacity: 0;
            transition: 0.2s;
        }
    }

    &__placeholder-image {
        position: relative;
        width: 100%;
        &:before {
            content: "";
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            display: block;
            background: #ccc;
            opacity: 0;
            transition: 0.2s;
        }
    }

    &__single-post-title {
        font-size: 18px;
        line-height: 1.4;
        margin: 10px 0 0 0;
    }

} //End .hc-blog-feed 