/*--------------------------------
Fall Tune Up Page Styles
--------------------------------*/
/*-------------------------------------------
Setting Up Global SCSS Variables
-------------------------------------------*/
.page-template-page-leadpage-fall-tune-up-php .rs-faq-header-wrp, .page-template-page-leadpage-fall-tune-up-php .random-faq-loop-text { display: none; }

.page-template-page-leadpage-fall-tune-up-php .content { width: 100%; max-width: none; }

.page-template-page-leadpage-fall-tune-up-php .site-inner { padding-left: 0; padding-right: 0; }

.page-template-page-leadpage-fall-tune-up-php .interior-header { margin-bottom: 0; }

.page-template-page-leadpage-fall-tune-up-php .r22-page-section { padding: 30px 10px; width: 100%; box-sizing: border-box; display: block; }

.page-template-page-leadpage-fall-tune-up-php .r22-page-section__inner { position: relative; z-index: 10; }

.page-template-page-leadpage-fall-tune-up-php .r22-schedule-button { background-color: #e00943; color: #ffffff; max-width: 340px; width: 100%; display: block; margin: 20px auto; transition: all 0.2s; text-align: center; line-height: 20px; text-decoration: none; font-size: 17px; font-weight: bold; padding: 15px 20px; }

.page-template-page-leadpage-fall-tune-up-php .r22-schedule-button:hover { color: #fff; text-decoration: none; background: #1c262d; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-one { background: url(../../images/r22/r22-top-bg.gif) no-repeat center center; background-size: cover; position: relative; z-index: 0; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-one:before { top: 0; bottom: 0; left: 0; right: 0; position: absolute; display: block; background: rgba(255, 255, 255, 0.85); content: ''; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-one__attention-text { text-align: center; margin-bottom: 20px; font-size: 2.3em; display: block; width: 100%; color: #000; margin-top: 40px; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-one p, .page-template-page-leadpage-fall-tune-up-php .r22-section-one li { font-weight: 300; color: #000; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-two__inner { color: #333; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up-php .r22-section-two__inner { display: flex; justify-content: space-between; } }

.page-template-page-leadpage-fall-tune-up-php .r22-section-two__left { width: 100%; margin: 0 auto 20px auto; max-width: 500px; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up-php .r22-section-two__left { max-width: 275px; margin-bottom: 20px; text-align: center; } }

.page-template-page-leadpage-fall-tune-up-php .r22-section-two__left img { max-width: 200px; display: none; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up-php .r22-section-two__left img { display: inline-block; vertical-align: top; } }

.page-template-page-leadpage-fall-tune-up-php .r22-section-two__right { width: 100%; position: relative; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up-php .r22-section-two__right { width: calc(100% - 300px); padding-left: 20px; } }

.page-template-page-leadpage-fall-tune-up-php .r22-section-two ul { list-style-image: none; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-two p, .page-template-page-leadpage-fall-tune-up-php .r22-section-two li { font-weight: 300; color: #000; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-two__title { font-size: 2.0em; font-weight: 300; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-two__checkbox-content { position: relative; padding-left: 50px; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-two__checkbox-content:before { height: 32px; width: 28px; content: ''; position: absolute; left: 5px; top: 2px; background: url(../../images/r22/check-mark.gif) no-repeat top left; display: block; background-size: 100% auto; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-two__checkbox-content-title { font-weight: 300; margin-bottom: 10px; display: block; font-size: 1.5em; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-three { background: #f8f8f8; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-three__inner { max-width: 800px; margin: 0 auto; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-three__title { text-align: center; font-weight: 300; font-size: 2.1em; margin-bottom: 20px; display: block; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-three p, .page-template-page-leadpage-fall-tune-up-php .r22-section-three li { font-weight: 300; color: #000; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-three__call-us-box { background-color: #ed2024; display: block; padding: 0.8em 1em; font-size: 2.1em; text-align: center; margin: 20px auto 0 auto; color: #fff; font-weight: 300; line-height: 1; border: 1px solid #055cb3; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-three__call-us-box img { display: inline-block; padding-left: 10px; padding-right: 10px; position: relative; top: 5px; }

.page-template-page-leadpage-fall-tune-up-php .r22-sets-apart-box { padding: 12px; border: 1px dotted #333; margin: 20px auto; text-align: center; }

@media screen and (min-width: 650px) { .page-template-page-leadpage-fall-tune-up-php .r22-sets-apart-box { max-width: 650px; width: 100%; } }

.page-template-page-leadpage-fall-tune-up-php .r22-sets-apart-box__title { text-align: center; color: #3a53a4; font-size: 2.1em; display: inline-block; margin: 0 auto 20px auto; font-weight: 300; padding-bottom: 10px; border-bottom: 1px solid #e00943; }

.page-template-page-leadpage-fall-tune-up-php .r22-sets-apart-box__icons { display: flex; flex-wrap: wrap; justify-content: center; }

.page-template-page-leadpage-fall-tune-up-php .r22-sets-apart-box__icons img { width: 130px; padding: 10px; height: auto; align-self: center; }

.page-template-page-leadpage-fall-tune-up-php .r22-sets-apart-box__icons img:nth-of-type(2) { height: 217px; width: 161px; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four { position: relative; background: url(../../images/r22/r22-top-bg.gif) no-repeat center center; background-size: cover; background-attachment: fixed; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four:before { display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; content: ''; background: rgba(60, 116, 255, 0.9); }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up-php .r22-section-four__inner { display: flex; justify-content: space-between; } }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__inner p, .page-template-page-leadpage-fall-tune-up-php .r22-section-four__inner li { color: #fff; font-weight: 300; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__right { width: 100%; display: block; margin: 0 auto; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up-php .r22-section-four__right { width: 50%; padding-left: 20px; } }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__left { width: 100%; display: block; margin: 0 auto 20px auto; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up-php .r22-section-four__left { width: 50%; margin-bottom: 0; padding-right: 20px; } }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__title { display: block; text-align: center; font-size: 2em; margin-bottom: 20px; font-weight: 300; color: #fff; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__form { max-width: 480px; margin: 0 auto; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__form label { display: none !important; color: #fff !important; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__form #frm_field_71_container label { display: block !important; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__form button[type="submit"] { background-color: #e00943; color: #ffffff; max-width: 280px; width: 100%; display: block; margin: 20px auto; transition: all 0.2s; text-align: center; line-height: 20px; font-size: 20px; font-weight: bold; padding: 12px 23px; border: none; box-shadow: 0 1px 1px #4c4c4c; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__form button[type="submit"]:hover { color: #fff; background: #1c262d; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__form .frm_style_formidable-style.with_frm_style .frm_blank_field label, .page-template-page-leadpage-fall-tune-up-php .r22-section-four__form .frm_style_formidable-style.with_frm_style .frm_error { color: #ffffff !important; background: #f00 !important; border-radius: 2px !important; margin-top: 7px !important; padding: 3px !important; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) { padding: 6px 12px; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__form textarea { font-size: 16px; padding: 10px 12px 6px 12px; border-radius: 4px; line-height: 1.3; height: 120px !important; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__form .validation_error { display: none !important; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__form .gform_wrapper .field_description_below .gfield_description { padding-top: 5px; font-size: 13px; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-four__form .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) { max-width: 100% !important; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-five { position: relative; background: url(../../images/r22/testimonials-bg.png) no-repeat center center; background-size: cover; background-attachment: fixed; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-five:before { display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; content: ''; background: rgba(248, 248, 248, 0.4); }

.page-template-page-leadpage-fall-tune-up-php .r22-section-five__inner { max-width: 800px; margin-left: auto; margin-right: auto; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-five__title { display: block; text-align: center; font-size: 2em; margin-bottom: 20px; font-weight: 300; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-five__read-more { color: #ec2024; text-decoration: none; display: block; text-align: center; margin-top: 20px; font-size: 2em; transition: 0.2s; font-weight: 300; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-five__read-more:hover { color: #c81115; text-decoration: underline; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-five p, .page-template-page-leadpage-fall-tune-up-php .r22-section-five li { font-weight: 300; }

.page-template-page-leadpage-fall-tune-up-php .r22-single-testimonial { position: relative; margin-bottom: 30px; }

@media screen and (min-width: 560px) { .page-template-page-leadpage-fall-tune-up-php .r22-single-testimonial { padding-left: 140px; }
  .page-template-page-leadpage-fall-tune-up-php .r22-single-testimonial:before { position: absolute; top: 10px; left: 5px; display: block; content: ''; background: url(../../images/r22/testimonial-quote.png) no-repeat center center; background-size: 100% auto; height: 93px; width: 97px; } }

.page-template-page-leadpage-fall-tune-up-php .r22-single-testimonial__title { display: block; text-align: left; font-size: 1.5em; margin-bottom: 20px; font-weight: 300; }

.page-template-page-leadpage-fall-tune-up-php .r22-single-testimonial__content { font-style: italic; font-weight: 300; }

.page-template-page-leadpage-fall-tune-up-php .r22-section-six__inner { text-align: center; margin-bottom: 20px; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up-php .r22-section-six__inner { max-width: 800px; margin-left: auto; margin-right: auto; display: flex; text-align: left; justify-content: space-between; } }

.page-template-page-leadpage-fall-tune-up-php .r22-section-six__right { width: 100%; display: block; margin: 0 auto; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up-php .r22-section-six__right { width: 60%; padding-left: 20px; } }

.page-template-page-leadpage-fall-tune-up-php .r22-section-six__left { width: 100%; display: block; margin: 0 auto 20px auto; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up-php .r22-section-six__left { width: 40%; margin-bottom: 0; padding-right: 20px; } }

.page-template-page-leadpage-fall-tune-up-php .r22-section-six__title { text-align: center; font-size: 2em; margin-bottom: 20px; font-weight: 300; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up-php .r22-section-six__title { text-align: left; } }

.page-template-page-leadpage-fall-tune-up-php .r22-section-six p, .page-template-page-leadpage-fall-tune-up-php .r22-section-six li { font-weight: 300; text-align: center; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up-php .r22-section-six p, .page-template-page-leadpage-fall-tune-up-php .r22-section-six li { text-align: left; } }

.page-template-page-leadpage-fall-tune-up-php .r22-section-six img { border-radius: 2px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); max-width: 300px; height: auto; }

.page-template-page-leadpage-fall-tune-up-php .leadpage-heating-icon { padding: 5px; border: 2px solid #e00943; border-radius: 100%; }

.page-template-page-leadpage-fall-tune-up-php .leadpage-blue-bg-form { padding: 10px; border-radius: 5px; background: #fff; margin-bottom: 15px; list-style-type: disc !important; margin-left: 1.5rem; }

.page-template-page-leadpage-fall-tune-up-php .leadpage-blue-bg-form li { color: #585656; list-style-type: disc; margin-left: 1.5em; }

.page-template-page-leadpage-fall-tune-up .r22-section-one__inner { max-width: 900px; margin-left: auto; margin-right: auto; }

.page-template-page-leadpage-fall-tune-up .x-header-landmark { display: none !important; }

.page-template-page-leadpage-fall-tune-up .r22-section-two__left { background: transparent !important; }

.page-template-page-leadpage-fall-tune-up .big-59-text { font-size: 65px; color: #e00943; line-height: 60px; text-align: left; display: none; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up .big-59-text { display: block; float: left; margin-right: 20px; padding-right: 20px; border-right: 1px solid black; position: relative; margin-bottom: 40px; top: 15px; } }

.page-template-page-leadpage-fall-tune-up .tune-up-blue-list { max-width: 650px; padding: 10px; margin-left: auto; margin-right: auto; background: #055cb3; }

@media screen and (min-width: 768px) { .page-template-page-leadpage-fall-tune-up .tune-up-blue-list { padding: 20px; } }

.page-template-page-leadpage-fall-tune-up .tune-up-blue-list ol li { color: #fff; font-size: 20px; }
