/******************************************************
General Homepage Template Styles
******************************************************/
/*-------------------------------------------
Setting Up Global SCSS Variables
-------------------------------------------*/
.homepage-template .site-inner { max-width: none; padding: 0; }

.homepage-template .content { width: 100%; }

.homepage-template .homepage-section { padding: 30px 15px; }

.homepage-template article.entry { margin-bottom: 0; }

/**************************************
* Homepage Hero Section
*****/
.homepage-hero-section { background: #0399d7; background: radial-gradient(circle, #00c0e0 0%, #0073a2 100%); padding-top: 50px; }

@media (min-width: 768px) { .homepage-hero-section { padding-top: 0; } }

@media (min-width: 768px) { .homepage-hero-section__inner { display: flex; justify-content: space-between; } }

.homepage-hero-section__content { width: 100%; text-align: center; padding-bottom: 50px; }

@media (min-width: 768px) { .homepage-hero-section__content { width: calc(100% - 360px); padding-right: 30px; margin-bottom: none; padding-top: 100px; padding-bottom: 20px; } }

@media (min-width: 768px) and (max-width: 1099px) { .homepage-hero-section__content { width: 100%; } }

@media (min-width: 1400px) { .homepage-hero-section__content { width: calc(100% - 500px); } }

.homepage-hero-section__heading { display: block; font-size: 2.0rem; text-align: center; font-weight: 900; text-shadow: 0 2px 1rem black; margin-bottom: 30px; line-height: 1.1; text-transform: uppercase; color: #fff; }

@media (min-width: 768px) { .homepage-hero-section__heading { font-size: 3.6rem; } }

@media (min-width: 1400px) { .homepage-hero-section__heading { max-width: 90%; margin-left: auto; margin-right: auto; } }

.homepage-hero-section__subheading { display: block; font-size: 1.5rem; text-align: center; font-weight: normal; text-shadow: 0 2px 1rem black; margin-bottom: 30px; color: #fff; }

@media (min-width: 768px) { .homepage-hero-section__subheading { font-size: 1.9rem; } }

.homepage-hero-section__cta { border-radius: 50px; background: #fff; padding: 15px 22px 15px 15px; position: relative; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); padding-left: 130px; font-size: 1.7rem; max-width: 600px; line-height: 1.2; margin: 30px auto; }

@media (max-width: 479px) { .homepage-hero-section__cta { padding-left: 15px; } }

@media (max-width: 767px) { .homepage-hero-section__cta { font-size: 1.2rem; line-height: 1.3; } }

.homepage-hero-section__cta span { display: block; text-align: left; font-weight: bold; text-transform: uppercase; color: #222; }

@media (max-width: 479px) { .homepage-hero-section__cta span { text-align: center; } }

.homepage-hero-section__cta a { font-weight: 900; color: #bd3c42; text-decoration: none; font-size: 1.9rem; }

.homepage-hero-section__cta a:hover { color: #0399d7; }

@media (max-width: 767px) { .homepage-hero-section__cta a { font-size: 1.2rem; line-height: 1.3; } }

.homepage-hero-section__cta:before { height: 100%; width: 100px; position: absolute; left: 15px; top: 0; content: ''; background: url(../../images/ambient-logo-standalone.png) no-repeat center center; }

@media (max-width: 479px) { .homepage-hero-section__cta:before { display: none; } }

.homepage-hero-section__girl { width: 360px; background: url(../../images/homepage-girl-standalone.png) no-repeat bottom center; background-size: 100% auto; display: block; }

@media (min-width: 768px) and (max-width: 1099px) { .homepage-hero-section__girl { display: none; } }

@media (min-width: 1400px) { .homepage-hero-section__girl { width: 500px; } }

/**************************************
* Homepage Trust Logos
*****/
.homepage-trust-logos { padding: 30px 0; background: #ebebeb; }

.homepage-trust-logos__inner { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; }

.homepage-trust-logos img { filter: grayscale(1); display: block; padding: 10px; max-width: 110px; width: auto; opacity: 0.8; align-self: center; }

@media (max-width: 599px) { .homepage-trust-logos img:nth-of-type(n + 4) { display: none; } }

/**************************************
* Homepage Primary Content Section
*****/
.homepage-primary-content { padding: 30px 0; background: #f6fbfd; }

.homepage-primary-content:after { content: ""; display: table; clear: both; }

@media (min-width: 768px) { .homepage-primary-content { padding: 60px 0; } }

.homepage-primary-content__inner { border-radius: 30px; box-shadow: 0 2px 12px rgba(179, 179, 179, 0.3); padding: 15px; background: #fff; }

@media (min-width: 768px) { .homepage-primary-content__inner { padding: 30px; } }

.homepage-primary-content__subtitle { display: block; text-align: center; margin-bottom: 10px; font-size: 1.2rem; text-transform: uppercase; font-weight: bold; padding-top: 20px; }

.homepage-primary-content__title { margin: 10px auto 20px auto; line-height: 1.2; color: #7f7f7f; font-size: 2.0rem; text-align: center; font-weight: bold; }

.homepage-primary-content__title br { display: none; }

@media (min-width: 768px) { .homepage-primary-content__title { font-size: 2.7rem; }
  .homepage-primary-content__title br { display: block; } }

.homepage-primary-content__coupon { width: auto; display: block; margin: 20px auto; max-width: 317px; width: 100%; }

@media (min-width: 768px) { .homepage-primary-content__coupon { float: right; margin-top: 10px; margin-left: 30px; } }

.homepage-icon-section { clear: both; margin: 50px auto 0 auto; padding-top: 50px; border-top: 1px solid #d0d0d0; }

@media (min-width: 768px) { .homepage-icon-section { display: flex; flex-wrap: wrap; justify-content: space-between; max-width: 1000px; width: 100%; } }

.homepage-icon-section__single { width: 100%; margin-bottom: 30px; max-width: 480px; text-align: center; padding: 20px; margin-left: auto; margin-right: auto; padding: 0; }

@media (min-width: 768px) { .homepage-icon-section__single { width: 50%; padding: 20px; } }

.homepage-icon-section__single img { display: inline-block; vertical-align: center; margin-bottom: 15px; }

.homepage-icon-section__single strong { display: block; width: 100%; text-align: center; font-weight: bold; text-transform: uppercase; margin: 15px auto; font-size: 1.2rem; }

.homepage-icon-section__single p { font-size: 16px; text-align: left; }

.homepage-icon-section__single span { font-weight: bold; color: #bd3c42; }

.homepage-icon-section__single ul { text-align: left; margin-left: 1.5rem; font-size: 16px; }

.homepage-icon-section__single ul li { list-style-type: disc; }

/**************************************
* Testimonials Row
*****/
.homepage-testimonials-row { background: url(../../images/testimonials-background.jpg) no-repeat center center; background-size: cover; position: relative; padding: 80px 0 40px 0; }

.homepage-testimonials-row:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: block; opacity: 0.6; background: #0399d7; background: #3c99d7; }

@media (min-width: 768px) { .homepage-testimonials-row { padding: 80px 0 40px 0; } }

.homepage-testimonials-row__quote { position: relative; display: block; text-align: center; color: #bd3c42; font-family: "Times New Roman", serif; line-height: 50px; max-width: 650px; margin: 0 auto; height: 40px; }

.homepage-testimonials-row__quote span { position: relative; top: 20px; font-size: 200px; }

@media (max-width: 767px) { .homepage-testimonials-row__quote span { font-size: 160px; } }

.homepage-testimonials-row__quote:before { width: 36%; position: absolute; left: 0; top: 10%; height: 1px; background: #fff; display: block; content: ''; }

.homepage-testimonials-row__quote:after { width: 36%; position: absolute; right: 0; top: 10%; height: 1px; background: #fff; display: block; content: ''; }

.homepage-testimonial-slider { position: relative; max-width: 700px; margin: 40px auto; }

.homepage-testimonial-slider__slide { text-align: center; color: #fff; font-size: 1.3rem; display: block; }

.homepage-testimonial-slider__slide-content { font-size: 1.3rem; line-height: 1.3; padding: 0 30px; display: block; }

@media (max-width: 767px) { .homepage-testimonial-slider__slide-content { font-size: 1.1rem; } }

.homepage-testimonial-slider__slide-author { margin-top: 20px; display: block; font-weight: bold; font-size: 1.3rem; padding: 0 30px; }

.homepage-testimonial-slider .slick-next, .homepage-testimonial-slider .slick-prev { top: 40%; z-index: 100; }

.homepage-testimonial-slider .slick-next { right: 0; }

.homepage-testimonial-slider .slick-prev { left: 0; }

/**************************************
* Service Section
*****/
.homepage-service-section { background: #e8edef; padding: 30px 0; }

@media (min-width: 768px) { .homepage-service-section { padding: 80px 0 40px 0; } }

.homepage-service-section__subtitle { font-weight: bold; text-transform: uppercase; text-align: center; display: block; }

.homepage-service-section__title { display: block; margin-top: 0; text-align: center; font-weight: bold; color: #7f7f7f; font-size: 2.0rem; margin-bottom: 40px; }

@media (min-width: 768px) { .homepage-service-section__title { font-size: 3.0rem; } }

.homepage-service-section__row { display: flex; justify-content: center; flex-wrap: wrap; }

.homepage-single-service-section { width: 100%; max-width: 640px; padding: 10px 25px; position: relative; padding-left: 150px; margin-bottom: 40px; }

@media (max-width: 599px) { .homepage-single-service-section { padding-left: 80px; } }

.homepage-single-service-section:before { position: absolute; content: ''; bottom: 0; top: 0; left: 0; background-position: left top; background-repeat: no-repeat; background-size: 100% auto; width: 126px; }

@media (max-width: 599px) { .homepage-single-service-section:before { width: 63px; } }

.homepage-single-service-section.all-hours:before { background-image: url(../../images/service-icon-phone.png); }

.homepage-single-service-section.satisfaction-guarantee:before { background-image: url(../../images/service-icon-check.png); }

.homepage-single-service-section.flat-rate:before { background-image: url(../../images/service-icon-dollar.png); }

.homepage-single-service-section.free-estimate:before { background-image: url(../../images/service-icon-pencil.png); }

.homepage-single-service-section__title { display: block; font-weight: bold; text-transform: uppercase; margin-bottom: 15px; color: #ed2024; }

.homepage-single-service-section__content { line-height: 1.4; }

.homepage-single-service-section__content a { color: #bd3c42; text-decoration: none; transition: 0.2s; }

.homepage-single-service-section__content a:hover { color: #0399d7; }

/**************************************
* Blog Section
*****/
.homepage-blog-section { padding: 30px 0; }

@media (min-width: 768px) { .homepage-blog-section { padding: 80px 0 60px 0; } }

.homepage-blog-section__title { display: block; margin-top: 0; text-align: center; font-weight: bold; color: #7f7f7f; font-size: 2.0rem; }

@media (min-width: 768px) { .homepage-blog-section__title { font-size: 3.0rem; } }

.homepage-blog-section__loop { margin-top: 40px; display: flex; justify-content: center; flex-wrap: wrap; }

.homepage-single-blog-post { max-width: 320px; width: 100%; margin: 10px; padding: 10px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); border: 1px solid #e0e0e0; border-radius: 4px; display: block; text-decoration: none; color: #0399d7; background: #fff; opacity: 1; line-height: 1.3; margin-bottom: 20px; }

.homepage-single-blog-post:hover { background: #f0f0f4; opacity: 0.9; color: #bd3c42; }

.homepage-single-blog-post img { border-radius: 4px 4px 0 0; }

.homepage-single-blog-post__title { display: block; text-align: center; margin-top: 15px; }

/**************************************
* FAQ Section
*****/
.homepage-faq-section { padding: 30px 0; background: #e8edef; }

@media (min-width: 768px) { .homepage-faq-section { padding: 80px 0; } }

.homepage-faq-section__title { display: block; margin-top: 0; text-align: center; font-weight: bold; color: #7f7f7f; font-size: 2.0rem; }

@media (min-width: 768px) { .homepage-faq-section__title { font-size: 3.0rem; } }

.homepage-faq-section__loop { margin-top: 40px; }

.homepage-faq-section__loop ul { list-style-type: none; margin: 0; padding: 0; }

@media (min-width: 768px) { .homepage-faq-section__loop ul { columns: 2 20px; } }

.homepage-faq-section__loop li { position: relative; padding-left: 1.5rem; margin-bottom: 4px; }

.homepage-faq-section__loop li:before { font-family: fontawesome; position: absolute; left: 0; transition: 0.2s; top: 2px; font-size: 1rem; color: #0399d7; content: '\f00c'; line-height: 1; display: block; }

.homepage-faq-section__loop li:hover:before { left: 3px; }

.homepage-faq-section__loop a { color: #222; text-decoration: none; transition: 0.2s; font-size: 16px; }

.homepage-faq-section__loop a:hover { color: #bd3c42; text-decoration: none; }
