/*
Media Page Template Styles
*/
/*-------------------------------------------
Setting Up Global SCSS Variables
-------------------------------------------*/
.media-top-section.content { width: 100%; float: none; }

@media (min-width: 768px) { .media-top-section__inner { display: flex; } }

.media-top-section__image { max-width: 100%; margin: 20px auto; }

@media (min-width: 768px) { .media-top-section__image { max-width: 450px; width: 100%; margin: 0; } }

.media-top-section__information ul { margin-left: 1.5rem; list-style-position: outside; }

.media-top-section__information ul li { list-style-type: disc; }

@media (min-width: 768px) { .media-top-section__information { padding-left: 30px; } }

.media-press-release { margin: 30px 0; }

.media-press-release .content { width: 100%; float: none; }

.media-press-release__single { display: block; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); padding: 15px; border: 1px solid #d0d0d0; border-radius: 4px; text-decoration: none; margin-bottom: 20px; transition: 0.2s; background: #fff; }

.media-press-release__single:hover { background: #f0f0f0; }

.media-press-release__single-title { color: #0399d7; font-sze: 1.1rem; display: block; }

.media-press-release__single-date { text-transform: uppercase; font-size: 0.9rem; font-weight: 300; color: #666; display: block; }

.media-social { margin-top: 30px; padding-top: 20px; border-top: 1px solid #d0d0d0; }

.media-social.content { width: 100%; float: none; }

.media-social__inner { display: flex; justify-content: center; }

.media-social h2 { text-align: center; }

.media-social a { text-decoration: none; padding: 15px; display: block; }

.media-social a img { display: inline-block; vertical-align: top; max-width: 110px; transition: 0.2s; opacity: 1; }

.media-social a:hover img { opacity: 0.9; }

.media-community { margin-top: 30px; padding-top: 20px; border-top: 1px solid #d0d0d0; }

.media-community.content { width: 100%; float: none; }

@media (min-width: 768px) { .media-community__inner { display: flex; justify-content: center; } }

.media-community h2 { text-align: center; }

.media-community__we-care, .media-community__sponsorships, .media-community__home-depot { max-width: 300px; width: 100%; padding: 15px; margin-bottom: 20px; }

@media (min-width: 768px) { .media-community__we-care, .media-community__sponsorships, .media-community__home-depot { margin-bottom: 0; } }

.media-community__we-care h3, .media-community__sponsorships h3, .media-community__home-depot h3 { text-align: center; }

.media-community__we-care img, .media-community__sponsorships img, .media-community__home-depot img { display: block; margin-left: auto; margin-right: auto; vertical-align: top; margin-bottom: 15px; max-height: 100px; }

.media-community__we-care p, .media-community__sponsorships p, .media-community__home-depot p { text-align: center; margin-bottom: 0; font-size: 0.9rem; }

.media-inquiry { margin-top: 30px; padding-top: 20px; border-top: 1px solid #d0d0d0; }

.media-inquiry.content { width: 100%; float: none; }

@media (min-width: 768px) { .media-inquiry__inner { display: flex; justify-content: center; } }

.media-inquiry h3 { text-align: center; }

.media-inquiry p { text-align: center; }
