/*--------------------------
- R22 Page Styles
----------------------------*/
/*-------------------------------------------
Setting Up Global SCSS Variables
-------------------------------------------*/
.page-template-page-leadpage-r22 .content { width: 100%; max-width: none; }

.page-template-page-leadpage-r22 .site-inner { padding-left: 0; padding-right: 0; }

.page-template-page-leadpage-r22 .interior-header { margin-bottom: 0; }

.page-template-page-leadpage-r22 .hero-list li { position: relative; padding-left: 2.5rem; }

.page-template-page-leadpage-r22 .hero-list li:before { background: url(../../images/r22/check-mark.gif) no-repeat center center; background-size: 100% auto; height: 2.0rem; width: 2.0rem; content: ''; position: absolute; left: 2px; top: 2px; }

.page-template-page-leadpage-r22 .gform_wrapper { border: 0; }

.page-template-page-leadpage-r22 .gform_wrapper input[type="submit"] { width: 100% !important; text-align: center; margin-left: auto !important; display: block !important; margin-right: auto !important; }

.r22-page-section { padding: 30px 10px; width: 100%; box-sizing: border-box; display: block; }

.r22-page-section__inner { position: relative; z-index: 10; }

.r22-schedule-button { background-color: #bd3c42; color: #ffffff !important; max-width: 280px; width: 100%; display: block; margin: 20px auto; transition: all 0.2s; text-align: center; line-height: 20px; font-size: 1.2rem; text-decoration: none; font-weight: bold; padding: 10px 20px; }

.r22-schedule-button:hover { color: #fff; background: #0399d7; }

.r22-section-one { background: url(../../images/r22/r22-top-bg.gif) no-repeat center center; background-size: cover; position: relative; z-index: 0; }

.r22-section-one:before { top: 0; bottom: 0; left: 0; right: 0; position: absolute; display: block; background: rgba(255, 255, 255, 0.85); content: ''; }

.r22-section-one__attention-text { text-align: center; margin-bottom: 20px; font-size: 2.3em; display: block; width: 100%; color: #000; margin-top: 40px; }

.r22-section-one p, .r22-section-one li { font-weight: 300; color: #000; }

.r22-section-two__inner { color: #333; }

@media screen and (min-width: 768px) { .r22-section-two__inner { display: flex; justify-content: space-between; } }

.r22-section-two__left { width: 100%; margin: 0 auto 20px auto; max-width: 500px; background: #faecec; }

@media screen and (min-width: 768px) { .r22-section-two__left { max-width: 367px; margin-bottom: 20px; } }

.r22-section-two__right { width: 100%; position: relative; }

@media screen and (min-width: 768px) { .r22-section-two__right { width: calc(100% - 380px); padding-left: 20px; } }

.r22-section-two ul { list-style-image: none; }

.r22-section-two p, .r22-section-two li { font-weight: 300; color: #000; }

.r22-section-two__title { font-size: 2.0em; font-weight: 300; }

@media screen and (min-width: 768px) { .r22-section-two__title { position: relative; left: -80px; } }

.r22-section-two__checkbox-content { position: relative; padding-left: 50px; }

.r22-section-two__checkbox-content:before { height: 32px; width: 28px; content: ''; position: absolute; left: 5px; top: 10px; background: url(../../images/r22/check-mark.gif) no-repeat top left; display: block; background-size: 100% auto; }

.r22-section-two__checkbox-content-title { font-weight: 300; margin-bottom: 10px; display: block; font-size: 1.5em; }

.r22-section-three { background: #f8f8f8; }

.r22-section-three__inner { max-width: 800px; margin: 0 auto; }

.r22-section-three__title { text-align: center; font-weight: 300; font-size: 2.1em; margin-bottom: 20px; display: block; }

.r22-section-three p, .r22-section-three li { font-weight: 300; color: #000; }

.r22-section-three__call-us-box { background-color: #ed2024; display: block; padding: 0.8em 1em; font-size: 2.1em; text-align: center; margin: 20px auto 0 auto; color: #fff; font-weight: 300; line-height: 1; border: 1px solid #055cb3; }

.r22-section-three__call-us-box img { display: inline-block; padding-left: 10px; padding-right: 10px; position: relative; top: -3px; }

.r22-sets-apart-box { padding: 12px; border: 1px dotted #333; margin: 20px auto; text-align: center; }

@media screen and (min-width: 650px) { .r22-sets-apart-box { max-width: 650px; width: 100%; } }

.r22-sets-apart-box__title { text-align: center; color: #3a53a4; font-size: 2.1em; display: inline-block; margin: 0 auto 20px auto; font-weight: 300; padding-bottom: 10px; border-bottom: 1px solid #bd3c42; }

.r22-sets-apart-box__icons { display: flex; flex-wrap: wrap; justify-content: center; }

.r22-sets-apart-box__icons img { width: 130px; padding: 10px; height: auto; align-self: center; }

.r22-sets-apart-box__icons img:nth-of-type(2) { height: 217px; width: 161px; }

.r22-section-four { position: relative; background: url(../../images/r22/r22-top-bg.gif) no-repeat center center; background-size: cover; background-attachment: fixed; }

.r22-section-four:before { display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; content: ''; background: rgba(60, 116, 255, 0.9); }

@media screen and (min-width: 768px) { .r22-section-four__inner { display: flex; justify-content: space-between; } }

.r22-section-four__inner p, .r22-section-four__inner li { color: #fff; font-weight: 300; }

.r22-section-four__right { width: 100%; display: block; margin: 0 auto; }

@media screen and (min-width: 768px) { .r22-section-four__right { width: 50%; padding-left: 20px; } }

.r22-section-four__left { width: 100%; display: block; margin: 0 auto 20px auto; }

@media screen and (min-width: 768px) { .r22-section-four__left { width: 50%; margin-bottom: 0; padding-right: 20px; } }

.r22-section-four__title { display: block; text-align: center; font-size: 2em; margin-bottom: 20px; font-weight: 300; color: #fff; }

.r22-section-four__form { max-width: 480px; margin: 0 auto; }

.r22-section-four__form label { display: none !important; color: #fff !important; }

.r22-section-four__form #frm_field_71_container label { display: block !important; }

.r22-section-four__form button[type="submit"] { background-color: #bd3c42; color: #ffffff; max-width: 280px; width: 100%; display: block; margin: 20px auto; transition: all 0.2s; text-align: center; line-height: 20px; font-size: 20px; font-weight: bold; padding: 12px 23px; border: none; box-shadow: 0 1px 1px #4c4c4c; }

.r22-section-four__form button[type="submit"]:hover { color: #fff; background: #1c262d; }

.r22-section-four__form .frm_style_formidable-style.with_frm_style .frm_blank_field label, .r22-section-four__form .frm_style_formidable-style.with_frm_style .frm_error { color: #ffffff !important; background: #f00 !important; border-radius: 2px !important; margin-top: 7px !important; padding: 3px !important; }

.r22-section-four__form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) { padding: 6px 12px; }

.r22-section-four__form textarea { font-size: 16px; padding: 10px 12px 6px 12px; border-radius: 4px; line-height: 1.3; height: 120px !important; }

.r22-section-four__form .validation_error { display: none !important; }

.r22-section-four__form .gform_wrapper .field_description_below .gfield_description { padding-top: 5px; font-size: 13px; }

.gform_validation_error li.gfield { padding-right: 0 !important; }

.gform_validation_error li.gfield:not(.gfield_error) { padding-right: 16px !important; }

.r22-section-five { position: relative; background: url(../../images/r22/testimonials-bg.png) no-repeat center center; background-size: cover; background-attachment: fixed; }

.r22-section-five:before { display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; content: ''; background: rgba(248, 248, 248, 0.4); }

.r22-section-five__inner { max-width: 800px; margin-left: auto; margin-right: auto; }

.r22-section-five__title { display: block; text-align: center; font-size: 2em; margin-bottom: 20px; font-weight: 300; }

.r22-section-five__read-more { color: #ec2024; text-decoration: none; display: block; text-align: center; margin-top: 20px; font-size: 2em; transition: 0.2s; font-weight: 300; }

.r22-section-five__read-more:hover { color: #c81115; text-decoration: underline; }

.r22-section-five p, .r22-section-five li { font-weight: 300; }

.r22-single-testimonial { position: relative; margin-bottom: 30px; }

@media screen and (min-width: 560px) { .r22-single-testimonial { padding-left: 140px; }
  .r22-single-testimonial:before { position: absolute; top: 10px; left: 5px; display: block; content: ''; background: url(../../images/r22/testimonial-quote.png) no-repeat center center; background-size: 100% auto; height: 93px; width: 97px; } }

.r22-single-testimonial__title { display: block; text-align: left; font-size: 1.5em; margin-bottom: 20px; font-weight: 300; }

.r22-single-testimonial__content { font-style: italic; font-weight: 300; }

.r22-section-six__inner { text-align: center; margin-bottom: 20px; }

@media screen and (min-width: 768px) { .r22-section-six__inner { max-width: 800px; margin-left: auto; margin-right: auto; display: flex; text-align: left; justify-content: space-between; } }

.r22-section-six__right { width: 100%; display: block; margin: 0 auto; }

@media screen and (min-width: 768px) { .r22-section-six__right { width: 60%; padding-left: 20px; } }

.r22-section-six__left { width: 100%; display: block; margin: 0 auto 20px auto; }

@media screen and (min-width: 768px) { .r22-section-six__left { width: 40%; margin-bottom: 0; padding-right: 20px; } }

.r22-section-six__title { text-align: center; font-size: 2em; margin-bottom: 20px; font-weight: 300; }

@media screen and (min-width: 768px) { .r22-section-six__title { text-align: left; } }

.r22-section-six p, .r22-section-six li { font-weight: 300; text-align: center; }

@media screen and (min-width: 768px) { .r22-section-six p, .r22-section-six li { text-align: left; } }

.r22-section-six img { border-radius: 2px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); max-width: 300px; height: auto; }
