/*-------------------------------------
Scholarship Page and Form Styles
--------------------------------------*/
/*-------------------------------------------
Setting Up Global SCSS Variables
-------------------------------------------*/
@media (min-width: 960px) { .scholarship-content { display: flex; } }

.scholarship-content__left { width: 100%; margin-bottom: 30px; }

@media (min-width: 960px) { .scholarship-content__left { width: 60%; padding-right: 30px; margin-bottom: 0; } }

.scholarship-content__right { max-width: 700px; width: 100%; margin: 0 auto; }

@media (min-width: 960px) { .scholarship-content__right { width: 40%; } }

.scholarship-application-form { color: white; padding: 20px; font-size: 14px; clear: both; max-width: 600px; background: #2a2a40; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.scholarship-application-form .scholarship-row { clear: both; display: flex; justify-content: space-between; }

.scholarship-application-form .one-half:nth-of-type(1) { margin-left: 0; }

.scholarship-application-form .one-third:nth-of-type(1) { margin-left: 0; }

.scholarship-application-form .form-section-title { margin-top: 20px; display: block; clear: both; font-weight: bold; }

.scholarship-application-form input { max-width: none; }

.scholarship-application-form h3 { position: relative; color: #fff !important; font-size: 22px; font-weight: normal; line-height: 45px !important; height: 45px; margin-top: 15px; margin-bottom: 20px; margin-right: -15px; text-align: left; padding-left: 50px; background: #f37b24; left: 5px; }

.scholarship-application-form h3:before { height: 65px; width: 65px; border-radius: 65px; display: block; content: '\f19d'; border: 2px solid #f37b24; background: #2a2a40; text-align: center; color: #fff; font-size: 30px; line-height: 60px; font-family: fontawesome; position: absolute; left: -30px; top: -10px; }

.scholarship-application-form p { color: #fff !important; margin-bottom: 5px !important; }

.scholarship-application-form input[type="text"], .scholarship-application-form input[type="tel"], .scholarship-application-form input[type="email"], .scholarship-application-form textarea { width: 100%; padding: 10px 5px; border: 1px solid #ccc; border-radius: 2px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4) inset; margin-bottom: 5px; }

.scholarship-application-form input[type="checkbox"] { -webkit-appearance: checkbox !important; }

.scholarship-application-form input[type="Submit"] { padding: 8px 10px; background: #f37b24; text-transform: uppercase; color: #0F1C4D; border: none; border: 2px solid #0F1C4D; cursor: pointer; transition: all 0.2s; }

.scholarship-application-form input[type="Submit"]:hover { background: #fff; color: #0F1C4D; }

.scholarship-application-form .transcript-upload, .scholarship-application-form .essay-upload { margin-top: 10px; display: block; }

.scholarship-application-form .wpcf7-not-valid { border: 1px solid red; margin-bottom: 2px; }

.scholarship-application-form span.wpcf7-not-valid-tip { margin-bottom: 14px; }

.scholarship-application-form .form-section-title { font-size: 18px; }

.scholarship-application-form input[type="submit"] { display: block; width: auto; margin-left: auto; margin-right: auto; color: white; border: none; transition: all 0.2s; font-size: 22px; padding: 10px 15px; border-radius: 5px; text-transform: none; }

@media screen and (max-width: 500px) { .scholarship-application-form input[type="submit"] { font-size: 22px; padding-top: 3px; padding-bottom: 3px; } }

.scholarship-application-form .ajax-loader { display: none; }

.scholarship-application-form div.wpcf7-validation-errors, .scholarship-application-form div.wpcf7-acceptance-missing { background: #0a2a3b !important; }
