
.ei-slider{
	position: relative;
	width: 100%;
	max-width: 1920px;
	height:450px;
	margin: 0 auto;
}

.ei-slider img {
	max-width:auto;
}

.ei-slider-loading{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0 auto;
	z-index: 999;
	background: rgba(0,0,0,0.9);
	color: #fff;
	text-align: center;
	line-height: 400px;
}
.ei-slider-large{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0;
	z-index: 1;
}
.ei-slider-large li{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	list-style:none;
}
.ei-slider-large li img{
	width: 100%;
}
.ei-title {
	position: absolute;
	right: 27%;
	margin-right: 13%;
	top: 30%;
}
.ei-title h2, .ei-title h3{
	text-align: right;
}
.ei-title h2{
	margin: 0 0 5px 0;
	padding: 15px;
	text-shadow: 0px 4px 0px rgba(0,0,0,0.2);
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	background:url('../images/opacs/dark70.png') 0 0 repeat;
	font-family: Open Sans Condensed, Helvetica, Arial, sans-serif;
	font-size: 36px;
}
.ei-title h3{
	padding: 10px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	background: url('../images/opacs/white90.png') 0 0 repeat;
	font-family: Open Sans Condensed, Helvetica, Arial, sans-serif;
	font-size: 18px;
}
.ei-slider-thumbs{
	top: -20px;
	height: 40px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	z-index: 2;
}
.ei-slider-thumbs li{
	position: relative;
	top: -20px;
	float: left;
	list-style: none;	
	font-size: 14px;
}
.ei-slider-thumbs li.ei-slider-element{
	top: -20px;
	left: 0;
	height: 12px;
	position: absolute;
	z-index: 10;
	text-indent: -9000px;
	text-align:center;
	color: #ffffff;
	padding: 0;
}
.ei-slider-thumbs li a{
	display: block;
	padding: 0;
	background: #222222;
	width: 60x;
	height: 12px;
	cursor: pointer;
	text-align: center;
	color: #000000;
	text-indent: -9000px;
	-webkit-transition: background 0.2s ease;
    -moz-transition: 	background 0.2s ease;
    -o-transition: 		background 0.2s ease;
    -ms-transition: 	background 0.2s ease;
    transition: 		background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
	background-color: #24A5D9;

}

@media screen and (max-width: 768px) {
	.ei-slider{
		height: 300px;
	}
	.ei-slider-loading{ line-height:300px; }
	.ei-title{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 30px;
		padding: 5px 0;
	}
	.ei-title h2, .ei-title h3{
		text-align: center;
	}
	.ei-title h2{
		font-size: 14px;
		line-height: 18px;
	}
	.ei-title h3{
		font-size: 20px;
		line-height: 30px;
	}
	.ei-slider-thumbs li img{
		display:none;
	}
}