/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none;}

.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider { min-height: 50px; overflow: hidden; padding: 0; background:#ffffff; }
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {display: none; position: relative;} 
.flexslider .slides img { width: 100%; max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1; }
.flex-viewport {-webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

/* Caption style */
/* IE rgba() hack */
.flex-caption { zoom: 1; }
.flex-caption {
	width: 30%; 
	left:0; 
	right:0; 
	margin:0 auto; 
	padding:0; 
	position: absolute;  
	bottom: 38%; 
	font-size:18px;
}

.flex-caption p { margin-bottom:0;}

/* Flex Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav li a {
	width: 30px; 
	height: 30px; 
	margin: -20px 0 0; 
	display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; 
	position: absolute; 
	top: 50%; 
	z-index: 10; 
	cursor: pointer; 
	text-indent: -9999px; 
	opacity: 0; 
	-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 30px; }
.flex-direction-nav .flex-prev {left: 30px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 30px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 30px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 10px; text-align: center;}
.flex-control-nav li {margin: 0 2px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #444444; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #ffffff; }
.flex-control-paging li a.flex-active { background: #ffffff; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

.flex-title { text-align:center; }

.flex-title h2,
.flex-title h3 { margin-bottom: 30px }

.flex-title h2 span {
	padding: 15px;
	text-shadow: 0px 4px 0px rgba(0,0,0,0.2);
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	background:url('../images/opacs/dark70.png') 0 0 repeat;
	font-family: Open Sans Condensed, Helvetica, Arial, sans-serif;
	font-size: 30px;
}
.flex-title h3 span {
	padding: 10px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	background: url('../images/opacs/white90.png') 0 0 repeat;
	font-family: Open Sans Condensed, Helvetica, Arial, sans-serif;
	font-size: 18px;
}