/* 
Theme Name: Stream
Theme URI: http://themeforest.net/
Responsive CSS Stylesheet
 */
 
 
/* ===================================================== */
/* #Table (Portrait)
/* ===================================================== */
	@media only screen and (max-width: 767px) {
	figure img { width: auto; max-width: 100%; height: auto; }	
	.inner { width:95%;}

	/* Layout */
	#boxed #wrapper,
	#layout_wrapper { width:766px; }	
 
	#menu-trigger {
		display: block; /* Show it now */
		height: 45px;
		line-height: 45px;
		cursor: pointer;		
		padding: 0 0 0 35px;
		border: 1px solid #222;
		color: #fafafa;
		font-weight: bold;
		background-color: #222;
		box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
	}
	.layout-half .postimg { width:100%; float:none; display:block; margin-right:0; }
	.layout-half .portfoliopage { width:100%; float:none; }
	
	.sf-mobilemenu {
		margin: 0; 
		padding: 0px;
		position: relative;
		top: 0;
		width: 100%;
		z-index: 1;
		background-color: #333;
		display: none;
	}

	.sf-mobilemenu ul {
		position: static;
		visibility: visible;
		opacity: 1;
		margin: 0;
		background: none;
	}

	.sf-mobilemenu ul {
		margin: 0 0 0 20px !important;
	}

	.sf-mobilemenu li {
		position: static;
		display: block;
		float: none;
		border-top:1px solid #444444;
	}

	.sf-mobilemenu li li li:last-child {
		border-top: none;
	}
	.sf-mobilemenu a{
		display: block;
		float: none;
		padding:8px 20px;
		color: #999;
	}

	.sf-mobilemenu a:hover{
		color: #fafafa;
	}	

	.sf-mobilemenu ul a{
		padding:8px 10px;
		width: auto;		
	}

	.sf-mobilemenu ul a:hover{
		background: none;	
	}

	.sf-mobilemenu ul li:first-child a:after,
	.sf-mobilemenu ul ul li:first-child a:after {
		border: 0;
	}	
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* #Tablet  (Landscape) */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

@media only screen and (min-width: 768px) and (max-width: 989px) {
	
	#boxed #wrapper,
	.primarymenu nav,
	#layout_wrapper {
		width: 760px;
	}

	.inner,
	.frontpage_teasercontent,
	.pagemid .inner,
	#subheader .inner,
	.planbox_slider,
	.breadcrumb .breadcrumbs-plus {
		width: 720px;
	}
	
 	.rightsidebar #main { width: 470px;}
	.rightsidebar #sidebar { width: 250px; }
	
	.sort_column1 .item  .sort_img { width: 460px;}


}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	#Mobile (Portrait)
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
@media only screen and (min-width: 240px) and (max-width: 479px) {
figure img { width:auto; max-width:100%; height:auto; } 

	#boxed #wrapper,
	.primarymenu nav,
	#layout_wrapper {
		width:100%;
	}
	
	.inner,
	.frontpage_teasercontent,
	.pagemid .inner,
	#subheader .inner,	
	.planbox_slider,
	.breadcrumb .breadcrumbs-plus { 
		width:90%;
	}

	.header_right,
	.logo {
		display:block;
		float:none;
		width:100%;
		padding:5px 0;
		text-align:center;
	}

	.topright .atpsocials,
	.sociables .atpsocials { display: table; float:none; padding:5px 0; margin:0 auto; text-align: center; }

	.header_right {padding-top: 20px;}
	.frontpage_teaser h1 {
		font-size: 24px;
		line-height: normal;
	}

	.bio { text-align:center; }
	
	.half_width, 
	.one_half,        
	.one_third,       
	.two_third,
	.one_fourth,      
	.one_fifth,       
	.three_fourth, 
	.four_fifth,     
	.two_fifth,       
	.three_fifth,   
	.one_sixth,       
	.four_sixth  { width:100%; margin-right:0; }

	.flex-caption { display:none; } 
	.leftaside,
	.rightaside { margin:0;}
	
	.leftsidebar #main,
	.rightsidebar #main,
	.leftsidebar #sidebar,
	.rightsidebar #sidebar  { width: 100%; }
		
	.rightsidebar #sidebar .content,
	.leftsidebar #main .entry-content { padding-left:0; }
		
	.rightsidebar #main .entry-content,
	.leftsidebar #sidebar .content { padding-right:0; }

	.jcarousel-item-horizontal { width: 180px; }

	.vertabs .tabs {
		float:none;
		width:100%;
	}

	.sort_column1 .item { height: 410px; } 
	.sort_column1 .item  .sort_img {float: none; width: 100%; min-height:100px; height:180px; }

	.sort_column2 .item,
	.sort_column3 .item,
	.sort_column4 .item { width:100%; min-height:80px; height:220px; }
	
	.pricetable.col2 .block,
	.pricetable.col3 .block,
	.pricetable.col4 .block	{ width:100%;}
	.planbox_slider { padding-top:30px;}

}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	#Mobile (Landscape)
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/* Note: Design for a width of 480px */
@media only screen and (min-width:480px) and (max-width: 767px) {

	/* layout */ 
	#boxed #wrapper,
	.primarymenu nav,
	#layout_wrapper {
		width:420px;
	}
	
	.inner,
	.frontpage_teasercontent,
	.pagemid .inner,
	#subheader .inner,
	.planbox_slider,
	.breadcrumb .breadcrumbs-plus { 
		width:400px;
	}
	.header_right,
	.logo {
		display:block;
		float:none;
		width:100%;
		padding:5px 0;
		text-align:center;
	}
	#subheader .rightaside,
	#subheader .leftaside { width:auto; float:none; text-align:center; }
	#subheader .leftaside h1 { margin-bottom:0; }
	
	.half_width, 
	.one_half,        
	.one_third,       
	.two_third,      
	.one_fifth, 
	.one_fourth,
	.three_fourth, 
	.four_fifth,     
	.two_fifth,       
	.three_fifth,   
	.one_sixth,       
	.four_sixth  { width:100%; margin-right:0; }

	.topright .atpsocials,
	.sociables .atpsocials { display: table; float:none; padding:5px 0; margin:0 auto; text-align: center; }
	.header_right {padding-top: 20px;}
	.frontpage_teaser h1 {
		font-size: 24px;
		line-height: normal;
	}
	
	.flex-caption { display:none; } 
	.leftaside,
	.rightaside { margin:0;}

	
	.pricetable .block, .pricetable .block.active {
		width:100%; float:left; margin-bottom:10px;
		}

	.rightsidebar #main .entry-content { padding-right:0; }
	.rightsidebar #sidebar .content { padding-left:0; }

	.leftsidebar #main .entry-content { padding-left:0; }
	.leftsidebar #sidebar .content { padding-right:0; }

	.jcarousel-item-horizontal { width: 400px; }

	.vertabs .tabs {
		float:none;
		width:100%;
	}

	.sort_column2 .item,
	.sort_column3 .item,
	.sort_column4 .item { min-height:100px; height:250px; }
	
	.pricetable.col2 .block,
	.pricetable.col3 .block,
	.pricetable.col4 .block	{ width:100%;}
	.planbox_slider { padding-top:30px;}

}