
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	FANCY TITLE
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.widget-title       { margin: 0 0 20px 0; font-size: 16px; vertical-align:middle; background:url(../images/opacs/dark10.png) bottom left repeat-x;  }
.widget-title  span {  border-bottom:3px solid #00aeff; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	DIVIDERS
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.divider {
	width:auto;
	display:block; 
	clear:both; 
	height:1px;
	padding:30px 0;
	}

.divider img { max-width:100%;}

.customdivider {
	width:auto;
	display:block; 
	clear:both; 
	height:100%;
	padding:40px 0 40px 0;
	text-align:center;
	}
.customdivider img { width:auto; max-width:100%; height:auto; }

.divider_space { 
	clear: both; 
	width: 100%; 
	display:block; 
	height:1px;
	margin:0px;
	padding:25px 0;
	}

.divider_line { 
	position: relative; 
	display: block;
	clear: both;
	margin:25px 0;
	background:url('../images/opacs/dark10.png') center center repeat-x;
	height:1px;
	text-align:center;
	}

.divider_top {
	position: relative; 
	background:url('../images/opacs/dark10.png') center center repeat-x;
	height:2px;
	padding:40px 0;
	clear:both;
	}

.divider_top a { 
	position: absolute; 
	top:28px;
	right:0;
	left:0;
	text-align: center; 
	}

.divider_top a span{ 
	font-size: 11px; 
	line-height: 10px;
	text-transform: uppercase; 
	color:#fff;
	background-color:#000;
	padding:3px 6px;
	}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	DROPCAP
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.dropcap1, 
.dropcap2 {
	float: left; 
	text-align: center; 
	overflow:hidden;
	}

.dropcap1 { 
	width: 50px; 
	margin:5px 15px 15px 0; 
	font-size: 24px; 
	font-weight: bold;
	line-height: 50px;
	color:#ffffff;
	background-color:#222222;
	background-image:url('../images/opacs/dark10.png');
	background-position:top left;
	background-repeat:repeat;
	background-attachment:scroll;
		
	/* Safari 4+, Chrome & Mozilla 3.6+ */
	background-image: -webkit-gradient(linear,center bottom,center top,	from(rgba(0, 0, 0, .1)),to(rgba(255, 255, 255, .1)));
	background-image: -moz-linear-gradient(center top,rgba(255, 255, 255, .1) 0%,rgba(0, 0, 0, .1) 100%);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */

	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
	}

.dropcap2 { 
	height: 50px; 
	width: 50px; 
	margin:0 15px 5px 10px;
	font-size: 26px; 
	font-weight: bold;
	line-height: 50px; 
	color:#fff; 
	background-color:#222222; 
	border:3px solid #fff;
	-webkit-border-radius:50px;
	   -moz-border-radius:50px;
	        border-radius:50px;
	-webkit-box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.2);
	        box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.2);
	}

.dropcap3 { 
	color:#000;
	float:left;
	padding-right:0px;
	overflow:hidden;
	width: 60px; 
	margin:0 10px 5px 0; 
	font-size: 50px; 
	text-align:center; 
	line-height: 50px;
	font-weight:bold;
	}


.dropcap1.black, .dropcap2.black 	{ background-color:#000000; }
.dropcap1.blue, .dropcap2.blue 		{ background-color:#00ADEE; }
.dropcap1.cyan, .dropcap2.cyan 		{ background-color:#52F3FF; }
.dropcap1.green, .dropcap2.green 	{ background-color:#4CC417; }
.dropcap1.navy, .dropcap2.navy 		{ background-color:#151B8D; }
.dropcap1.orange, .dropcap2.orange 	{ background-color:#F87217; }
.dropcap1.pink, .dropcap2.pink 		{ background-color:#F660AB; }
.dropcap1.red, .dropcap2.red 		{ background-color:#E41B17; }
.dropcap1.yellow, .dropcap2.yellow 	{ background-color:#FFE87C; }
.dropcap1.magenta, .dropcap2.magenta 	{ background-color:#E238EC; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	LISTS
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.pricing li		{ 
	background:#ffffff; 
	border:1px solid #eeeeee; 
	border-bottom:1px solid #ddd; 
	margin-bottom:1px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	}

ul.doubles {
	clear:both;  
	padding-left:25px;  
	margin-left:0px !important; 
	overflow:hidden;
	}

	.doubles li {
		float:left; 
		width:42%;
		}

ul.sitemap { margin-left:0px !important; }

ul.list-disc li, 
ul.list-circle li,
ul.list-square li, 
ul.list-arrow1 li, 
ul.list-arrow2 li, 
ul.list-arrow3 li,
ul.list-arrow4 li, 
ul.list-arrow5 li,  
ul.list-bullet1 li,
ul.list-bullet2 li, 
ul.list-bullet3 li, 
ul.list-bullet4 li, 
ul.list-bullet5 li, 
ul.list-star1 li, 
ul.list-star2 li, 
ul.list-star3 li, 
ul.list-plus li, 
ul.list-minus li, 
ul.list-pointer li,
ul.list-style1 li,
ul.list-check li,
ul.sitemap li,
ul.list-tree li 	{ 
	background-image: url("../images/bullets/lists.png");
	background-repeat:no-repeat;
	background-position: 0 0;
	padding-left:25px;
	list-style-type:none;
	line-height:1.6;
	}

ul.list-disc li       { background-position: -480px 0px; }
ul.list-circle li     { background-position: -460px -20px; }
ul.list-square li     { background-position: -440px -40px; }
ul.list-arrow1 li     { background-position: -420px -60px; } 
ul.list-arrow2 li     { background-position: -400px -80px; } 
ul.list-arrow3 li     { background-position: -380px -100px; }
ul.list-arrow4 li     { background-position: -360px -120px; }
ul.list-arrow5 li     { background-position: -340px -140px; }
ul.sitemap li         { background-position: -340px -140px; }
ul.list-bullet1 li    { background-position: -320px -160px; }
ul.list-bullet2 li    { background-position: -300px -180px; }
ul.list-bullet3 li    { background-position: -280px -200px; }
ul.list-bullet4 li    { background-position: -260px -220px; }
ul.list-bullet5 li    { background-position: -240px -240px; }
ul.list-star1 li      { background-position: -220px -260px; }
ul.list-star2 li      { background-position: -200px -280px; }
ul.list-star3 li      { background-position: -180px -300px; }
ul.list-plus li       { background-position: -160px -320px; }
ul.list-minus li      { background-position: -140px -340px; }
ul.list-pointer li    { background-position: -120px -360px; }
ul.list-style1 li 	  { background-position: -100px -380px; }
ul.list-check li 	  { background-position: -80px  -400px; }

ul.red li            { background-image:url("../images/bullets/list_red.png"); }
ul.green li          { background-image:url("../images/bullets/list_green.png"); }
ul.blue li           { background-image:url("../images/bullets/list_blue.png"); }
ul.yellow li         { background-image:url("../images/bullets/list_yellow.png"); }
ul.magenta li        { background-image:url("../images/bullets/list_magenta.png"); }
ul.cyan li           { background-image:url("../images/bullets/list_cyan.png"); }
ul.orange li         { background-image:url("../images/bullets/list_orange.png"); }
ul.black li          { background-image:url("../images/bullets/list_black.png"); }
ul.pink li           { background-image:url("../images/bullets/list_pink.png"); }
ul.navy li           { background-image:url("../images/bullets/list_navy.png"); }
ul.gray li           { background-image:url("../images/bullets/list_gray.png"); }

ul.bullet-check li   { background: transparent url("../images/bullets/check.gif") no-repeat 0 5px; list-style:none; padding-left:25px;   }
ul.bullet-check      { padding:0;}

ul.list-tree li      { background-position: -340px -137px; }
ul.list-tree ul      { border-left:1px solid #aaa; margin-left:20px; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	BLOGQUOTES & PULLQUOTES
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

span.inset-left { 
	display: block;
	float: left;
	width: 35%;
	padding: 15px;
	border-left:1px solid #dddddd;
	font:italic normal 14px/25px Georgia, Arial, Sans-serif;
	letter-spacing:0;
	}
span.inset-right {
	display: block;
	float: right;
	width: 35%;
	padding: 15px;
	border-right:1px solid #dddddd;
	font:italic normal 14px/25px Georgia, Arial, Sans-serif;
	letter-spacing:0; 
	}

/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
	BLOCKQUOTES
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/

blockquote  {
	margin: 0 0 20px 0;
	padding: 10px 10px 10px 30px !important;
	font-size:18px;
	line-height:normal;	
	border-left:5px solid #eee;
}

blockquote  p {
	margin-bottom: 10px; 
}

blockquote cite:before {
	content: "\2014 \00A0";
}

blockquote cite {
	display:block; 
	margin-top:10px; 
	font-size: 12px; 
	font-style:normal;
	color:#999;
}
		
blockquote.alignleft  { 
	margin: 0 5% 0 0; 
	width: 30%;
	border-left:5px solid #eee;
}

blockquote.alignright { 
	margin:0 0 0 5%; 
	width:30%;
	padding: 10px 30px 10px 10px !important;
	border-left:0px solid #eee;
	border-right:5px solid #eee;
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	PRICING TABLE
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.pricetable{	
	display:table;
	position: relative;
	clear:both;
	z-index:0;
	width:100%;
	padding:20px 0;
	}
	
.pricetable .block{
	float:left;
	position:relative;
	z-index:3;
	width:24.6%;
	height:100%;

	border:1px solid #eee;
	-webkit-border-radius:5px;	
	-moz-border-radius   :5px;	
	border-radius        :5px;
	}
	
.pricetable .first,
.pricetable .third  {
	background-color:#DD7200;
}

.pricetable .second,
.pricetable .fourth {
	background-color:#4FB983;
}
					
.pricetable .block.active { 
	position:relative;
	z-index:10;
	-webkit-box-shadow:  0px 0px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:  0px 0px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 0px 1px 2px rgba(0, 0, 0, 0.2);
	}

.pricetable .pricebox { padding:20px; }
.pricetable .pricetag { 
	position:relative;
	width:100%;
	text-align:center;
	padding:0 0 20px 0;
	color:#fff;
	font-size:40px;
	font-weight:bold;
	line-height:30px;
	vertical-align:top;
	text-align:center;
	}

.pricetable .pricetag span { font-size:small; vertical-align:middle; }
.pricetable h1             {  color:#fff; padding:0 0 15px 0; margin-bottom:15px; background:url(../images/opacs/white10.png) left bottom repeat-x; text-transform:uppercase;}
.pricetable .pt_desc  { 
	padding:20px; 
	background-color:#fff;   
	-webkit-border-radius:5px;	
	-moz-border-radius   :5px;	
	border-radius        :5px;
}
.pricetable .pt_desc ul    { margin:0; padding-bottom:10px; }
.pricetable .pt_desc ul li { }

.pricetable.col3 .block{ width:33%; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	TOGGLES
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.simpletoggle {
	position:relative;
	margin:0; 
	padding:8px;
	font-size:14px;
	}

.simpletoggle .toggleinside { padding-left:30px;}

.simpletoggle .toggle,
.fancytoggle .toggle {
	display:block; 
	padding:3px 30px;
	background:url(../images/plus.png) 0 center scroll no-repeat;  
	}

span.toggle a {
	display: block;
	text-transform: normal;
	text-decoration: none; 
}

.simpletoggle  span.active  { 
	display:block;
	background: url(../images/minus.png) 0 center scroll no-repeat;
	}

span.active a:link  	{ color:#666; display:block;}

.toggle_content     	{ clear:both; margin:0px;  }
.toggleinside       	{ padding:5px; font-size:13px;}
span.toggle         	{ display:block; margin-bottom:0; }


.fancytoggle {
	position:relative;
	margin:5px 5px 10px 5px;
	}

.fancytoggle span.toggle  { 
	margin-bottom:-1px; 
	padding:10px 10px 10px 40px; 
	font-size: 14px; 
	border:1px solid #e1e2e3;
	background-image:url(../images/plus.png);
	background-repeat:no-repeat;
	background-position: 10px center;
	}
.fancytoggle span.active  { 
	background-color:#f7f8f9; 
	background-image:url(../images/minus.png);
	background-repeat:no-repeat;
	background-position: 10px center;
	}
.fancytoggle .toggle_content { position:relative; border:1px solid #e1e2e3; }
.fancytoggle .toggleinside 	 { padding:15px}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	MINI GALLERY
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

ul.sys_mini_gallery {
    display: inline-block;
    margin: 0 0 25px;
    padding: 0;
	}
	
#subheader ul.sys_mini_gallery { 
	display:table;
	margin:0 auto;
	}

ul.sys_mini_gallery {
	position:relative;
    clear:both;
	width:100%;
	}
	
ul.sys_mini_gallery li {
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
	margin: 0 1% 1% 0;
    padding: 0;
}

#subheader ul.sys_mini_gallery li {
    margin: 0 15px 15px 0;
    padding: 0;
}

ul.sys_mini_gallery li a {
	display:block;
	}
	
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	FORM VALIDATION
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.input_small   { width:25% !important; }
.input_medium  { width:50% !important; }
.input_large   { width:90% !important; }

#validate_form label.error { border:none;   }  
#validate_form .error       { color: #e77963; border: 1px solid #e77963; }
    
div#note,
div#result {
	position:relative;
	}

.close_note {
	position: absolute; 
	top: 18px; 
	right: 10px; 
	font-size:9px; 
	}

div#note p,
div#result p {
	margin-bottom:0;
	}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Contact Form
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.sysform input.txtfield, 
.sysform textarea { 
	padding: 8px 6px;
	outline: 0;
	width: 94%;
	border: 1px solid #dddddd;
	font-size: 11px;
	color:#999999;
	-webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
	        box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.1); 
	-webkit-border-radius:1px;
	   -moz-border-radius:1px;
	        border-radius:1px;	
	-webkit-transition: all 300ms ease-in;
	   -moz-transition: all 300ms ease-in;
	     -o-transition: all 300ms ease-in;
	        transition: all 300ms ease-in;	
	}

.sysform textarea { 
	height: 100%;
	line-height: 150%;
	}

.sysform p {
	margin-bottom:10px;
	}

.sysform label.captcha { 
	clear:both;
	display:block;
	margin-top: 10px; 
	width:20%
	}

.sysform .submit input {
	width: auto;
	padding: 5px 15px;
	background: transparent;
	border: 0;
	color: #000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	}

.sysform span.atpcaptcha { background:#444444; color:#ffffff; padding:2px 5px; border-radius:3px;}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	CONTACT INFO
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#footer .contactinfo-wrap,
#footer .contactinfo-wrap .details,
#footer .contactinfo-wrap p { border-style:solid; border-color:#616263; }

.contactinfo-wg 	 { margin-bottom:40px; }
.contactinfo-wrap { position:relative; border-style:solid; border-color:#dddddd;}
.contactinfo-wrap p { margin-bottom: 5px; padding-bottom:5px; border-color:#dddddd; border-width: 0 0 1px 0; border-style:solid; }
.contactinfo-wrap .details { display:block; overflow:hidden; padding-left: 10px; border-color:#dddddd; border-width:0 0 0 1px;  border-style:solid; }
.contactinfo-wrap .phone .details { font-size:16px; font-weight:bold; }
.contactinfo-wrap .icon { 
	float:left;
	width:30px;
	height:20px;
	font-size:16px;
	line-height: normal;
	text-align: center;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	CALENDAR
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#wp-calendar          { width:95%; }	
#wp-calendar caption  { font-size:12px; text-transform:uppercase; letter-spacing:5px; }
#wp-calendar td,
#wp-calendar th       { color:#000; }
#wp-calendar td a    { color:#000; }
#wp-calendar td a:hover    { color:#ff8800; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Recent Post / Popular Posts - Widgets
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.widget_postslist { 
	margin:0 0 40px 0; 
	padding:0; 
}
	
.widget_postslist ul {
	margin:0; 
	padding:0;
}

.widget_postslist ul li {
	clear:both;
	overflow:hidden; 
	padding:10px 0; 
	list-style:none; 
	line-height:normal;
	background:url('../images/opacs/dark10.png') bottom left repeat-x;
}
	
#footer .widget_postslist ul li {
	background:url('../images/opacs/white10.png') bottom left repeat-x;
}


.widget_postslist li:first-child { padding-top:0; }
.widget_postslist li:last-child { border-bottom:0; }
	
.widget_postslist p {
	margin-bottom:0; 
	padding-left:0px; 
	line-height:normal;
	font-size:11px;
}

.widget_postslist li .thumb {
	float:left; 
	width:55px;
	margin:0 10px 0 0; 
	padding:0 10px 0px 0;
}

.widget_postslist li .w-postmeta {
	padding:0; 
	font-size: 11px;
	letter-spacing: 1px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	HIGHLIGHT
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.highlight{ 
	padding:2px 4px;
	text-shadow: none;
	color:#ffffff;
	background-color:#5E5E5E;	
	-webkit-border-radius:3px; 
	   -moz-border-radius:3px; 
			border-radius:3px;
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out; 
		 -o-transition: all 0.3s ease-out; 
			transition: all 0.3s ease-out; 
	}
.highlight:hover { background:#c30000;  }
	
.highlight2 { 
			transition: all 0.3s ease-out; 
	   -moz-transition: all 0.3s ease-out; 
		 -o-transition: all 0.3s ease-out; 
	-webkit-transition: all 0.3s ease-out;
			
	}			
.highlight2		{ font-style:italic; border-bottom:1px dashed #777777; }
.highlight2:hover { border-bottom:1px solid #c30000;  }

.highlight.yellow	{ background-color:#ffda48; color:#000000; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	FANCY BOXES
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.fancybox .boxcontent {
    padding: 25px;
}
.fancybox {
    position: relative;
    margin: 0 0 20px;
    padding: 0;
    height: 100%;
    background-color: #FFFFFF;
    border-color: #EEEEEE #EEEEEE #DDDDDD;
    border-style: solid solid;
    border-width: 1px 1px 5px;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	}
.fancybox .fancytitle {
    background: url(../images/box_titlebg_overlay.png) repeat scroll left bottom #fff;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 14px;
    margin: 5px;
    padding: 30px 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 0;
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1) inset;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	MINIMAL BOX
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.minimalbox {	
	position:relative;
    padding: 0;

}
.minimalbox .boxcontent {
    background: -moz-linear-gradient(center top , transparent 0%, rgba(0, 0, 0, 0.05) 100%) repeat scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 3px 3px;
    height: 100%;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 25px;
    position: relative;
}
.minimalbox h6 {
	color: #000000;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
    padding: 20px 20px;
}
.minimaltitle {
    background-color: #FFFFFF;
    border-color: #EEEEEE #EEEEEE #DDDDDD;
    border-style: solid solid;
    border-width: 1px 1px 5px;	

}

.specialbox .boxcontent {
    padding: 25px;
}
.specialbox {
    position: relative;
    margin: 20px;
    padding: 10px;
    height: 100%;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #eeeeee #eeeeee #dddddd #eeeeee;
    border-style: solid solid double;
    border-width: 1px 1px 5px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	}
	
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	BUTTON
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.button, 
.button span { display: inline-block; }
.button	{
	position:relative;
	zoom:1; /* zoom and *display = ie7 hack for display:inline-block */
	overflow: visible; 
	line-height:1em;
	margin-bottom:10px;
	border: 1px solid #ddd;/* IE Hack*/
	border: rgba(0, 0, 0, .1) 1px solid;/* Safari 4+, Chrome, FF3.5+ */
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	outline: none;
	white-space: nowrap;
	cursor: pointer;
	-webkit-border-radius:4px;
	   -moz-border-radius:4px;
	        border-radius:4px;
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition: all 300ms ease-in;

	/* FF3.5+ */
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);

	/* Safari 4+, Chrome */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	}

button::-moz-focus-inner { border: none; /* overrides extra padding on sides FF3.5 */ }

button.button  { margin:0; padding:0px; }
.button.full, 
.button.full span { display: block; }
.button:hover, 
button.button:hover, 
.button.hover {
	position:relative;
	/* FF3.5 */
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);

	/* Safari4+, Chrome */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);
			
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */

	}

button.button:active,
.button:active, 
.button.active  {
	/* FF3.5 */
	background: -moz-linear-gradient(
		center top,
		rgba(0, 0, 0, .1) 0%,
		rgba(255, 255, 255, .1) 100%
	);
	/* Safari4+, Chrome */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(0, 0, 0, .1))
	);

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF')"; /* IE8 */
	}


.button span	{
	position: relative;
	padding:0.5em 1.3em;
	border-top:1px solid rgba(255, 255, 255, 0.1);
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	line-height:1em;
	text-align:center;
	text-decoration:none;
	white-space: nowrap;
	color:#fff;
	}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari, Google Chrome margin fix */
	button.button span {
		margin-top: -1px;
		margin-left:-2px;
		margin-right:-2px;
	}
}
.button.small span 	{ font-size:10px; text-transform:uppercase; }
.button.medium span { font-size:14px; }
.button.large span 	{ font-size:18px; }

/* ---- Buttons Color Scheme ---- */
.button.gray        { background-color: #666666; } .button.gray:hover     { background-color: #666666; }
.button.brown       { background-color: #A52A2A; } .button.brown:hover    { background-color: #A52A2A; }
.button.cyan        { background-color: #00FFFF; } .button.cyan:hover     { background-color: #00FFFF; }
.button.orange      { background-color: #ff5c00; } .button.orange:hover   { background-color: #ff5c00; }
.button.red         { background-color: #861D23; } .button.red:hover      { background-color: #861D23; }
.button.magenta     { background-color: #A9014B; } .button.magenta:hover  { background-color: #A9014B; }
.button.yellow      { background-color: #ffb515; } .button.yellow:hover   { background-color: #ffb515; }
.button.blue        { background-color: #00ADEE; } .button.blue:hover     { background-color: #00ADEE; }
.button.pink        { background-color: #e22092; } .button.pink:hover     { background-color: #e22092; }
.button.green       { background-color: #91bd09; } .button.green:hover    { background-color: #91bd09; }
.button.black       { background-color: #333333; } .button.black:hover    { background-color: #333333; }
.button.white       { background-color: #FFFFFF; }
.button.white span  { color: #666666; }

a.button, 
a.button:hover,
button.button:hover { background-color:#EDEDED; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	ICONS
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

a[class ^="i-"] { margin-right:8px; padding:3px 0; padding-left:25px;}

li[class ^="i-"],
span[class ^="i-"] {
	margin-right:8px; 
	line-height:20px; 
	display:-moz-inline-stack; 
	display:inline-block; 
	zoom:1;  /* Internet Explorer Hack */
	*display:inline;
	padding-left:25px; 
	vertical-align:baseline;
	}

.i-male        { background:url(../images/icons/icons_black.png) no-repeat -780px 0; }
.i-female      { background:url(../images/icons/icons_black.png) no-repeat -760px -20px; }
.i-addbook     { background:url(../images/icons/icons_black.png) no-repeat -740px -40px; }
.i-movie       { background:url(../images/icons/icons_black.png) no-repeat -720px -60px; }
.i-zip         { background:url(../images/icons/icons_black.png) no-repeat -700px -80px; }
.i-calc        { background:url(../images/icons/icons_black.png) no-repeat -680px -100px; }
.i-arrow       { background:url(../images/icons/icons_black.png) no-repeat -660px -120px; }
.i-medal       { background:url(../images/icons/icons_black.png) no-repeat -640px -140px; }
.i-star        { background:url(../images/icons/icons_black.png) no-repeat -620px -160px; }
.i-error       { background:url(../images/icons/icons_black.png) no-repeat -600px -180px; }
.i-new         { background:url(../images/icons/icons_black.png) no-repeat -580px -200px; }
.i-feed        { background:url(../images/icons/icons_black.png) no-repeat -560px -220px; }
.i-print       { background:url(../images/icons/icons_black.png) no-repeat -540px -240px; }
.i-exclamation { background:url(../images/icons/icons_black.png) no-repeat -520px -260px; }
.i-yen         { background:url(../images/icons/icons_black.png) no-repeat -500px -280px; }
.i-euro        { background:url(../images/icons/icons_black.png) no-repeat -480px -300px; }
.i-email       { background:url(../images/icons/icons_black.png) no-repeat -460px -320px; }
.i-pdf         { background:url(../images/icons/icons_black.png) no-repeat -440px -340px; }
.i-home        { background:url(../images/icons/icons_black.png) no-repeat -420px -360px; }
.i-word        { background:url(../images/icons/icons_black.png) no-repeat -400px -380px; }
.i-dollar      { background:url(../images/icons/icons_black.png) no-repeat -380px -400px; }
.i-pound       { background:url(../images/icons/icons_black.png) no-repeat -360px -420px; }
.i-phone       { background:url(../images/icons/icons_black.png) no-repeat -340px -440px; }
.i-support     { background:url(../images/icons/icons_black.png) no-repeat -320px -460px; }
.i-vcard       { background:url(../images/icons/icons_black.png) no-repeat -300px -480px; }
.i-disk        { background:url(../images/icons/icons_black.png) no-repeat -280px -500px; }
.i-monitor     { background:url(../images/icons/icons_black.png) no-repeat -260px -520px; }
.i-download    { background:url(../images/icons/icons_black.png) no-repeat -240px -540px; }
.i-location    { background:url(../images/icons/icons_black.png) no-repeat -220px -560px; }
.i-pin         { background:url(../images/icons/icons_black.png) no-repeat -200px -580px; }
.i-find        { background:url(../images/icons/icons_black.png) no-repeat -180px -600px; }
.i-check       { background:url(../images/icons/icons_black.png) no-repeat -160px -620px; }
.i-help        { background:url(../images/icons/icons_black.png) no-repeat -140px -640px; }


.i-male.blue, .i-female.blue, .i-zip.blue, .i-movie.blue, .i-addbook.blue, .i-arrow.blue, .i-calc.blue, .i-dollar.blue, .i-pound.blue, .i-euro.blue, .i-yen.blue, .i-error.blue, .i-exclamation.blue, .i-feed.blue, .i-help.blue, .i-home.blue, .i-email.blue, .i-medal.blue, .i-new.blue, .i-word.blue, .i-pdf.blue, .i-phone.blue, .i-print.blue, .i-star.blue, .i-support.blue, .i-vcard.blue, .i-disk.blue, .i-monitor.blue, .i-download.blue, .i-pin.blue, .i-location.blue, .i-find.blue, .i-check.blue
	{ background-image:url(../images/icons/icons_blue.png); }

.i-male.cyan, .i-female.cyan, .i-zip.cyan, .i-movie.cyan, .i-addbook.cyan, .i-arrow.cyan, .i-calc.cyan, .i-dollar.cyan, .i-pound.cyan, .i-euro.cyan, .i-yen.cyan, .i-error.cyan,
.i-exclamation.cyan,.i-feed.cyan,.i-help.cyan,.i-home.cyan,.i-email.cyan,.i-medal.cyan,.i-new.cyan,.i-word.cyan,.i-pdf.cyan,.i-phone.cyan,.i-print.cyan,.i-star.cyan,.i-support.cyan,.i-vcard.cyan,
.i-disk.cyan,.i-monitor.cyan,.i-download.cyan,.i-pin.cyan,.i-location.cyan,.i-find.cyan, .i-check.cyan
	{ background-image:url(../images/icons/icons_cyan.png); }

.i-male.green, .i-female.green, .i-zip.green, .i-movie.green, .i-addbook.green, .i-arrow.green, .i-calc.green, .i-dollar.green, .i-pound.green, .i-euro.green, .i-yen.green, .i-error.green,
.i-exclamation.green,.i-feed.green,.i-help.green,.i-home.green,.i-email.green,.i-medal.green,.i-new.green,.i-word.green,.i-pdf.green,.i-phone.green,.i-print.green,.i-star.green,.i-support.green,.i-vcard.green,
.i-disk.green,.i-monitor.green,.i-download.green,.i-pin.green,.i-location.green,.i-find.green, .i-check.green
	{ background-image:url(../images/icons/icons_green.png); }

.i-male.magenta, .i-female.magenta, .i-zip.magenta, .i-movie.magenta, .i-addbook.magenta, .i-arrow.magenta, .i-calc.magenta, .i-dollar.magenta, .i-pound.magenta, .i-euro.magenta, .i-yen.magenta, .i-error.magenta,
.i-exclamation.magenta,.i-feed.magenta,.i-help.magenta,.i-home.magenta,.i-email.magenta,.i-medal.magenta,.i-new.magenta,.i-word.magenta,.i-pdf.magenta,.i-phone.magenta,.i-print.magenta,.i-star.magenta,.i-support.magenta,.i-vcard.magenta,
.i-disk.magenta,.i-monitor.magenta,.i-download.magenta,.i-pin.magenta,.i-location.magenta,.i-find.magenta, .i-check.magenta
	{ background-image:url(../images/icons/icons_magenta.png); }

.i-male.gray, .i-female.gray, .i-zip.gray, .i-movie.gray, .i-addbook.gray, .i-arrow.gray, .i-calc.gray, .i-dollar.gray, .i-pound.gray, .i-euro.gray, .i-yen.gray, .i-error.gray,
.i-exclamation.gray,.i-feed.gray,.i-help.gray,.i-home.gray,.i-email.gray,.i-medal.gray,.i-new.gray,.i-word.gray,.i-pdf.gray,.i-phone.gray,.i-print.gray,.i-star.gray,.i-support.gray,.i-vcard.gray,
.i-disk.gray,.i-monitor.gray,.i-download.gray,.i-pin.gray,.i-location.gray,.i-find.gray, .i-check.gray
	{ background-image:url(../images/icons/icons_gray.png); }

.i-male.orange, .i-female.orange, .i-zip.orange, .i-movie.orange, .i-addbook.orange, .i-arrow.orange, .i-calc.orange, .i-dollar.orange, .i-pound.orange, .i-euro.orange, .i-yen.orange, .i-error.orange,
.i-exclamation.orange,.i-feed.orange,.i-help.orange,.i-home.orange,.i-email.orange,.i-medal.orange,.i-new.orange,.i-word.orange,.i-pdf.orange,.i-phone.orange,.i-print.orange,.i-star.orange,.i-support.orange,.i-vcard.orange,
.i-disk.orange,.i-monitor.orange,.i-download.orange,.i-pin.orange,.i-location.orange,.i-find.orange, .i-check.orange
	{ background-image:url(../images/icons/icons_orange.png); }

.i-male.pink, .i-female.pink, .i-zip.pink, .i-movie.pink, .i-addbook.pink, .i-arrow.pink, .i-calc.pink, .i-dollar.pink, .i-pound.pink, .i-euro.pink, .i-yen.pink, .i-error.pink,
.i-exclamation.pink,.i-feed.pink,.i-help.pink,.i-home.pink,.i-email.pink,.i-medal.pink,.i-new.pink,.i-word.pink,.i-pdf.pink,.i-phone.pink,.i-print.pink,.i-star.pink,.i-support.pink,.i-vcard.pink,
.i-disk.pink,.i-monitor.pink,.i-download.pink,.i-pin.pink,.i-location.pink,.i-find.pink, .i-check.pink
	{ background-image:url(../images/icons/icons_pink.png); }

.i-male.red, .i-female.red, .i-zip.red, .i-movie.red, .i-addbook.red, .i-arrow.red, .i-calc.red, .i-dollar.red, .i-pound.red, .i-euro.red, .i-yen.red, .i-error.red,
.i-exclamation.red,.i-feed.red,.i-help.red,.i-home.red,.i-email.red,.i-medal.red,.i-new.red,.i-word.red,.i-pdf.red,.i-phone.red,.i-print.red,.i-star.red,.i-support.red,.i-vcard.red,
.i-disk.red,.i-monitor.red,.i-download.red,.i-pin.red,.i-location.red,.i-find.red, .i-check.red
	{ background-image:url(../images/icons/icons_red.png); }

.i-male.yellow, .i-female.yellow, .i-zip.yellow, .i-movie.yellow, .i-addbook.yellow, .i-arrow.yellow, .i-calc.yellow, .i-dollar.yellow, .i-pound.yellow, .i-euro.yellow, .i-yen.yellow, .i-error.yellow,
.i-exclamation.yellow,.i-feed.yellow,.i-help.yellow,.i-home.yellow,.i-email.yellow,.i-medal.yellow,.i-new.yellow,.i-word.yellow,.i-pdf.yellow,.i-phone.yellow,.i-print.yellow,.i-star.yellow,.i-support.yellow,.i-vcard.yellow,
.i-disk.yellow,.i-monitor.yellow,.i-download.yellow,.i-pin.yellow,.i-location.yellow,.i-find.yellow, .i-check.yellow
	{ background-image:url(../images/icons/icons_yellow.png); }
	
.i-male.blue, .i-female.blue, .i-zip.blue, .i-movie.blue, .i-addbook.blue, .i-arrow.blue, .i-calc.blue, .i-dollar.blue, .i-pound.blue, .i-euro.blue, .i-yen.blue, .i-error.blue, .i-exclamation.blue, .i-feed.blue, .i-help.blue, .i-home.blue, .i-email.blue, .i-medal.blue, .i-new.blue, .i-word.blue, .i-pdf.blue, .i-phone.blue, .i-print.blue, .i-star.blue, .i-support.blue, .i-vcard.blue, .i-disk.blue, .i-monitor.blue, .i-download.blue, .i-pin.blue, .i-location.blue, .i-find.blue, .i-check.blue
	{ background-image:url(../images/icons/icons_black.png); }	


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	FANCY TABLE
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

table.fancy_table     { border: 1px solid #eee; }
table.fancy_table th  {
	padding:14px; 
	color:#fff; 
	}

table.fancy_table td  {
	padding:12px; 
	background:#fff; 
	border: 1px solid #eee; 
	}

table.fancy_table tbody tr:hover td	{
	background-color:#F3F3F3;
	}

table.fancy_table tfoot {
	background-color: #F3F3F3;
	}

table.fancy_table {
	width:99%; 
	margin:0 auto; 
	margin-bottom:10px;
	border-collapse: collapse; 
	border-spacing: 0; 
	}

.fancy_table.alignleft    { float:left; margin:3px 15px 20px 3px;}
.fancy_table.alignright   { float:right; margin:3px 3px 20px 15px;	}
.fancy_table.aligncenter  { 
	display:table; 
	clear:both; 
	margin:0 auto; 
	padding:2px; 
	margin-bottom: 20px;
	text-align:center;
	}

.fancy_table p{
	margin-bottom:0px;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	MESSAGE BOXES
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

span.error     { border-color:#ffcfce; background: #ffdfdf }
span.info      { border-color:#d4ecf0; background: #e0f2f5 }
span.alert     { border-color:#efeabf; background: #f6f3da }
span.download,
span.success { border-color:#c7f5ce; background: #d6f7db }

span.error,
span.info,
span.alert,
span.download,
span.success { 
	display: block; 
	padding: 20px 20px 20px 20px; 
	margin: 5px 0;
	border-style:solid;
	border-width:1px;
	font-size:12px;
	color:#000;
	-webkit-border-radius:5px;
		-moz-border-radius:5px;
			border-radius:5px;
	}	
	
/* Notes Box */

.post .notes { background-color: #eaf3fb; border-color:#d4e5f3; margin-bottom:20px;}
.notes {
	border: 1px solid #E2E1D5; 
	background: #FDFDE7;
  	margin-bottom: 20px;
	}

	.notes_content {
		padding:20px; 
		border:1px solid #fff; 
		}

		.notes_content p {
			margin-bottom: 10px; 
			}

	.notes.alignleft {
		float:left; 
		margin-right:15px; 
		margin-bottom:15px;
		}
	
	.notes.alignright {
		float:right; 
		margin-left:15px; 
		margin-bottom:15px;
		}

	h4.notes_title {
		margin-bottom:10px;
		}

		.notes .post-info { margin-top:20px; margin-bottom:0}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	HORIZONTAL TABS
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.systabspane  {
	position:relative;
	clear:both; 
	margin:10px 0 30px 0;
	}

.systabspane .panes              { clear:both; }
.systabspane.centertabs ul.tabs  { margin:0 auto;}
.systabspane.righttabs ul.tabs   { margin:0 0 0 auto; float:right; }


.tabs {
	position:relative;
	width:100%;
	display: block;
	display: table;
	margin:0;
	padding:0;
	background-color:#f1f2f3;
	}

	.tabs li {
		float:left;
		margin:0; 
		padding:0 20px;
		line-height:40px;
		position:relative; 
		list-style-type:none;
		border-top:4px solid transparent;
		}

	.tabs a span { 
		display:block;
		}
	.tabs a { 
		display:block; 
		position:relative; 
		color:#444;
		text-decoration:none; 
		
		}

	.tab_content {
		display:none; 
		overflow:hidden; 
		padding:20px 0;
		background-color:#FFFFFF;
		}

	.tabs li.current { 
		position:relative;
		margin:0 0 -2px 0;
		border-bottom:none;
		background-color:#FFFFFF;
		}

	.tabs li.current a {
		cursor: pointer;
		}

/**
 * Vertical Tabs CSS 
 *-----------------------------------
 */
.systabspane.vertabs {
	border:1px solid #e1e2e3;
	}

.vertabs .panes  { clear:none;}

.vertabs .tabs {
	clear:none;
	float:left; 
	width:160px;
	height:auto;
	margin:0 !important;
	padding:0;
	border-bottom:none;
	}

.vertabs .tabs li {
	clear:left;
	display:block;
	float:none;
	margin: 0; 
	padding: 0; 
	border:1px solid #e1e2e3;
	border-width:1px 1px 0px 0px;
	line-height:normal;
	list-style-type:none; 
}

.vertabs .tabs a { 
	display:block; 
	clear:left;
	float:none;
	position:relative; 
	height:auto; 
	padding:10px 15px; 
	text-decoration:none; 
	}

.vertabs .tab_content {
	padding:20px;
	}

.vertabs .tabs li.current { 
	position:relative;
	border:1px solid #e1e2e3;
	margin-left:0;
	border-width:1px 0 0 0;
	}

.vertabs .tabs li.current a { 
	color:#444;		
	cursor: pointer;
	}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Accordion
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.ac_wrap {
    width: 100%;
    border-bottom: solid 1px #e1e2e3;
}
.ac_wrap .ac_title {
    background:url('../images/plus.png') no-repeat 10px 10px;
    padding: 15px 45px;     
    margin: 0;     
    border: solid 1px #e1e2e3;
    border-bottom: none;
    cursor: pointer;
	line-height:100%;
}

.ac_wrap .ac_title:hover {
    background: url('../images/minus.png') no-repeat 10px 10px;
}

.ac_wrap .ac_title.active {
    background:#f1f2f3 url('../images/minus.png') no-repeat 10px 10px;
}

.ac_wrap .ac_content {
    margin: 0;
    padding: 10px 15px 20px;
    border-left: solid 1px #e1e2e3;
    border-right: solid 1px #e1e2e3;
}	

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	TWITTER Widget
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.tweet {
	margin: 0;
	padding: 0;
	list-style:none;
}
.tweet li {
	background: none !important;
	padding: 0 !important;
	line-height:normal;
}
.tweet li span {
	display:block;
	margin-bottom:15px;
	font-size: 10px;
	color: #999999;
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	FANCY HEADINGS
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/


.fancyheading {
	position: relative;
	margin-bottom:18px; 
	}
.fancyheading span {
	padding: 6px 20px; 
	font-size:12px; 
	font-weight: normal; 
	letter-spacing: 1px; 
	line-height: 28px; 
	text-transform: uppercase; 
	color :#fff; 	
	background-color:#b9b9b9;
	background-image:url(images/opacs/dark10.png);
	background-position:top left;
	background-repeat:repeat;
	background-attachment:scroll;
		
	/* Safari 4+, Chrome & Mozilla 3.6+ */
	background-image: -webkit-gradient(linear,center bottom,center top,	from(rgba(0, 0, 0, .1)),to(rgba(255, 255, 255, .1)));
	background-image: -moz-linear-gradient(center top,rgba(255, 255, 255, .1) 0%,rgba(0, 0, 0, .1) 100%);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */

	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	}

.fancyheading span.gray     { background-color: #666666; }
.fancyheading span.orange   { background-color: #ff5c00; }
.fancyheading span.red      { background-color: #e62727; }
.fancyheading span.magenta  { background-color: #A9014B; }
.fancyheading span.yellow   { background-color: #ffb515; }
.fancyheading span.blue     { background-color: #00ADEE; }
.fancyheading span.pink     { background-color: #e22092; }
.fancyheading span.green    { background-color: #91bd09; }

.fancyheading span.black    { background-color: #333333; }
.fancyheading span.white    { background-color: #FFFFFF; }
.fancyheading span.white span { color: #666666; }


.businesshours p {
		display: block;
		padding:5px 0;
		overflow: hidden;
		margin-bottom: 0;
		}
		
		.businesshours span.days {
			font-weight: bold;
			width: 40%;
			display: block;
			float: left;
			text-align: left;
			vertical-align:middle;
			}			
		
		.businesshours span.hours {
			width:60%;
			display:block;
			float: right;
			text-align: right;
			}
			
#footer .businesshours p  { margin-bottom: 0;}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Flickr Widget
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.flickr_badge_image {
	float: left;	
	width:70px;
	height:70px;
	display:block;
	margin: 0 10px 10px 0;
	}

.flickr_badge_image img {
	width:70px;
	height:70px;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
	-webkit-box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.2);
	        box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.2);
	}

.main-cycle{position:relative;}
.cycle-div{width:299px;}
.cycle-div div{
	width:299px;
	position:relative;
	z-index:1;
	display:block;
	margin-right:10px;
	}
.cycle-div div strong{
	display: inline-block;
	margin:25px 0 0 15px;
	}
.cycle-div div a{
	color:#72a782;
	text-decoration:underline;
	display:inline-block;
	font-weight:normal;
	}
	.cycle-div div a:hover{color:#cebb7b ;}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Wordpress Tags
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.tagcloud {
    display: inline-block;
	margin:10px 0;
}
.tagcloud a {
background:#f1f2f3;
	color:#777;
	display: block;
	float: left;
	margin:1px;
	padding:1px 5px;
	font-size: 11px;
}

.taglist { margin:0; padding:0}

.emptybg {
	background: none repeat scroll 0 0 #f5f5f5;
    border-radius: 5px 5px 5px 5px;
    display: block;
    height: 40px;
	color:#000;
    padding-top: 20px;
    position: relative;
    text-align: center;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* PlabBox */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.plan_box {
	width: auto; 
	min-height:350px; 
	height: 100%; 
	overflow: hidden; 
	position: relative; 
	padding:0;
	color:#fff;
	}

.plan_box .plan_info {
	width:100%; 
	position:absolute; 
	min-height:350px; 
	height:100%;  
	top:0; 
	left:0; 
	text-align:center; 
	cursor:pointer; 
	z-index:1;
	background-color:#444444; 
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	}

.plan_box .plan_details {
	position:absolute; 
	width:100%; 
	margin:0 auto; 
	min-height:350px; 
	height:100%; 
	text-align:center; 
	z-index:0; 
	top:0;
	background-color:#333333; 
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	}

.plan_box .content { margin:0 10px; }
.plan_box ul { margin:15px 0 15px 0;}

.plan_box ul li {
	padding:5px 6px 5px 25px; 
	border-bottom:1px solid #444444; 
	text-align:left; 
	margin-left:10px;
	}

.plan_box h2 { 
	margin-top:20px;
	padding:0;
	letter-spacing:-1px;
	}

.plan_box h3.price { margin:0; padding:0; font-size:300%; letter-spacing:-2px; }

.plan_box h3.price span, 
.plan_box h4 {
	margin:10px 0;
	} 

.plan_box	.highlight		{  -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;  }
