/*---------------------------------------
Global Footer Styles
---------------------------------------*/

.site-footer {
    width: 100%;
    padding: 20px 0 0 0;
    clear: both;
    color: #fff;
    background: #252525; 
    line-height: 1.5;
} //End .site-footer

.footer-bottom {
    background: #111;
    padding: 15px 10px;
}

//Contact Form Section Styles
.footer-contact-form {

    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

    &__inner {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__title {
        display: block;
        font-family: $serif;
        font-size: 1.8rem;
        margin-bottom: 10px;

        @media (min-width: 768px){
            font-size: 2.2rem;
        }

        @media (min-width: 1140px){
            font-size: 2.7rem;
        }
    }

    &__subtitle {
        display: block;
        line-height: 1.5;
        font-family: $sans-serif-condensed;
        margin-bottom: 20px;
        font-size: 1.3rem;
        letter-spacing: 1px;

        @media (min-width: 768px){
            font-size: 2.0rem;
        }

    }

    &__form {

        p { margin-bottom: 0; line-height: 1;}
        br { display: none; }
        
        input[type="text"], input[type="email"], input[type="tel"], textarea {
            display: block;
            margin-bottom: 10px;
        }

        //Makeshift Grid
        .first-name {
            width: calc(50% - 5px);
            float: left;
            display: block;

            @media (max-width: 767px){
                width: 100%;
                float: none;
            }
        }
        .last-name {
            width: calc(50% - 5px);
            float: right;
            display: block;

            @media (max-width: 767px){
                width: 100%;
                float: none;
            }
        }

        .email {
            clear: both;
            width: calc(50% - 5px);
            float: left;
            display: block;
            
            @media (max-width: 767px){
                width: 100%;
                float: none;
            }
        }

        .phone {
            width: calc(50% - 5px);
            float: right;
            display: block;

            @media (max-width: 767px){
                width: 100%;
                float: none;
            }

        }

        textarea {
            clear: both;
        }

        input[type="submit"]{
            display: block;
            color: #fff;
            background: $secondary;
            font-size: 1.6rem;
            transition: 0.2s;
            border-radius: 0;
            margin: 30px auto 0 auto;

            &:hover {
                background: darken($secondary, 10%);
                color: #fff;
            }
        }

        

    } //End __form
 
} //End .footer-contact-form


//Footer Call to Action
.footer-cta {
    background: #166198;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-family: $serif;
    text-align: center;
    line-height: 2;
    padding-top: 30px;
    font-size: 1.2rem;
    padding-bottom: 30px;

    @media (min-width: 768px){
        font-size: 1.9rem;
    }

    &__inner {

    }

    &__telephone-link {
        color: #fff;
        font-size: 1.8rem;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: none;
        }

        @media (min-width: 768px){
            font-size: 2.15rem;
        }
    }

} //End .footer-cta


//Footer Widget Areas
.footer-widgets {
    padding: 20px 10px;
    background: transparent;

    &__inner {
        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__office-information {
        width: 100%;
        margin-bottom: 30px;
        text-align: left;

        @media (min-width: 768px){
            width: calc(50% - 30px);
            margin-right: 30px;
            margin-bottom: 0;
        }

        address {
            font-style: normal;
        }

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: none;       
            }
        }

        iframe {
            margin-top: 20px;
            max-width: 250px;
            height: 150px;
        }
    }

    &__navigate {
        width: 100%;
        margin-bottom: 0;

        @media (min-width: 768px){
            //width: calc(25% - 30px);
            //margin-right: 30px;
            //margin-bottom: 0;
        }
    }

    &__practice-areas {
        width: 100%;
        margin-bottom: 30px;

        @media (min-width: 768px){
            width: 25%;
            margin-right: 30px;
            margin-bottom: 0;
        }
    }

} //End .footer-widgets

//Single Footer Widget Styles
.footer-widget {

    font-size: 1.1rem;

    h3 {
        display: block;
        font-family: $serif;
        font-size: 1.5rem;
        text-align: left;
        letter-spacing: 2px;

        @media (min-width: 768px){
            font-size: 1.85rem;
        }
    }

    ul {
        text-align: left;
        font-size: 1.1rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        li {
            padding-bottom: 3px;
            display: inline;
        }

        a {
            color: #fff;
            font-weight: bold;
            font-family: $sans-serif-condensed;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }

} //End .footer-widget


//Bottom Footer Styles
.footer-bottom {

    //padding-top: 30px;

    &__inner {

    }

    //Navigation Row
    &__navigation {

        margin-bottom: 15px;

        ul {
            li {
                padding-bottom: 3px;
                display: inline;
            }
    
            a {
                color: #fff;
                font-weight: bold;
                font-family: $sans-serif-condensed;
                text-decoration: none;
                text-transform: uppercase;
    
                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }

    //Copyright
    &__copyright {
        font-family: $sans-serif-condensed;
    }

} //End .footer-bottom

/*---------------------------------------
Top Footer Styles
---------------------------------------*/

.footer-top {

    padding: 40px 0 20px 0;
    color: #fff;
    background: #252525;

    &__inner {
        @media (min-width: 768px){
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #444;
        }
    }

    &__logo {

        width: 100%;
        max-width: 450px;
        margin: 0 auto 30px auto;
        padding: 10px 10px 30px 10px;
        border-bottom: 1px solid #555;

        @media (min-width: 768px){
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
            max-width: none;
            width: 30%;
            padding: 10px;
            min-width: 250px;
        }
    }

    &__logo-image {

    }

    &__logo-cta {
        display: block;
        text-transform: uppercase; 
        font-size: 1.5rem;
        text-align: center;
        margin: 20px auto;
        padding-bottom: 20px;
    

        a {
            color: $primary;
            transition: 0.2s;
            text-decoration: none;
            font-weight: bold;
            
            &:hover {
                color: #fff;
            }
        }

        @media (max-width: 1399px){
            br {display: none;}
        }
    }


    &__links {
        width: 100%;
        max-width: 450px;
        margin: 0 auto 30px auto;
        padding: 10px 10px 30px 10px;
        border-bottom: 1px solid #555;

        @media (min-width: 768px){
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
            max-width: none;
            padding: 10px;
            width: 15%;
            min-width: 200px;
        }

        ul {
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            max-width: 150px;
            
            @media (min-width: 768px){
                margin-left: 0;
                max-width: none;
            }
        }

        li {
            display: block;
            position: relative;
            font-size: 1.1rem;
            padding-left: 1rem;
            text-align: left;

            &:before {
                content: '\f105';
                position: absolute;
                color: $primary;
                font-family: fontawesome;
                left: 2px;
                //top: 3px;
                font-size: 1.1rem;
                transition: 0.2s;
                
            }

            &:hover {
                &:before {
                    left: 5px;
                }
            }
        }

        a {
            color: #fff;
            transition: 0.2s;
            text-decoration: none;

            &:hover {
                color: $primary;
            }
        }
    }

    &__heading {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 15px;

        @media (min-width: 768px){
            text-align: left;
        }
    }

    &__address-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: 768px){
            justify-content: flex-start;
        }

        @media (min-width: 1200px){
            justify-content: space-between;
        }
    }

    &__address {
        width: 100%;
        max-width: 450px;
        margin: 0 auto 30px auto;
        padding: 10px 10px 30px 10px;
        border-bottom: 1px solid #555;
        

        @media (min-width: 768px){
            margin-bottom: 30px;
            padding-bottom: 30px;
            max-width: none;
            padding: 10px;
            width: 55%;
            border-bottom: none;
        }

        .footer-top__heading {
            margin-bottom: 0;
        }

        address {
            font-style: normal;
            text-align: left;
            font-size: 16px;
            color: #fff;
            display: block;
            width: 230px;
            margin-top: 15px;
            padding-right: 15px;

            strong {
                text-transform: uppercase;
                display: block;
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 5px;
                color: #fff;
                font-size: 14px;
                position: relative;
                padding-left: 1.3rem;

                &:before {
                    content: '\f041';
                    position: absolute;
                    color: $primary;
                    font-family: fontawesome;
                    left: 2px;
                    //top: 3px;
                    font-size: 14px;
                    transition: 0.2s;                    
                }
            }

            a {
                margin-bottom: 5px;
                color: #fff;
                position: relative;
                font-size: 14px;
                padding-left: 1.3rem;
                text-decoration: underline;

                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }

                &:before {
                    content: '\f095';
                    position: absolute;
                    color: $primary;
                    font-family: fontawesome;
                    left: 2px;
                    //top: 3px;
                    font-size: 14px;
                    transition: 0.2s;                    
                }
            }
        }

    }

    &__directions-link {   
        display: block;
        
        &:before {
            display: none;
        }
    }

    
} //End .footer-top


.footer-newsletter {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 10px 10px 60px 10px;
    border-bottom: 1px solid #555;

    @media (min-width: 768px){
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
        max-width: none;
        padding: 10px;
        width: 100%;
        text-align: center;
        max-width: 500px;

    }

    
    &__heading {
        text-align: center;
        display: block;
    }

    p {
        margin-bottom: 0;
        text-align: center;
    }
}

.footer-newsletter-form {
    display: block;
    margin-top: 20px;


    & > p { display: flex; }

    input[type="email"]{
        border-radius: 4px 0 0 4px;
        padding-top: 14px;
        border: none;
        padding-bottom: 14px;
    }

    input[type="submit"]{
        border-radius: 0 4px 4px 0;
        background: $primary;
        transition: 0.2s;
        text-transform: uppercase;
        color: #fff;

        &:hover {
            background: $secondary;
            color: #fff;
        }
    }

    //Validation
    .wpcf7-not-valid-tip {
        display: none;
    }

    .wpcf7-validation-errors {
        background: #f00;
        border: 2px solid darken(#f00, 15%);
        color: #fff;
        border-radius: 4px;
        font-size: 14px;
        text-align: center;
        padding: 10px;
    }

    .wpcf7-not-valid {
        background: #ffd2d2;
    }
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    padding: 30px 10px;

    li {
        padding: 10px;
        display: block;

        a {
            text-decoration: none;
            color: #fff;
            transition: 0.2s;
            font-size: 2.0rem;
            line-height: 1;
            &:hover {
                color: $primary;
            }
        }
    }
}


//Large Blue Footer CTA Section
.footer-large-cta {

    padding: 30px 0;
    background: #62b6e2;
    background: radial-gradient(circle, #62b6e2 0%, darken(#62b6e2, 25%) 100%);

    @media (min-width: 768px){
        padding: 80px 0;
    }

    &__inner {

    }

    &__image {

        display: block;
        margin: 0 auto;
        max-width: 100%;

    }

    &__content {
        font-size: 1.5rem;
        display: block;
        text-align: center;
        line-height: 1.3;
        color: #fff;
        
        a{
            color: #fff;
            text-decoration: underline;

            &:hover {
                color: #e0e0e0;
                
            }
        }

        @media (min-width: 768px) {
            font-size: 2.0rem;
        }
    }

    &__button {
        display: block;
        max-width: 370px;
        width: 100%;
        margin: 30px auto 0 auto;
        font-size: 2.5rem;
        text-align: center;
        padding: 15px 20px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s;
        background: $secondary;
        color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        
        &:hover {
            color: #fff;
            background: $primary;
        }

        @media (max-width: 767px) {
            font-size: 2.0rem;
            padding: 15px;
        }
    }

} //End .footer-large-cta


/*---------------------------------
Ambient Footer Popup
----------------------------------*/

.ambient-footer-popup {
    position: fixed;
    display: block;
    bottom: -150px;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
    max-width: 320px;
    width: 100%;

    @media (max-width:767px) {
        display: none !important;
    }

    &.closed {
        display: none !important;
    } 

    &.visible {
        display: block;
        visibility: visible;
        bottom: 0px;
        opacity: 1;
        z-index: 100;
    }

    &__inner {
        background: #fff;
        box-shadow: 0px -1px 3px rgba(0,0,0,0.5);
        padding: 5px;
        border: 2px solid $secondary;
        //border-bottom: none;
        position: relative;
        top: 0;
        transform: scale(1);
        transition: 0.2s;
        
        &:hover {
            //background: #eaeaea;
            position: relative;
            border: 2px solid $primary;
            //border-bottom: none;
            //transform: scale(1.01);
            top: -3px;         
        } 
    }

    //Close Button
    &__close-button {
        position: absolute;
        top: -15px;
        right: -15px;
        border-radius: 30px;
        height: 30px;
        display: block;
        width: 30px;
        background: #333;
        color: #fff;
        transition: 0.2s;
        border: 1px solid #444;
        transform: rotate(0deg);
        
        &:before {
            font-family: fontawesome;           
            content: '\f00d';
            text-align: center;
            z-index: 10;
            line-height: 27px;
            width: 100%;
            margin-left: 8px;
            margin-top: 1px;
            text-align: center;           
        }

        &:hover {             
            background: $primary;
            transform: rotate(360deg);
        }
    }


    &__title {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.2;
        margin-top: 17px;
        text-transform: uppercase;
        float: left;
        width: 50%;
        margin-right: 10px;
    }

    &__image {
        display: block;
        max-width: 100%;
        margin: 5px auto 0 auto;
    }


} //End .ambient-footer-popup


/*---------------------------------
Text Box (mobie only)
----------------------------------*/

.hc-text-box {
    
    display: none;
    position: fixed;
    right: -38px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    top: 60vh;
    z-index: 9999;
    transform: rotate(-90deg);

    @media (max-width: 767px){
        display: block;
        background: $secondary;
    }
 
    &__inner {

    }

    &__text-link {
        display: block;
        color: #fff;
        font-weight: bold;
        padding: 15px 20px;
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;
    }

} //End .hc-text-box 


/*---------------------------------
Footer Phone Circle
----------------------------------*/


.footer-phone-circle {
    display: none;
  }
  
  @media screen and (max-width: 767px) {
    .footer-phone-circle.visible {
      display: block;
      position: fixed;
      bottom: 80px;
      right: 10px;
      z-index: 1000;
      height: 65px;
      background: $secondary;
      width: 65px;
      text-decoration: none !important;
      border-radius: 50px;
      text-align: center;
      font-size: 45px;
      color: white;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
      border: 1px solid white;
    }
    .footer-phone-circle.visible:hover {
      color: white;
      background: darken($secondary, 10%); 
    }
    .footer-phone-circle.visible i {
      position: relative;
      top: -6px;
    }
  }
  