/*----------------------------------------------
Global Header Styles
-----------------------------------------------*/

//Global Overrides
.site-header {
    padding: 0;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    z-index: 9999;
    top: 0;

    @media (max-width: 767px){
        display: none;
    }

    .desktop-header {
        display: none;
        @media (min-width: 768px) {
            display: flex;
        }
    }
}



.mobile-header {
    display: block;
    position: relative;
    z-index: 9999;

    @media (min-width: 768px){
        display: none;
    }
}

//Notification Bar
.notification-bar {

    background: $secondary;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $sans-serif-condensed;
    font-size: 1.2rem;
    padding: 13px 10px;
    line-height: 1;
    transition: 0.2s;

    @media (max-width: 767px){
        font-size: 1.0rem;
        line-height: 1.2;
    }

    &__inner {
        
        display: flex;
        justify-content: center;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }

    &__left {
        text-align: left;
    }

    &__right {
        text-align: right;
    }

} //End .notification-bar

//Desktop Styles
.desktop-header {

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 25px 10px;
    max-width: 1400px;
    margin-left: auto;
    transition: 0.2s;
    margin-right: auto;

    @media (min-width: 768px) and (max-width: 1399px){
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__logo {
        padding: 10px;
        transition: 0.2s;

        &--default {
            height: 49px;
            transition: 0.2s;
            position: relative;
            top: 0;
            //height: 100px;
            //width: 200px;
        }

        &--scrolled {
            display: none;
            //height: 40px;
            //width: 100px;
        }

        @media (min-width: 768px) and (max-width: 1399px){

            padding: 0;
            //margin-top: -15px;

            &--default {
                //width: 100px;
            }

            &--scrolled {
                //width: 50px;
            }
        }
        
    }

    &__nav {
        padding: 10px;
        text-align: center;

        @media (min-width: 768px) and (max-width: 1399px){
            display: none;
        }
    }

    &__cta {
       display: flex;
       align-items: center;
       justify-content: flex-end;
    }

  

} //End .desktop-header

//Scrolled Header Styles

body {
    top: 0;
    position: relative;
    transition: 0.2s 0.1s;

}

.scrolled {  
    .mobile-header {
        position: fixed;

        .notification-bar {
        }

    }

    .desktop-header {
        padding: 10px;
    }

    .site-header, .mobile-header {

        //position: fixed;
        left: 0;
        right: 0;

        @media (min-width: 768px){
            position: sticky;
        }

        .desktop-header__logo--default {
            height: 30px;
            @media (min-width: 768px) and (max-width: 1399px){
                top: 10px;
            }
        }

        .mobile-header__logo {
            height: 0;
            margin: 3px;
        }

        .header-cta {
            top: 0;
        }

        .header-cta__heading, .header-cta__subheading { 
            //display: none; 
        }

        .header-cta__phone {
            font-size: 1.7rem;
        }


        .notification-bar {
            @media (max-width: 767px){
                font-size: 0.9rem;
            }
        }

    } //End .scrolled
}

//CTA Styles
.header-cta {
    width: calc(100% - 320px);
    position: relative;
    top: -10px;

    @media (min-width: 768px) and (max-width: 1399px){
        top: 0;
    }

    &__heading { 
        font-size: 2.0rem;
        font-weight: bold;
        display: block;
        width: 380px;
        position: relative;
        left: -40px;
        line-height: 1;
        color: #111;
        font-family: $sans-serif-condensed;
        margin-bottom: 5px;
        text-align: right;

        @media (min-width: 768px) and (max-width: 1399px){
            
            //font-size: 1.5rem;
        }
    }

    &__subheading {
        font-size: 1.6rem;
        font-weight: bold;
        display: block;
        line-height: 1;
        color: #111;
        font-family: $sans-serif-condensed;
        text-align: right;

        @media (min-width: 768px) and (max-width: 1399px){
            //font-size: 1.0rem;
        }
    }

    &__phone {
        display: block;
        width: auto;
        text-decoration: none;
        font-size: 2.0rem;
        font-weight: 900;
        font-family: $sans-serif-condensed;
        transition: 0.2s;
        color: $secondary;
        text-align: right;
        margin-left: 15px;

        @media (min-width: 768px) and (max-width: 1399px){
            //font-size: 1.5rem;
            //margin-bottom: 10px;
        }

        &:hover {
            color: $secondary;
        }
    }

} 

//Downarrow

.desktop-downarrow {
    position: relative;
}

.desktop-downarrow:after {
    content: '\f107';
    font-family: fontawesome;
    float: right;
    position: absolute;
    top: -1px;
    right: -1em;
    font-size: 14px;
    transition: 0.2s;

    @media (min-width: 768px) and (max-width: 1199px){
        top: -3px;
    }
}

//Desktop Navigation Styles

.desktop-navigation-wrapper {
    background: $primary;
    color: #fff;
}

.desktop-nav {
    text-align: center;

    li {
        display: inline; 

        a {
            color: #FFF;
            text-decoration: none;
            font-family: $sans-serif-condensed;
            font-size: 1rem;
            letter-spacing: 1px;
            //text-transform: uppercase;
            font-weight: normal;
            display: inline-block;
            padding: 12px;

            @media (min-width: 768px) and (max-width: 1199px){
                padding: 10px 5px;
                font-size: 0.8rem;
            }
        }
    }

    .sub-menu {
        display: none;
    }

    //Sub Navigation Styles
    .menu-item-has-children {

        position: relative;

        > a {
            padding-right: 1.2rem;
        }

        &:hover {
            .desktop-downarrow:after {
                transform: rotate(180deg);
            }
        }

        ul.sub-menu{
            margin: 0;
            margin-top: 10px;
            display: block !important;
            position: absolute;
            //overflow: hidden;
            top: 105%;;
            left: 50%;
            height: auto;
            width: auto;
            min-width: 260px;
            transition: transform .3s ease .2s;
            transform-origin: top;
            transform: translateX(-50%) scale(1,0);
            z-index: 200;
            max-height: 75vh;
            box-shadow: 0 0 2em rgba(0,0,0,0.35);
            padding: 0;
            border-radius: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            background: $secondary;

            @media (min-width: 768px) and (max-width: 1399px){
                //Fix for offscreen menu positioning
                left: 100%;
            }

            li{
                width: 100%;
                display: block;
                position: relative;

                a{
                    text-align: left;
                    color: darken($primary, 15%);
                    display: block;
                    background: #fff;
                    transition: 0.2s;
                    //text-transform: uppercase;
                    font-size: 0.9rem;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #d0d0d0;

                    .desktop-downarrow { display: none; }

                    &:hover {
                        color: #FFF;
                        background: $secondary;
                    }
                }

                &:nth-of-type(1){
                    border-radius: 3px 3px 0 0;
                }

                &:nth-last-of-type(1){
                    border-radius: 0 0 3px 3px;
                    a {
                        border-bottom: none;
                    }
                }
            }

            .menu-item-has-children {
                a {
                    .desktop-downarrow { display: block; }
                    .desktop-downarrow:after {
                        top: -23px;
                        transform: rotate(-90deg);
                    }
                }
            }

            //Triangle 
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: -6px;
                left: 50%;
                transform: translateX(-50%);
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;                
                border-bottom: 8px solid $secondary;

            }

            //3rd Level Styles
            .sub-menu {
                left: 375px;
                top: 0;
                transition: 0.0s;
                padding-left: 2px;
                padding-right: 2px;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 15px;
                    left: -7px;
                    //transform: translateX(-50%);
                    
                    border-right: 5px solid $secondary;                
                    border-bottom: 5px solid transparent;
                    border-top: 5px solid transparent;
    
                }

                a .desktop-downarrow {
                    display: none;
                }
            }
        }

        a {
            //padding-right: 1.8em;
        }

        &:hover {
          
            a {
                           
            }

            ul.sub-menu, ul.children {


                li {

                    width: 100%;
                    display: block;

                    a {

                        &:hover,
                        &:focus {
                        
                        }
                        &:link {}
                    }

                    &:first-child {}

                    &:last-child {}

                }
            }

            /* Show/Hide Submenu */
            &:hover > ul {
                transition: transform .3s ease 0s;
                -webkit-transform: translateX(-50%) scale(1,1);
                -ms-transform: translateX(-50%) scale(1,1);
                transform: translateX(-50%) scale(1,1);
            }
        } //End Hover
    }

} //End .desktop-nav


/*----------------------------------
Mobile Header Styles
----------------------------------*/

.mobile-header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

    &__logo {
        display: block;
        text-align: center;
        margin-bottom: 14px;
        padding-top: 10px;

        height: 127px;
        transition: 0.2s;
        overflow: hidden;

        img {
            height: 117px;
        }
    }

    &__phone {
        a {
            text-align: center;
            color: #fff;
            display: block;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            font-family: $sans-serif-condensed;
            background: $secondary;
            transition: 0.2s;
            text-decoration: none;
            padding: 5px;
            font-size: 1.2rem;
    
            &:hover, &:focus {
                color: #fff;
                text-decoration: none;
                background: lighten($secondary, 10%);
            }
        }
    }

    &__navigation-toggle {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        background: $primary;
        color: #fff;
        font-family: $sans-serif-condensed;
        text-transform: uppercase;
        margin-top: 15px;
        font-weight: normal;
        font-size: 1.2rem;
        letter-spacing: 1px;
        cursor: pointer;
        transition: 0.2s;

        &:hover, &:focus {
            background: darken($primary, 15%);
        }

        span {
            &:nth-of-type(1){
                padding-top: 4px;
            }
        }

        i {
            font-size: 1.5rem;
            padding-top: 7px;
        }
    }

} //End .mobile-header

//For Shadow Effect
.site-container {
    @media (max-width: 767px){
        box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    }
}


//Mobile Slideout Pane Styles
.mobile-navigation-pane {
    
    display: none;
    background: #fff;
    padding-bottom: 100px; // For Apex & Other Chat Overlays

    @media (min-width: 768px){
        display: none !important;
    }

    &__inner {

    }

    &__header {
        background: darken($primary, 15%);
        padding: 10px 10px 15px 10px;
        color: #fff;
        text-align: left;
        font-family: $sans-serif-condensed;
        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }

    &__navigation {
        padding: 10px;

        .mobile-nav {

            li {
                padding: 5px;
            }

            a {
                text-decoration: none;
                color: darken($primary, 15%);
                transition: 0.2s;
                font-weight: bold;

                &:hover, &:focus {
                    color: $secondary;
                }
            }
            
            .sub-menu {
                margin-left: 20px;

                li {
                    padding: 2px;
                }

                a {
                    font-weight: normal;
                }
            }

        }
    }

    .navigation-pane-close {
        cursor: pointer;
        position: relative;
        top: 10px;
    }

} //End .mobile-navigation-pane
