/*---------------------------------------
Sidebar Widget Styles
----------------------------------------*/

.sidebar {


    .widget-title {
        font-family: $sans-serif-condensed;
        font-weight: bold;
        color: $primary-dark;
        font-size: 1.5rem;
        text-align: center;
        display: block;
    }

} //End .sidebar



//List Widget Styles
.list-widget {

    //box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    border-radius: 4px;
    overflow: hidden;

    .widget-title {
        color: #fff;
        background: $primary-dark;
        display: block;
        padding: 15px;
        margin-bottom: 0;
    }

    ul {
        
        li {
 
            margin-bottom: 0;
            border-bottom: 1px solid #bfbfbf;

            &:nth-last-of-type(1){
                border-bottom: none;
            }
            
            a {
                display: block;
                text-transform: uppercase;
                text-decoration: none;
                background: #e0e0e0;
                transition: 0.2s;
                font-weight: bold;
                padding: 10px;
                color: $primary-dark;

                &:hover {
                    background: $secondary;
                    color: #fff;
                }
            }

            &:nth-of-type(even){
                a {
                    background: #f0f0f0;

                    &:hover {
                        background: $secondary;
                        color: #fff;
                    }
                }
            }

        } //End li

    } //End ul

} //End .list-widget

//Location Practice Areas Widget
.location-widget-title {

    color: #fff;
    background: $primary-dark;
    display: block;
    padding: 15px;
    margin-bottom: 0;
    text-align: center;

    &__line-1 {
        margin-bottom: 0;
        font-family: $sans-serif-condensed;
        font-weight: bold;
        line-height: 1;
        padding-bottom: 10px;
    }

    &__line-2 {
        padding-top: 0;
        font-family: $sans-serif-condensed;
        font-weight: bold;
        margin-bottom: 0;
        line-height: 1;
    }

} //End .location-widget-title

.location-widget-inner {
    .secondary-location-link {
        display: none;
    }
}

//FAQ Widget Styles
.sidebar {

    .faq-filter-portfolio-wrapper {
        margin: 0 !important;
    }

    .faq-page-listing {

        border: 1px solid #dadada !important;
        padding-bottom: 15px !important;
        position: relative;
        //box-shadow: 0 3px 5px rgba(0,0,0,0.2);

        img {
            width: 100%;
            transition: 0.2s;
            height: auto;
        }

        &:nth-of-type(1) {
            margin-top: 0;
        }

        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }

        .faq-page-listing-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            text-align: center;
            display: block;
            padding: 9px;
            font-size: 1.1rem;
            color: #fff;
            background: rgba(3,153,215,0.9);
            z-index: 10;
            border-radius: 4px 4px 0 0;
        }

        .faq-category {
            font-size: 14px !important;
            margin-bottom: 8px;
        }

    } //End .faq-page-listing

} //End .sidebar


//Box Shadow for Image in Sidebar
img[alt="Online Coupon for 25 dollars off"]{
    box-shadow: 0 2px 4px rgba(50,50,50,0.5);
}

/*---------------------------------------
Sidebar 24 hour Section
========================================*/

.sidebar-24-hour {

    border: 2px solid #111;
    max-width: 300px;
    margin-left: auto;
    outline: 2px solid #7ba1c8;
    padding: 30px;
    outline-offset: -15px;
    margin-right: auto;
    //border-radius: 4px;
    box-shadow: 0 2px 4px rgba(50,50,50,0.5);


    img {
        display: block;
        margin: 0 auto 15px auto;
        max-width: 100%;
    }

    span {
        display: block;
        text-align: center;
        font-weight: normal;
    }

}

/*---------------------------------------
Sidebar Trust Logos
========================================*/

.sidebar-trust-logos {

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        align-self: center;
        max-width: 100%;
        width: 33.333% !important;
        padding: 10px;
    }

} //End sidebar-trust-logos

/*---------------------------------------
City Widget (Locations Served) Styles
========================================*/

.city-widget {

    border: 1px solid #d0d0d0;
    border-radius: 4px;
    padding: 15px;
    //box-shadow: 0 2px 4px rgba(100,100,100,0.2);

    &__inner {

    }

    &__title {
        text-align: center;
        display: block;
        color: $secondary;
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__list {

        margin-bottom: 0;
        margin-left: 1.5rem;
        
        li {
            list-style-type: disc;
            margin-bottom: 5px !important;
        }

        a {
            font-size: 14px;
            color: $primary;
            transition: 0.2s;
            text-decoration: none;
            
            &:hover {
                color: $secondary;
            }
        }
    }

} //End .city-widget

/*---------------------------------------
Related City Services Widget
========================================*/

.related-location-services {

    border: 1px;
    border: 1px solid #E8E8E8;
    border-radius: 4px; 
    overflow: hidden;

    .location-widget-title {
        background: $secondary;
        font-weight: 300;
        color: #fff;

        &__line-1, &__line-2 {
            display: inline;
            font-weight: 300;
        }
    }

    .location-widget-links {
        padding: 10px;
        margin-left: 1.5rem;
        //color: $primary;
        list-style-position: outside;
        list-style-type: none;
        position: relative;

        &:before {
            background: url(../images/ambient-logo-standalone.png) no-repeat center center;
            background-size: 100px auto;
            position: absolute;
            bottom: 10px;
            right: 10px;
            content: '';
            height: 49px;
            width: 99px;
            opacity: 0.2;
            z-index: 1;
        }

        li {
            
            list-style-type: disc;
            margin-bottom: 8px;
            position: relative;
            z-index: 5;
        }

        a {
            color: darken($primary, 15%);
            text-decoration: none;
            transition: 0.2s;
            font-size: 14px;

            &:hover {
                color: $secondary;
            }
        }
    }

} //End .related-location-services