/* Simple CSS */

/* @group General */

body {
	color: #333;
	font: 100% Helvetica, sans-serif;
}

.page-wrapper {
	padding-top: 1px;
}

.meny-top .page-wrapper > div {
	-webkit-transform: translate3d(0,0,0);
}

#content, ol.commentlist, .related-posts {
	background-color: #fff;
	color: #333;
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
	box-shadow: rgba(0,0,0,.1) 0px 1px 1px;
	line-height: 150%;
	text-shadow: none;
	overflow: hidden;
}

.toggle-button, #menu a, #feature_pages a:after {
	color: rgba(0,0,0,.7);
}

#content .wptouch-ad img {
	max-width: none !important;
	width: auto !important;
}

.ios.portrait .post .wptouch-ad {
	margin-left: -10px;
	margin-right: -10px;
}

/* @end */

/* @group Header */

#menu {
	display: none;
}

#menu li.touched {
	background-color: rgba(0,0,0,.1);
}

.menu-bumper {
	height: 8px;
	width: 100%;
	position: relative;
	top: -1px;
}

a.toggle-button, a.login-button {
	color: rgba(0,0,0,.65);
	text-shadow: rgba(255,255,255,.4) 0 1px 0;
	position: absolute;
	display: block;
	right: 8px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 4px 12px;
	top: 8px;
	font-size: 100%;
	line-height: 1.2em;
}

a.login-button {
	right: 55px;
}

a.login-button:after {
	content: "\e804";
	font-family: 'wptouch-icons';
}

a.login-button.logout:after {
	content: "\e806";
	font-family: 'wptouch-icons';
}

a.toggle-button:after {
	content: "\e80f";
	font-family: 'wptouch-icons';
}

a.toggle-button.toggle-open {
	-webkit-transform: rotate(-180deg);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#header-area {
	text-align: center;
	position: relative;
	z-index: 0;
	margin-top: 32px;
}

#header-area img {
	max-width: 90%;
	max-height: 130px;
	padding-bottom: 25px;
}

#header-area h1 {
	font-size: 175%;
	white-space: nowrap;
	overflow: hidden;
	width: 92%;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-align: center;
	line-height: 150%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* @end */

/* @group Front Page */

#map, #map2 {
	text-align: center;
	color: #555;
	overflow: hidden;
	position: relative;
}

#map.start, #map2.start {
	left: -2000px;
}

#map.hide, #map2.hide {

	visibility: visible;
	display: none;
	height: auto;
}

#map p, #map2 p {
	margin: 25px 0 -15px;
}


.simple-map {
	position: relative;
	padding-bottom: 40.25%;
	height: 0;
	padding-top: 30px;
	margin-bottom: 0;
}

.simple-map iframe, .simple-map embed {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.message {
	padding-bottom: 10px;
	text-align: center;
}

.message * {
	max-width: 100%;
	height: auto;
}

.message img {
	padding-top: 10px;
}

/* @group Home Menu */

/* Hide Icons Here! */

.homepage-menu {
	margin: -5px;
}

.homepage-menu img {
	display: none;
}

.homepage-menu ul ul {
	display: none;
}

#homepage-menu-list > ul > li.no-icon {
	padding-left: 0;
}

.homepage-menu a {
	background: #f5f4f6;
	color: #494b4e;
	display: block;
	padding: 10px;
	position: relative;
	border-radius: 2px;
	margin-bottom: 5px;
}

.homepage-menu li span {
	border-radius: 2px;
	background-color: #f5f4f6;
	box-shadow: none !important;
	border-style: none !important;
	margin-left: 2px;
	padding-bottom: 14px;
}

#content .homepage-menu .touched {
	text-shadow: none;
}

.homepage-menu a:after {
	border-radius: 25px;
	font-family: 'wptouch-icons';
	content: '\e811';
	position: absolute;
	z-index: 999;
	right: 2%;
	top: 20%;
	text-align: center;
	padding: 6px 8px 5px;
	line-height: 1em;
	background-color: rgba(255,255,255,.9);
}

.homepage-menu a.touched:after {
	background-color: #333;
	color: #fff;
}

.homepage-menu span.touched {
	color: #fff;
}

#homepage-menu-list .open-tree {
	box-shadow: none;
	background: none;
}

.homepage-menu > ul > li.has_children > a:after {
	content: none;
}

#content .homepage-menu a.map-address, #content .homepage-menu a.phone-number {
	margin-top: 10px;
}

.homepage-menu a.phone-number:after {
	content: "\e849";
}

.homepage-menu a.map-address:after, .homepage-menu a.map-address2:after {
	content: "\e837";
}

/* @end */

/* @end */


/* @group Blog */

/* @group Index */

.blog #content {
	background: transparent;
	box-shadow: none;
	margin: 0;
	padding: 0;
}

.blog .post {
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,.1);
	box-shadow: rgba(0,0,0,.1) 0px 1px 1px;
	padding: 3px;
	margin: 12px 12px 30px;
}

.blog .post:first-child {
	border: none;
}

.blog #content .post h2 {
	margin: 0 0 10px;
}

.blog .post-meta {
	opacity: .6;
}

.blog .post-excerpt {
	padding-top: 10px;
}

.post .post-head {
	display: block;
	text-align: center;
	padding: 5%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	position: relative;
	margin-right: -3px;
	margin-top: -3px;
	margin-left: -3px;
}

.post .post-head:after {
	content: '';
	background-color: rgba( 0, 0, 0, 0.3 );
	border-radius: 4px 4px 0 0;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.post .post-head p {
	color: rgba( 255, 255, 255, 0.6 );
	text-transform: uppercase;
	font-weight: 700;
	font-size: 11px;
	letter-spacing: 1px;
	margin-top: -40px;
	padding-bottom: 40px;
	position: relative;
	z-index: 1;
}

.post .post-head h2, .single .post .post-head h2 {
	display: block;
	font-size: 22px;
	font-weight: 500;
	color: #fff;
	text-shadow: rgba(0,0,0,.5) 1px 0px 4px;
	max-width: 500px;
	line-height: 130%;
	margin: 50px auto !important;
	position: relative;
	z-index: 1;
}

.post .content {
	line-height: 150%;
	padding: 0 15px;
}

/* @end */

/* @group Single */

.single a#blog-back {
	color: #fff;
	display: block;
	font-size: 80%;
	text-align: center;
	opacity: .6;
	padding: 15px 0 15px;
	text-transform: uppercase;
}

.single #content {
	padding: 0 0 20px;
}

.single .content {
	background-color: #fff;
	padding: 6px 12px;
	margin: 12px;
}

.single .post-date, .single .post-author {
	opacity: .6;
}

.single #content p {
	line-height: 145%;
	font-size: 95%;
}
	.single #content p:first-child {
		margin-top: 4px;
	}

.single .nav-controls {
	margin: 15px 0;
}

/* @end */

/* @group Comments */

.single #comments {
	padding: 0 12px 20px;
	margin: 10px;
	border-radius: 4px;
	background: rgba( 255, 255, 255, 0.9 );
}

.single #comments h3 {
	margin-top: 0;
}

.single #comments label {
	display: block;
	text-transform: uppercase;
}

.comment .comment-avatar {
	float: left;
	height: 40px;
}

.comment .comment-avatar img {
	height: 40px;
	margin-right: 15px;
	width: auto;
}

.comment .meta {
	opacity: .6;
}

.comment .comment-time {
	font-size: 80%;
	margin-top: 3px;
}

.comment .comment-body {
	line-height: 140%;
}

.single button#submit {
	border-radius: 3px !important;
	text-transform: uppercase;
}

/* @end */


a.load-more-link {
	text-transform: capitalize;
	padding-top: 20px;
}

#searchform {
	text-align: center;
	margin-top: 25px;
}

#searchform input#search-text {
	width: 50%;
	padding: 3px;
	font-size: 16px;
	border-radius: 2px;
	border-color: rgba(0,0,0,.3);
	border-width: 1px;
}

#searchform #search-submit {
	width: 25%;
	background-color: rgba(0,0,0,.3);
	font-size: 100%;
	color: #fff;
	text-transform: capitalize;
	text-shadow: rgba(0,0,0,.7) 0 -1px 0;
	padding: 2px;
	border-radius: 2px;
	border-color: rgba(0,0,0,.3);
	border-width: 1px;
}

/* @end */

/* @group Related Posts */

.related-posts {
	margin-top: 20px;
	padding: 0 15px;
}

.related-posts ul {

}

.related-posts ul li {
	position: relative;
	list-style-type: none;
	margin: 0 0 20px;
}

.related-posts h3 {
	padding-bottom: 10px;
}

.related-posts li a {
	font-size: 1.2em;
}

.related-posts li.has-thumb  p {
	margin-top: 5px;
}

.related-posts li.has-thumb  a, .related-posts .has-thumb p {
	padding-left: 60px;
	display: block;
}

.related-posts .has-thumb img {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 5px;
	border: 1px solid rgba(0,0,0,.3);
}

.rtl .related-posts img {
	left: 0;
}



/* @end */

/* @group Pages */

#content .page h2.post-title {
	margin-top: 0;
}

/* @end */

/* @group Search */

#content h3.search-heading.page-heading {
	text-align: left;
	padding-top: 0;
	padding-bottom: 10px;
	font-size: 150%;
}

#content h3.search-heading {
	text-transform: capitalize;
	font-size: 140%;
}

#content.search li {
	padding-bottom: 15px;
	padding-top: 0;
	margin-bottom: 15px;
}

#content.search li a {
	font-size: 130%;
	font-weight: bold;
}

#content.search li a:after {
	font-family: 'wptouch-icons';
	content: "\e815";
	margin-left: 5px;
}

#content.search li p {
	margin: 5px 0;
}

#content.search .date {
	font-size: 90%;
	color: rgba(0,0,0,.5);
	margin-top: 0;
}

/* @end */

/* @group Comments */

#comments {
	padding: 0;
}

h3#responses {
	font-size: 110%;
	text-transform: capitalize;
	margin-bottom: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	margin-top: 25px;
}

h3#responses:before {
	content: "\e813";
	margin-right: 5px;
	font-style: normal;
	font-family: 'wptouch-icons';
	font-variant: normal;
	margin-bottom: 0;
}

li.comment {
	overflow: hidden;
	position: relative;
}

.comment-top {
	padding-top: 5px;
	padding-left: 10px;
}

.comment .comment-author {
	font-weight: bold;
	position: relative;
	font-size: 110%;
	margin-bottom: -6px;
}

.comment .comment-time {
	color: #777;
	font-size: 85%;
}

.comment img.avatar {
	float: left;
	margin-right: 8px;
	max-width: 48px;
	height: 40px;
	background-color: rgba(0,0,0,.05);
	position: relative;
	bottom: 5px;
	box-shadow: rgba(0,0,0,.2) 1px 0px 0px;
	border: 1px solid rgba(0,0,0,.5);
	padding: 2px;
	width: 40px;
}

.comment-body {
	font-size: 85%;
	padding: 0 10px 10px;
}

ol.commentlist ul {
	box-shadow: none;
	border: 1px dashed #d2d2d2;
	margin: 10px 10px 25px;
}

#respond {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;
}

/* @end */

/* @group Login Fly-In */

.dark-header .wptouch-login-wrap, .dark-header .wptouch-login-wrap a {
	color: rgba(255,255,255,.8);
	text-shadow: rgba(0,0,0,.2) 0 -1px 0;
}

.dark-header .wptouch-login-wrap #wp-submit {
	color: rgba(255,255,255,.8);
	border: 1px solid rgba(0,0,0,.2);
	background-color: rgba(0,0,0,.1);
}



/* @end */

/* @group Footer */

.social-footer-badges {
	line-height: 230%;
}

#switch {
	font-size: 90%;
	line-height: 140%;
}

.footer {
	color: rgba(0,0,0,.5);
	text-shadow: rgba(255,255,255,.6) 0px 1px 0px;
	font-size: 80%;
	line-height: 1.4em;
	padding-top: 15px;
}

/* @end */

/* @group Dark */

.dark-header .toggle-button, .dark-header .login-button, .dark-header #menu a, .dark-header #feature_pages a:after {
	color: rgba(255,255,255,.9);
	text-shadow: rgba(0,0,0,.5) 0 -1px 0;
}

.dark-header .homepage-menu a.touched {
	color: #FFF;
}

.dark-body #header-area h1 {
	text-shadow: rgba(0,0,0,.6) 0 1px 0;
}

.dark-body .footer {
	color: rgba(255,255,255,.7);
	text-shadow: rgba(0,0,0,.6) 0px -1px 0px;
}

.dark-body #switch a {
	color: rgba(255,255,255,.6);
}

/* @end */

/* @group Web App Mode */

.ios7.web-app-mode .fixed-header-fill {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 20px;
	z-index: 5;
	display: block;
	opacity: 0.96;
}

.ios7.web-app-mode.smartphone #menu {
	padding-top: 20px;
}

.ios7.web-app-mode.smartphone .menu-bumper  {
	height: 22px;
}

.ios7.web-app-mode.smartphone .menu-bumper a.toggle-button, .ios7.web-app-mode.smartphone .menu-bumper a.login-button {
	top: 22px;
}



/* @end */
